[2019-05-16 22:11] scampi commented on #3549
From @shepmaster on discord: for Linux users, you can do the following "hack":

[code]

[2019-05-16 22:23] #3554 closed

[2019-05-17 07:19] scampi commented on #3525
I will (try) take care of this.

[2019-05-17 09:49] ifreund commented on #3450
Too bad, it can make code much more readable in my opinion.

[2019-05-17 14:11] topecongiro commented on #3310
@sphynx Thank you for your work! I think we can just use the original `clap` style message.

[2019-05-17 14:21] shepmaster commented on #3549
I'm unfamiliar with the syntax you show; I used Bash's [process substitution](https://www.gnu.org/software/bash/manual/html_node/Process-Substitution.html):

[code]

[2019-05-17 14:41] scampi commented on #3549
sorry, habit: that syntax is on zsh http://zsh.sourceforge.net/Doc/Release/Expansion.html#Process-Substitution. Thanks @shepmaster for spotting this.

[2019-05-17 15:56] topecongiro commented on #3489
@retep998 Are your path dependencies added to `exclude` key in Cargo.toml? It turns out that all path dependencies are part of the workspace member (cc https://doc.rust-lang.org/cargo/reference/manifest.html#the-workspace-section). If they are not, could add your vendored dependencies to `exclude` key and try running rustfmt?

[2019-05-18 11:00] upsuper opened #3560 "Less ideal formatting for struct pattern matching in if let"
Given the following code:
[code]

rustfmt formats the `if let` as
[code]
which looks rather unfortunate...

Should probably keep the original form in this case?

[2019-05-18 11:40] upsuper commented on #3560
Also I leave the configuration default, which means `control_brace_style` should be `AlwaysSameLine`, however it pushes the brace to the next line here, which seems like a bug?

[2019-05-18 12:17] sphynx commented on #3310
@topecongiro Ok, thank you for the feedback!
I’ll polish the code and prepare a pull request in a couple of days.

[2019-05-18 14:06] topecongiro commented on #3560
`control_brace_style` only applies to control flows whose pattern consist of a single line. IIRC, if the pattern consists of multiple lines, then rustfmt will put the opening brace on the next line.

[2019-05-18 15:11] jrobsonchase commented on #3362
Assuming the rust compiler is behaving as intended, this can break imports. Currently, these are not semantically equivalent, but rustfmt with `merge_imports` will format the former into the later:

[code]

[code]

[2019-05-18 18:19] TheSilvus opened #3561 "Block with leading semicolon is formatted incorrectly"
Formatting code with a leading semicolon on the same line as an open curly bracket behaves weird.

[code]
becomes
[code]

[code]
becomes
[code]
Tested with `rustfmt 1.2.2-nightly (5274b49 2019-04-24)`.

[2019-05-18 19:07] Seeker14491 opened #3562 ""left behind trailing whitespace" error in enum"
Attempting to format the following enum:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=61f6678aede4b925f52eee851e291cc4)

produces this error:

[code]

There's issues #2896 and #2916 where a similar error is reported, but those involved comments, which is not the case here.

**rustfmt version:** rustfmt 1.2.2-nightly (5274b49c 2019-04-24)

[2019-05-18 19:10] softprops commented on #3375
what are the blockers for stabilizing this. I'd like to help push if forward if I can. Most of my applications target stable but my CI is forced to run a nightly build just for the sake of validating codestyle with rustfmt and this option

[2019-05-18 22:27] dannomayer commented on #3549
Hi @shepmaster @scampi I would like to contribute and tackle this issue. It's my first time contributing to the project, could you provide me with a little guidance on how to get started on this?

[2019-05-18 23:32] dangerbarber opened #3564 "Add option to put a space after function name and generic parameters"
For a library that I'm developing, part of the styleguide that I developed was to leave a single space after the function name and generic parameters. To my knowledge, it's not a common format, but in my opinion is more readable (especially when no syntax highlighting is available).

A couple of examples of this format are as follows:
[code]

Forgive me if this isn't something that is appropriate

[2019-05-19 12:32] topecongiro commented on #3529
Ah, if you are using stable rustfmt, then it could be slightly outdated. Since this is already fixed in nightly rustfmt, I will close this issue. Sorry for the inconvenience.

[2019-05-19 12:32] #3529 closed

[2019-05-19 16:27] mexus opened #3567 "Semicolon is replaced with a colon in a `vec`-inside-a-`vec` macro invocation"
Here's a Rust file:
[code]

Here's a result of running `rustfmt --check` against it:
[code]

This replacement actually breaks the code: instead of creating an inner vector of 10 zeroes, a vector with two elements (`0` and `10`) is constructed.

The issue is reproducible on both the following versions:
* stable — `rustfmt 1.0.3-stable (d6829d6 2019-02-14)`
* nightly — `rustfmt 1.2.2-nightly (5274b4

[2019-05-19 16:40] jrobsonchase opened #3568 "`use` normalization can break `self` imports"
There are rare cases where normalizing a `use a::b::{self};` into `use a::b;` will break things. Specifically, cases in which `b` already exists as a function or macro in the current namespace, and you *only* want to import it as a module.

Playground example: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=12f1d13256258ac8b34d06b9592a86ef

Running rustfmt on this will caus

[2019-05-20 06:11] topecongiro commented on #3568
Thank you for pointing it out. Since one of rustfmt requirements is to not break the code, we need to disable this normalization. We could add a configuration option for this, but I am not sure if it would be all that useful.

[2019-05-20 15:00] BO41 opened #3571 "Add topics to GitHub"
See https://github.com/blog/2309-introducing-topics.
Looks like only the owner can do that

It should have _Rust_ and _formater_/_fmt_ or something like those

[2019-05-20 15:40] topecongiro commented on #3571
Added `rust`, `rustfmt`, `formatter` and `codeformatter`.

[2019-05-20 15:45] BO41 commented on #3571
perfekt!
thanks :heart:

[2019-05-20 15:45] #3571 closed

[2019-05-20 20:57] rotty opened #3572 "Regression against 1.0.3: "error[E0583]: file not found for module""
With a 2015-edition crate, "cargo fmt" fails on both current beta and nightly, whereas stable works:

[code]

Note that for beta, the `--version` flag seems to be broken as well; it yields no output, although `rustfmt --version` works:

[code]

Anyway, to reproduce, you can run the following:

[code]

[2019-05-20 21:09] rotty commented on #3572
Note that changing to the 2018 edition for the `rust-zmq` crate did not help, the same error message is produced by `cargo +beta fmt`.

[2019-05-21 00:55] JP-Ellis opened #3574 "Inconsistent Formatting with non-ASCII characters"
It appears that rustfmt does not always format essentially identical lines the same, and in this case the only difference is that one line has only ASCII characters, while the other has non-ASCII characters.  The specific example I have (after formatting):

[code]

where each line within the `iproduct!` loop should be identical as they are all exactly the same length; however, the line with the `γ

[2019-05-21 02:42] #3525 closed

[2019-05-21 02:43] #3568 closed

[2019-05-21 06:16] dtolnay opened #3575 "Regression in normalize_doc_attributes behavior on empty lines"
Input file:

[code]

Before, correct behavior:

[code]

After, incorrect behavior:

[code]

The regression occurs in the range https://github.com/rust-lang/rustfmt/compare/421ed946bfc52738dd13931cddb12c87b34e34b9...0482ac88f4da28fb49abe05da11e5535f5aac9a8. @bash @topecongiro

`#[doc = ""]` is the doc attribute representation of an empty doc line. You can confirm this by running:

[code]

Empty lin

[2019-05-21 08:17] scampi commented on #3549
@dannomayer Thanks for giving this a try!
I would add the logic to `src/bin/main.rs`:
- add a new CLI option called `--config`
- this accepts a pair of values separated by `=`
- the value set this way has precedence over what is set in a `rustfmt.toml` file
- add few tests ;o)

The module `config` contains everything that pertains to the `Config` struct.
Don't hesitate to open a WIP PR to get earl

[2019-05-21 12:49] derekdreery commented on #3243
Two things, both related to ignoring everything.

 1. currently `ignore = ["."]` doesn't work
 2. there is no `ignore_all` directive

Basically I got stung while working on Rocket (which doesn't use rustfmt) because my vim automatically runs `cargo fmt` on save. This caused me a lot of pain. However generally I want to run `cargo fmt` so I'd rather keep it built in.

A way to solve this problem is

[2019-05-21 15:15] topecongiro opened #3578 "Add a test for normalize_doc_attributes under tests/source/configs and tests/target/configs"

[2019-05-21 21:12] scampi commented on #3567
as a side note: using square brackets instead of parenthesis would leave it as is.

[2019-05-21 22:00] #3567 closed

[2019-05-22 01:49] #3575 closed

[2019-05-22 01:51] #3562 closed

[2019-05-22 07:41] #3536 closed

[2019-05-22 14:16] topecongiro commented on #3243
@derekdreery `ignore = ["/"]` should work. We recently changed the pattern of `ignore` to mimic .gitignore.

[2019-05-22 14:40] topecongiro commented on #3572
### A minimal working example

Create a rust file with a submodule declaration and a directory whose name is the same as the rust filename.

[code]

#### src/connection.rs

[code]

[2019-05-22 19:03] sphynx commented on #2694
@chris-morgan @jakoschiko @Stargateur Can someone on Windows please check whether it is still a problem, after PR #3569 has been merged?

[2019-05-22 21:55] jakoschiko commented on #2694
[code]

[2019-05-23 20:59] sphynx commented on #2694
@jakoschiko Ok, thank you!

It looks like this problem with `Failed to find targets` is not directly related to command line arguments parsing. I don't have a way to debug it (I am on Mac), so I am just looking at the code :)

This error comes from `get_targets` function. Targets are produced by `CargoFmtStrategy` which has three cases. By default, when no arguments are provided to `cargo fmt` – i

[2019-05-23 21:18] jakoschiko commented on #2694
@sphynx
I already tried it, see https://github.com/rust-lang/rustfmt/pull/3309#issuecomment-459907591.

[2019-05-24 08:08] scampi commented on #3574
Another issue that seems related https://github.com/rust-lang/rustfmt/issues/3235 it had a PR but looks like it missed some cases!

[2019-05-24 19:31] thomcc opened #3583 "Latest update of stable fails to format |foo = bar| (in a macro)"
This file fails to format with the latest stable rustfmt (1.2.0, --version output at end). The macro below seems to be the cause https://github.com/mozilla/application-services/blob/eb72c9aa1e5ecfcf79c1444eb98910727c699f61/components/places/benches/search.rs#L66-L74 (We managed to fix that issue by changing the `=` to a `:`)

It also fails to report any errors beyond exiting with code 101, which a

[2019-05-25 15:18] rchaser53 commented on #3583
This is the rustfmt failed CI [link](https://circleci.com/gh/mozilla/application-services/14922?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) in your repository.
It seems that the other trouble(maybe ssh key related) so it's not a rustfmt bug.

I tried to reproduce your CI error in my fork repository. But rustfmt run correctly.
This is a CI [link](https://circ

[2019-05-25 18:36] kennytm opened #3584 "rustfmt strips the `where` clause from trait alias"
Input:

[code]

Unexpected rustfmt output:

[code]

* rustfmt version: `1.2.2-nightly (2019-04-24 5274b49)`

[2019-05-25 18:58] thomcc commented on #3583
That's not the right link to a CI failure from this, here's one: https://circleci.com/gh/mozilla/application-services/15051

You can also repro by checking out commit `eb72c9aa1e5ecfcf79c1444eb98910727c699f61` and using rustfmt.

[2019-05-25 23:55] rchaser53 commented on #3583
I can reproduce the problem, thank you.

[2019-05-26 10:04] TrinityCoder opened #3585 "Items with '#[macro_use]' not inlined by 'inline_attribute_width' config option"
# 1. Description
No matter the value set in the option `inline_attribute_width` (100, same as `max_width` for me), rustfmt _never_ inlines this:
[code]

into this:
[code]

However, when I change the first code snippet into this:
[code]

it suddenly works. [According to the Rust docs](https://doc.rust-lang.org/reference/attributes.html), `macro_use` is one of many built-in attributes, just like `cf

[2019-05-27 01:59] topecongiro commented on #3583
A minimal working example:

[code]

rustfmt somehow aborts while parsing the argument of `foo!`. Since rustfmt catches unwinding panics from the parser, I suspect that in some cases the parser aborts the whole process. Not sure how this can be fixed from the rustfmt side.

[2019-05-27 02:18] topecongiro opened #3587 "[RFC] Change the default behavior of rustfmt to not to format sub-modules"
### Summary

Change the default behavior of rustfmt to **not** to format sub-modules of the given files by default. The behavior of `cargo fmt` will not change with this proposal.

### Steps

1. Change the default behavior of rustfmt to not to format sub-modules
2. Deprecate `--skip-children` (as it will the default)
3. Add `-r,--recursive` command line option, when if present, rustfmt will format

[2019-05-27 07:01] thomcc commented on #3583
I'm not sure the rust parser aborting makes a lot of sense, since the code in the case I'm reporting compiles (and runs) fine.

[2019-05-27 09:29] mexus commented on #3567
Thanks for a fast fix and for a workaround :)

[2019-05-27 10:33] otavio commented on #3587
Given `cargo fmt` behavior does not change, I think it does make sense so it is, in fact, applying at the given file.

[2019-05-27 11:06] RazrFalcon opened #3588 "How to emit a diff?"
[code]

[2019-05-27 11:17] sinkuu commented on #3588
`cargo fmt -- --check`

[2019-05-27 11:26] RazrFalcon commented on #3588
Thanks!

[2019-05-27 11:26] #3588 closed

[2019-05-27 12:25] scampi commented on #1873
@Xanewok If possible, could you open an issue on the rust repo about this ? I believe you'd explain what is wrong better than me! Thanks

[2019-05-27 15:10] topecongiro commented on #3583
@thomcc Yeah, you are right. I took another look at the code and found that panics raised while parsing macro arguments are not caught.

[2019-05-27 21:24] scampi commented on #1873
It seems a bunch of work is underway to tackle this:
- https://github.com/rust-lang/rust/issues/42869
- https://github.com/rust-lang/rust/issues/59117
- https://github.com/rust-lang/rust/issues/32689

[2019-05-27 22:49] #3583 closed

[2019-05-28 01:42] lzutao opened #3591 "OR condition is not formatted"
Sample code:
[code]

What I expect:
[code]

[2019-05-28 01:46] topecongiro commented on #3591
cc #3167.

[2019-05-28 07:46] hellow554 commented on #2781
The rest isn't fixed.

Another example:

[code]

becomes

[code]

@topecongiro any reason why this (kind of critical) bug hasn't been fixed yet? It's almost open for a year now.

[2019-05-28 08:59] scampi commented on #2781
@hellow554 Thanks for giving an additional example where the comment is lost. That seems a strange place to put a comment though.
You are welcome to propose a PR to help resolve this issue faster too ;o)

[2019-05-28 09:13] scampi commented on #2781
Maybe we could try to create some kind of code generator that inserts comments at random places and see where comments are lost. The reason is that the span between some token is not taken into consideration and therefore you get lost comments. But I feel like that would make the code base harder to maintain. Or a re-design would be needed to facilitate how these missing spans are retained, at the

[2019-05-28 17:10] redg3ar opened #3592 "Erasing inner attributes in blocks"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=017f6e619b60b265f62758d606d07e99))

Running rustfmt on this code erases the #![cfgs], and creates an invalid return type. I am not sure if the tuple is necessary but I had one when I first encountered the bug.

This occurs no matter how many fields are in the struct or block.

This seems similar to #2073,

[2019-05-28 18:59] derekdreery commented on #3243
Can confirm that works - could it be made more discoverable?

[2019-05-28 20:42] scampi commented on #3243
@derekdreery The configuration file https://github.com/rust-lang/rustfmt/blob/e0664662b49c1ed3e99391c51132ddf01cd87c79/Configurations.md#ignore has been updated few days ago with an example about this.

[2019-05-28 22:27] derekdreery commented on #3243
Awesome, exactly what I wanted :)

[2019-05-29 22:31] #3592 closed

[2019-05-30 02:35] tesuji opened #3594 "Format long numeric literals"
I got this warning from clippy:
[code]

It would be better if rustfmt can handle it automatically.

[2019-05-30 03:52] sinkuu commented on #3594
`unreadable_literal` emits a machine-applicable suggestion, which would (hopefully) become auto-fixable by `cargo fix` with clippy integration in the future.

[2019-05-30 07:39] #3584 closed

[2019-05-30 07:41] scampi commented on #3594
The rustfmt tool is not made for fixing such things

[2019-05-30 07:41] #3594 closed

[2019-05-30 10:10] mverleg opened #3595 "Nested function alias invalid after formatting"
Before formatting ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=080777b8301043195349dbbdf6389bfb)):

    pub type TestType = fn() -> (ReqMsg, fn(RespMsg) -> ());

After formatting:

    pub type TestType = fn() -> (ReqMsg, fn(RespMsg) -> ()) -> (ReqMsg, fn(RespMsg) -> ());

Command:

    cargo +nightly fmt --all

Version:

    rustfmt 1.2.2-nightly (5274b49

[2019-05-30 14:07] #3595 closed

[2019-05-31 07:06] lzutao commented on #3594
What I mean is not fixing those clippy lints. But rustfmt could formats those long
numeric literals while running?

[2019-05-31 07:55] scampi commented on #3594
@lzutao Given the assert expression in the description, what would you expect the formatting to be ?

[2019-05-31 18:55] czipperz commented on #6
It appears that rust fmt replaces many non-unicode chars (such as `σ` or `μ`) with space ` `.

[2019-06-01 08:53] crlf0710 commented on #2407
Just meet this on my code, my code is:

[code]

[2019-06-01 13:02] jimmycuadra commented on #3361
What's necessary to stabilize this?

[2019-06-01 14:41] marienz opened #3597 "Consider renaming --print-config to something that implies writing to a file"
While trying to work out what rustfmt's default config is, I overwrote my source with that config.

This is PEBKAC, but maybe some tweaks to rustfmt's behavior or help output could make it more idiot-proof? If `--print-config` had been called `--write-config` I probably would've paid more attention. Or maybe it should refuse to overwrite existing files by default?

Here's what I ran, and what I th

[2019-06-02 16:50] scampi commented on #3361
There are some steps described in https://github.com/rust-lang/rustfmt/blob/master/Processes.md#stabilising-an-option.
https://github.com/rust-lang/rustfmt/pull/3581 is an attempt at this.

[2019-06-03 04:27] upsuper commented on #1867
Although order of derives can be semantically important, I believe majority of custom derives don't care about other derives, and it could almost certainly be surprising if a custom derive is sensitive to the order.

So I think it is probably a good idea for rustfmt to support sorting derives (maybe as an opt-in for now), and discourage custom derive to rely on its position in derive list.

There

[2019-06-03 13:26] #3375 closed

[2019-06-03 14:57] #3542 closed

[2019-06-03 14:58] topecongiro commented on #3489
Closing this as expected behavior.

[2019-06-03 14:58] #3489 closed

[2019-06-03 14:58] retep998 commented on #3489
I can confirm that adding the vendored dependencies to `exclude` resolved the issue for me.

[2019-06-04 12:04] mzabaluev opened #3599 "Poor line breaking of multi-item type parameter bounds featuring bracketed generic arguments"
This is how rustfmt formats a long list of type parameter bounds featuring a long list of bracketed generic arguments:

[code]

The first bound after the closing bracket is formatted inline and is visually obscured.
It would be better to break and align the top-level `+` separators:

[code]

[2019-06-04 12:38] scampi commented on #3599
Can you share the snippet where this appears in ?

[2019-06-04 14:03] mzabaluev commented on #3599
Here's a self-sufficient code snippet:

[code]

[2019-06-04 15:14] #3585 closed

[2019-06-05 06:24] hellow554 opened #3601 "rustfmt on impl with const generic adds unwanted code"
Before formatting:

[code]

After formatting:

[code]

Used 1.2.2 nightly (2019-04-24 5274b49)

[2019-06-05 06:29] hellow554 commented on #3601
It gets a litt bit weired, if the trait has an method

[code]

[code]

There's yet another additional `{ N }` showing up.

[2019-06-05 09:17] scampi commented on #3564
That style feels very specific, I don't think rustfmt should try providing an option for it. See https://github.com/rust-lang/rustfmt/issues/1974 where many old config option about spacing got merged/removed.

[2019-06-05 11:26] scampi commented on #1867
I didn't know before now the order is important. If a derive is sensitive to order, then I imagine the confusion from the user in case of an error.
Even if the option is an opt-in, a user may enable it knowingly but forget about it later, and would be caught by it...

[2019-06-05 11:35] upsuper commented on #1867
As I mentioned, I think it should generally be considered a bad practice to have derive order sensitive.

Doing so would surprise users anyway, given how few people are aware of it, regardless of whether rustfmt would sort it.

[2019-06-05 17:50] carllerche commented on #2407
I have hit this issue as well [here](https://github.com/carllerche/loom/blob/981e6f60db2b71c515ab46c4c68c1d975220ce6e/src/rt/scheduler/mod.rs#L3-L7).

[2019-06-05 23:49] aebarber commented on #3564
That's understandable, it may well be too specific to put in as a built-in option, but even if it isn't inherently supported, it should certainly be possible in some way. Is there a way to extend the functionality via external code? It would absolutely be acceptable if I had to write a plugin or something to get this functionality.

[2019-06-06 04:02] topecongiro commented on #2407
Note that we cannot completely support the cases like https://github.com/rust-lang/rustfmt/issues/2407#issuecomment-497926838, given the current design of rustfmt, whose main data structure is the AST from the rust compiler. Which files to be formatted will be feature/platform dependent.

[2019-06-06 04:06] #3601 closed

[2019-06-06 09:45] topecongiro commented on #3537
We probably need to replace "\\" with "/".

[2019-06-06 10:46] scampi commented on #3564
I don't think rustfmt provides a plugin interface, but that sounds like something worth having!

[2019-06-06 14:02] eminence opened #3603 "Can't use modules with a custom path with `..` [windows only]"
# Error message:

[code]

# Source code:

**src\main.rs:**
[code]

**foo.rs:**
[code]

# Notes:

* The code is valid (`cargo build` is happy).
* This only shows up on Windows (my system is Windows 7).  This does not reproduce on Linux
* This only happens if there is a `..` in the path.

After poking about some MSDN docs, I [found this](https://docs.microsoft.com/en-us/windows/desktop/fileio/naming

[2019-06-06 14:20] scampi commented on #3603
PRs #3324 and follow-up #3590 attempt to fix. Altough the proposed fix worked for me, it didn't for another user, so you might want to try out those branches too.

[2019-06-06 14:46] mzabaluev commented on #3361
Why does `Horizontal` have to exceed `max_width`?
How does this behavior interact with `merge_imports = true`?

I think it should be possible to try to fit all import statements into `max_width`, replicating the path prefix  for any spill-over items into the next line(s).

[2019-06-06 14:54] mzabaluev commented on #3361
One good reason to prefer the `Horizontal` layout (and stabilize this setting after the behavioral aspects are ironed out) is to keep the imports searchable with grep-like tools that don't easily match across multiple lines.

[2019-06-06 16:02] topecongiro commented on #2407
@carllerche With respect to your project (loom), are these two files ([1] [2]) part of your crate? IIUC they aren't referenced at all in the crate.

Asking because when testing with #3604 these two files weren't formatted when running `cargo fmt`. I would like to know if this is a bug or not.

[1] https://github.com/carllerche/loom/blob/981e6f60db2b71c515ab46c4c68c1d975220ce6e/src/rt/scheduler/fri

[2019-06-06 16:08] carllerche commented on #2407
@topecongiro `fringe` is not currently (commented out), but `gen` is enabled via [feature flag](https://github.com/carllerche/loom/blob/981e6f60db2b71c515ab46c4c68c1d975220ce6e/Cargo.toml#L32-L33) and [cfg guard](https://github.com/carllerche/loom/blob/981e6f60db2b71c515ab46c4c68c1d975220ce6e/src/rt/scheduler/mod.rs#L3-L4).

[2019-06-06 19:12] mkurnikov opened #3605 "Single expression closure without parameters"
Before:
[code]

After:
[code]

Maybe lazy string (empty closure params and `format!` call inside) and other single expression closures should not be split by a new line, and instead being considered as an atomic element?

If I add more arguments, so that a list would be formatted as arg-per-line anyway, it behaves exactly like that and is more readable in my opinion
[code]

[2019-06-07 02:31] topecongiro opened #3606 "Inner attributes inside modules are not formatted"

[2019-06-07 02:50] topecongiro commented on #3599
In addition to @mzabaluev's comment, I think that we shouldn't put the `Future` on the same line as `type`. Specifically, if the generic bounds span to multiple lines, then we should put them on the next line with additional indentation:

[code]

[2019-06-07 02:58] topecongiro commented on #2654
Since `servo` is excluded from a workspace, cargo fmt cannot find it. I don't think there is anything we can do to fix this issue, sorry.

[2019-06-07 02:58] #2654 closed

[2019-06-07 05:32] mzabaluev commented on #3599
@topecongiro The indentation in your snippet looks inconsistent. I would prefer all bound lines to be aligned on the same level:

[code]

[2019-06-07 08:34] topecongiro commented on #3599
@mzabaluev I agree with you.

[2019-06-07 19:45] DR-BoneZ opened #3609 "top-level `use` statements are sometimes deleted when rearraged."
Tested in VSCode with latest rls and `Format on Save`:
[code]
becomes
[code]
This deleted an import.
I have observed this behavior consistently on any set of mis-ordered imports.

[2019-06-08 06:43] topecongiro commented on #3609
Couldn't reproduce this locally. This is probably due to a bug in VSCode extension. cc https://github.com/rust-lang/rls-vscode/issues/595.

[2019-06-08 06:43] #3609 closed

[2019-06-08 07:50] #3493 closed

[2019-06-08 17:51] mgr-inz-rafal opened #3610 "Formatting removes function call parameters"
Hi!
I've been redirected here from the `rls` issues. See details below.
https://github.com/rust-lang/rls/issues/1479

Data:
**VS Code** Version 1.35.0 (user setup)
**OS** Windows_NT x64 10.0.17134
**rustc** 1.35.0 (3c235d560 2019-05-20)
**rustfmt** 1.2.0-stable (09940a70 2019-03-27)
**Rust (rls) extension** 0.6.1 - 2019-04-04

That's really odd. I noticed that after I saved the file (with format-o

[2019-06-08 22:06] scampi commented on #3610
I am not able to reproduce what you have with either the version 1.2.0 or the latest master. What if you try to format the project manually via `cargo fmt`, do you get the same problem ? If not, then the problem maybe would be with the `format-on-save` option of vscode.

[2019-06-08 22:09] scampi commented on #3610
I ran rustfmt against your repo and the diff looks fine:

[code]

[2019-06-09 00:20] #2407 closed

[2019-06-09 09:56] mgr-inz-rafal commented on #3610
OK, that's right. `cargo fmt` formats the file correctly, but formatting via editor (which - I presume - uses `rustfmt` via RLS plugin) damages the file.

I'll reopen https://github.com/rust-lang/rls/issues/1479 and put more information there.

Thanks!

[2019-06-09 09:56] #3610 closed

[2019-06-09 11:49] scampi commented on #3610
@mgr-inz-rafal can you find out how rustfmt is called from vscode ? Maybe the bug appears in a different entry point to rustfmt

[2019-06-09 19:57] aloucks commented on #3368
Are there any unresolved questions or work needed for this option to be stabilized?

[2019-06-10 15:10] bgourlie opened #3613 "rustmt mangles code using const generics"
Original code:

[code]

After running `cargo +nightly fmt`

[code]

[2019-06-10 15:15] bgourlie opened #3614 "rustfmt can't parse negative const generic parameters"
`cargo +nightly fmt` fails to parse the following code:

[code]

output:

[code]

[2019-06-10 17:14] projedi opened #3615 "fn() -> fn(u8) -> u8 is formatted as fn() -> fn(u8) -> fn(u8) -> u8"
I have a function
[code]
Running `rustfmt --check` (`rustfmt 1.2.2-nightly (5274b49c 2019-04-24)`) yeilds
[code]
`fn(u8) ->` is duplicated.
* `fn() -> (fn(u8) -> u8)` yields `fn() -> (fn(u8) -> u8) -> (fn(u8) -> u8)`
* `fn() -> impl Fn(u8) -> u8` yields `fn() -> impl Fn(u8) -> impl Fn(u8) -> u8`
* `impl Fn() -> fn(u8) -> u8` is fine
* `fn() -> u8` is also fine

[2019-06-10 17:54] lzutao opened #3617 "Long assert lines is not formatted correctly"
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a8771dfdb984a4e9346de6f74a81b3a8)

For example:
[code]

What I expect:
[code]

[2019-06-10 20:43] scampi commented on #6
@czipperz Can you share an example where this happens ?

[2019-06-10 20:45] scampi commented on #3235
duplicate of #6

[2019-06-10 20:45] #3235 closed

[2019-06-10 23:15] czipperz commented on #6
Yes.  https://github.com/czipperz/rust-comp/blob/b1e3df1f7a04f99e0c0a7bac7f97d715c43ab187/rust-comp-front/src/pos.rs#L78 .  It's possible it's a problem with emacs.  When I run `M-x rust-fmt-buffer` it replaces unicode characters with spaces.  But `cargo fmt --all` works fine.

[2019-06-11 01:13] topecongiro commented on #3614
Cannot-be-parsed part is fixed on the master, though with suboptimal formatting:

[code]

[2019-06-11 01:15] topecongiro commented on #3615
This will be fixed in 1.3.0.

[2019-06-11 01:15] #3615 closed

[2019-06-11 03:33] JP-Ellis opened #3619 "Unable to format include! files"
I have a use-case in which I have sometimes very large mathematical expressions which, for the sake of code clarity, are contained in a separate file and included into the code with the `include!` macro.

It would be nice if rustfmt could format these included files as well.  Currently it is unable to do so as they are not valid rust code on their own.

A very simple example would be:

**`func.inc

[2019-06-11 04:55] rchaser53 commented on #3613
This issue is already resolved.
related: https://github.com/rchaser53/rustfmt/commits/issue-3613

[2019-06-11 09:32] #3613 closed

[2019-06-11 10:12] mgr-inz-rafal commented on #3610
Couldn't find any meaningful info about this topic. I hope that colleagues from RLS will be able to shed some light on the issue.

[2019-06-11 21:11] eddyb commented on #1324
@zroug That works great, I just had to add `"--edition=2018"` to the args list.

[2019-06-11 21:13] scampi commented on #6
@czipperz looks like it's emacs related indeed. Maybe if you find out how emacs calls rustfmt we can reproduce the bug if it really is on rustfmt sides.

[2019-06-12 08:09] GuillaumeGomez opened #3622 "Stabilization of ident_style?"
Hi,

Could we stabilize this feature please?

[2019-06-12 10:36] c410-f3r opened #3623 "Support for attributes in function parameters"
[#60669](https://github.com/rust-lang/rust/pull/60669) has been merged.

[2019-06-12 11:28] #3574 closed

[2019-06-12 13:41] topecongiro commented on #3622
The current implementation of the visual indent is kind of broken and I would like to fix it by using the visual indentation only when the whole expression or the type is simple.

Unfortunately, this is unlikely to happen in the near future because I don't have much time to work on it.

[2019-06-12 15:08] topecongiro opened #3624 "Format the last statement as an expression"
Replace `ExprType::Statement` with `ExprType::SubExpression` if the statement is the last statement within its enclosing block.

https://github.com/rust-lang/rustfmt/blob/1cea171cef198cf371a2f6d9182bc44a1a549e56/src/expr.rs#L585

One way to implement this is to add a wrapper type over `ast::Stmt` which holds the information about whether it's the last statement or not:

[code]

cc #3614.

[2019-06-13 01:33] calebcartwright commented on #3578
👋 I'd like to work on this one if it's still up for grabs

[2019-06-13 13:57] lzutao opened #3626 "Long statements continues on its own line"
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=36dbbba5dca8cccb2d15cac1a0288a91)

I tried to format this code:

[code]

What I expect:
[code]

What I got:
[code]

[2019-06-13 22:22] eddyb commented on #1324
Just ran into this:
[code]

So I modified your script to do 100 files at a time (pretty arbitrary but it worked in that case): https://gist.github.com/eddyb/23490b0a707d7ea87cba3be3ca93f0d7

[2019-06-14 02:01] calebcartwright opened #3627 "Question: How to run system & idempotence tests"
Not sure if this is a user error on my part or a bug/issue with these tests not running.

When I run `cargo test` in my local env, the system and idempotence tests don't appear to be running. Relevant snippets from the output:
[code]

This is also the case in the latest builds on Travis and AppVeyor. For example
https://travis-ci.com/rust-lang/rustfmt/jobs/207595534
https://ci.appveyor.com/project

[2019-06-14 02:20] calebcartwright commented on #3627
My sense is that the `is_file_skip`/`is_subpath` check [here](https://github.com/rust-lang/rustfmt/blob/master/src/test/mod.rs#L73) is resulting in every test file being skipped based on the values defined in the [SKIP_FILE_WHITE_LIST](https://github.com/rust-lang/rustfmt/blob/master/src/test/mod.rs#L23), as I _can_ get the tests to run by commenting out the entries in that list

[2019-06-14 05:09] topecongiro commented on #3627
@calebcartwright Thank you for catching this. This should be fixed with #3628.

[2019-06-14 05:12] calebcartwright commented on #3627
Awesome!

I had just managed to get it working locally by tweaking the `is_subpath` check to 😄
[code]

Thanks for getting this resolved so quickly!

[2019-06-14 12:07] #3627 closed

[2019-06-15 06:40] scottmcm commented on #3554
If anyone else ends up here to report this issue, note that playground is still using rustfmt from 2019-**04**-24, so hasn't picked up this fix yet.

[2019-06-16 00:17] zroug commented on #1324
Great changes @eddyb, thanks!

[2019-06-16 01:50] calebcartwright commented on #3537
@topecongiro - I'd be happy to take a look at this one

[2019-06-16 14:46] #3578 closed

[2019-06-16 22:16] scampi commented on #338
In order to properly wrap lines even with unicode chars, it is necessary to use `unicode_width::UnicodeWidthStr` to compute the length of a line instead of `String::len`. However, it's computationaly more expensive as noted in https://github.com/rust-lang/rustfmt/pull/3618#issuecomment-501232266

[2019-06-16 23:53] #3614 closed

[2019-06-17 21:18] #3624 closed

[2019-06-17 21:26] scampi commented on #3606
@topecongiro Can you share an example ?

[2019-06-18 20:49] davidMcneil opened #3634 "Visual ident style of `if` in closure is wrong"
This
[code]

is turned into this
[code]

[2019-06-19 06:23] lonng opened #3635 "Legal code will be formated as illegal code"
[code]
will be formated as
[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=53b9d6c4cd23bf85c22cdd25ac9e87f2

[2019-06-19 07:06] topecongiro commented on #3635
This is fixed on 1.3.0. It will be available via rustup in few days (hopefully).

[2019-06-19 07:06] #3635 closed

[2019-06-19 07:08] scampi opened #3636 "Failed assertion with file_lines option"
- `CFG_RELEASE_CHANNEL=nightly cargo run --bin rustfmt -- --check file.rs --unstable-features --file-lines '[{"file":"file.rs","range":[2,5]}]'`
- rustfmt: 1d19a08ed4743e3c95176fb639ebcd50f68a3313

[code]

[code]

[2019-06-19 08:10] scampi commented on #3636
related to #3397

[2019-06-19 09:39] scampi opened #3637 "method call is put a new line although there is enough horizontal space"
[code]

[code]

[2019-06-19 20:10] topecongiro commented on #3636
Possibly related to #3609.

[2019-06-19 22:14] cramertj opened #3638 "Wrapping at just over 100 chars for macro invocation"
[code]
is the result of `rustfmt` with the default config, but it should be wrapping the `abait!` line. If `abait!` is replaced with a function `abaity`, `rustfmt` will wrap the line.

[2019-06-20 05:01] scottmcm opened #3639 "Not all empty where clauses are removed"
[code]
formats to
[code]
https://play.rust-lang.org/?edition=2018&gist=3e0a3b133c330b399f45a4fac98c518f

I would have expected that all the empty where clauses were removed, not just the one on the trait, for an output like
[code]

[2019-06-20 10:12] topecongiro commented on #3637
This is expected, as the width of the chain exceeds `chain_width` (which is 60 by default).

[2019-06-20 10:12] #3637 closed

[2019-06-20 18:10] singpolyma-shopify opened #3641 "Allow field access on same line when breaking long chain?"
rustfmt currently requires:

[code]

It seems that it would be reasonable to have a setting for:

[code]

[2019-06-20 18:24] domohawk opened #3642 "Add separate "continuation indent space" setting"
"tab_space = 2" will set my block indent to 2, but it also sets the indentation for continued lines (function params, long lines, etc) to 2 as well. It would be great to have a separate option for continued lines.

For example, the Google Style guide uses and indent=2 and continued_indent=4, which for me is more readable as I can easily see which indentations are blocks and which are continued lin

[2019-06-20 18:45] domohawk commented on #3642
Also I'm new to rust, but if I could get confirmation such a new setting would be accepted I'd be happy to create a pull request.

At cursory glance, it seems like just using the new option value in [chain.rs](https://github.com/rust-lang/rustfmt/blob/1cea171cef198cf371a2f6d9182bc44a1a549e56/src/chains.rs#L729) and [lists.rs](https://github.com/rust-lang/rustfmt/blob/1d19a08ed4743e3c95176fb639ebcd

[2019-06-22 14:11] kuviman opened #3643 "cargo fmt --package: not a member of workspace (Implicit workspace)"
Tested both in current stable & nightly

[code]

# Steps to reproduce

1) `cargo new cargo-fmt-test && cd cargo-fmt-test`
2) `cargo new --lib --name dependency-crate-name dependency-dir-name`
3) Add `dependency-crate-name = { path = "dependency-dir-name" }` to dependencies in `Cargo.toml`

So, we have a path dependency with a directory name different than crate name. **Looks like it is only broken

[2019-06-22 22:21] matthiaskrgr opened #3644 "cargo fmt: missing linebreak in error message"
`./target/debug/cargo-fmt -p wasd`

The error message is:
[code]
looks like there is a final linebreak missing after the --help output.
(it should be `Options passed to rustfmt\n` instead of `Options passed to rustfmt`)

![rustfmt](https://user-images.githubusercontent.com/476013/59969405-cd8af580-954c-11e9-8572-178f17ce3575.png)

[2019-06-23 02:29] czipperz opened #3645 "Reach unreachable code on `use super::self as x;`"
Minimum example:

[code]

However, this does not crash
[code]

Backtrace:

[code]

[2019-06-23 05:32] #3636 closed

[2019-06-23 05:35] #2080 closed

[2019-06-23 07:24] #3645 closed

[2019-06-23 12:52] topecongiro commented on #3642
This is an interesting idea, though I am afraid it may not fit nicely to some common patterns that appear frequently in Rust. Notably, in Rust it is very common to have a nested block (e.g. a method chain with a closure), and with the proposed indentation configuration it gets mixed with indentation with a different size.

[code]

[2019-06-23 12:55] topecongiro commented on #2877
Closing in favor of #3383.

[2019-06-23 12:55] #2877 closed

[2019-06-23 13:19] topecongiro commented on #3383
I would like to rename this option and/or change it so that it won't take a major version number as its value.

Currently (the version `1.x`) rustfmt supports `version = "One"` or `version = "Two"`. If we release 2.0, then `version = "One"` will be deprecated and `version = "Three"` will be supported. Now the problem: every user whose rustfmt.toml contains `version` needs to update their file to k

[2019-06-23 23:24] milkey-mouse opened #3647 "cargo fmt only works in root directory of project"
I often leave my shell in the `project/src` directory so I don't have to prepend `src` every time I open a file. Other cargo commands such as `cargo run` and `cargo check` work fine in the `src` directory, but `cargo fmt` does not:

    ~/projects/planets $ cargo fmt  # works
    ~/projects/planets $ cargo run  # works
    ~/projects/planets $ cd src
    ~/projects/planets/src $ cargo run  # still

[2019-06-24 04:43] topecongiro opened #3648 "Multi-lined pattern of if let"
From https://github.com/rust-lang/rust-clippy/pull/4123#issuecomment-504837192:

[code]

In this case,

1. Should we add indentation to each clause that appears after the first one?
2. Should we keep the expression (`&expr.node`) on the same line as the last clause, or put it on the next line?

Note that for multi-lined patterns of match's arm, rustfmt does not add indentation.

[code]

[2019-06-24 13:28] rchaser53 commented on #3648
I think that the pattern like multi-lined patterns of match's arm is good.
1. No.
2. keep the expression on the same line as the last clause.

[2019-06-24 13:38] Xanewok opened #3649 "`FileLines::all().to_json_spans()` returns `[]` which is parsed as empty map"
This surfaced at https://github.com/rust-lang/rls/issues/1463 (fixed in https://github.com/rust-lang/rls/pull/1497).

The underlying data structure discerns a missing/"all" state in addition to actual set (possibly empty) of lines:
https://github.com/rust-lang/rustfmt/blob/26d370e9e52f5c2727b7289e339499aef0b7b3ec/src/config/file_lines.rs#L151-L157

whereas `to_json_span` only encodes a specified s

[2019-06-24 14:34] topecongiro commented on #3649
I think that it would be simpler to fix this part instead, `vec![]` should be parsed to `FileLines(None)`?

[2019-06-24 14:40] Xanewok commented on #3649
This would mean that `--file-lines []` would correspond to `FileLines::all()` - wouldn't that also be surprising?

[2019-06-24 14:49] topecongiro commented on #3649
Yeah, you are right. Actually `rustfmt --help=file-lines` explicitly states that `Specifying an empty array
will result in no files being formatted`.

In that case, I would prefer to go with your second option.

[2019-06-24 14:54] nootanghimire commented on #3644
Heya!

Really new to rust, but would like to start contributing small things! I looked into the code, and it seems  this could either be solved by adding:

[code]

to  `cargo-fmt/main.rs:98` -- or maybe solving it for everyone in the `clap` crate.

It would be great if anyone could comment on which approach would be better.

Cheers!

[2019-06-24 15:31] nootanghimire commented on #3644
Turns out that the `after_help` hook adds a newline at the end without having to explicitly writing it, I'll create a PR.  :)

[2019-06-24 22:22] pinkisemils opened #3651 "Long where clause with closure type breaks the formatter."
Formatting long closure types fails with leftover trailing whitespace - seemingly the closure arguments are expected if the return type has a long list of associated types too. Something along the lines of _this set of brackets within the return type need to be split into multiple lines, so that other set of brackets must be split too_, or so it would appear.
[code]
Turns into
[code]
The following

[2019-06-25 02:36] calebcartwright commented on #3647
I suspect this has some relation to the workspace issues and the `CargoFmtStrategy::Root` strategy.

I'd be happy to work on this one @topecongiro

[2019-06-25 02:44] topecongiro commented on #3644
Closed via #3650. @nootanghimire Thank you for your work!

[2019-06-25 02:44] #3644 closed

[2019-06-25 02:48] topecongiro commented on #3647
@calebcartwright Great! IIRC `cargo fmt` searches `Cargo.toml` recursively only when `--all` is passed to it. We should change it so that `cargo fmt` will always look for `Cargo.toml` recursively.

[2019-06-25 11:28] topecongiro commented on #3253
This seems to be not fixed in 1.3.0 😞

[2019-06-25 14:14] #3651 closed

[2019-06-25 14:15] #2694 closed

[2019-06-25 14:15] #3647 closed

[2019-06-25 14:29] topecongiro commented on #3649
If we go with @Xanewok's second option, then it will introduce an update to the public API (`FileLines:: to_json_spans`), which in theory requires a major version update of rustfmt. However I am not planning to release 2.0 anytime soon, so the fix will be postponed for a few months. This does not sound great.

Rather, we could implement `Serialize` and `Deserialize` on `FileLines` to fix the issue

[2019-06-25 18:34] scampi commented on #3641
@topecongiro Do you want to have a new config option for this ? Or an improvement to the default formatting of chains ?

[2019-06-25 18:37] cramertj opened #3654 "Spooky action-at-a-distance causing missed linewraps"
rustfmt output:
[code]

Removing or significantly editing basically any line causes the `let resolved_type = ...` line (which is too long and *should* be wrapped) to be reformatted.

[2019-06-25 18:38] cramertj commented on #3654
Possibly related to https://github.com/rust-lang/rustfmt/issues/3638

[2019-06-25 18:49] cramertj commented on #3654
note when reproducing: you'll have to remove the comments

[2019-06-25 18:51] cramertj commented on #3654
version without comments:
[code]

[2019-06-25 18:51] cramertj commented on #3654
reformatted after removing the `let` binding:

[code]

[2019-06-25 22:07] milkey-mouse commented on #3647
That was fast. Thanks!

[2019-06-26 12:32] Xanewok commented on #3649
I'd probably lean towards the last option since it's more of a bugfix (comment mentions serializing into format accepted by `--file-lines JSON` but in this case the `None` match is wrongly deserialized to `[]`).

However, having a `(De)Serialize` impl sounds like a useful thing on its own.

What's puzzling is the difference between representation - `file-lines` accepts `Vec<(File, Range)>` while i

[2019-06-26 18:36] singpolyma-shopify commented on #3641
@scampi either.  Having this be the default seems right to me, but if others disagree an option works fine.

[2019-06-27 13:14] mulkieran opened #3656 "rustfmt inserts unnecessary braces around if-expression"
[code]

is rewritten to

[code]

by rustfmt.

See PR#: https://github.com/stratis-storage/stratisd/pull/1576.

The version of rustfmt is 1.2.0.

[2019-06-27 17:39] dtolnay opened #3657 "Breaks associated_type_bounds"
Input code:

[code]

As of current rustfmt master (e0e2f0db537904b0efa78a106384e62852b806f0), rustfmt applies the following diff which makes the original code no longer compile:

[code]

[code]

[2019-06-27 20:02] mulkieran commented on #3656
reproduced on today's Rust playground, stable and nightly.

[2019-06-27 21:57] topecongiro commented on #3656
This is by design, to make it easier to distinguish between the match guard and if the expression.

[2019-06-27 21:57] #3656 closed

[2019-06-27 22:20] topecongiro commented on #3657
https://github.com/rust-lang/rustfmt/blob/e0e2f0db537904b0efa78a106384e62852b806f0/src/types.rs#L172-L177

We need to use a correct separator based on the `AssocTyConstraintKind`.

[2019-06-28 00:54] calebcartwright commented on #3657
@topecongiro - I'd like to work on this one. The implementation looks relatively straightforward, but I might have a few questions if that's okay 😄

What exactly is the expected behavior if the AssocTyConstraint is `Bound`? Technically both of the below items will compile, but I don't think it's what we'd want/expect:

[code]

Should we just skip the rewrite on `Bound` kind?

[2019-06-28 01:24] theduke opened #3658 "Formatting produces code that triggers internal error"
I've run into a situation where applying formatting produces code with trailing whitespace, resulting in a "Internal error: left behind trailing whitespace" error on the next invokation.

Tested on stable and yesterdays nightly.

[code]

This gets formatted to

[code]

[2019-06-28 02:57] rchaser53 commented on #3658
This has already been fixed in #3653.

[2019-06-28 02:58] mulkieran commented on #3656
The match guard comes before the "=>" token, the if-expression comes after, so they can be distinguished w/out rustfmt special case behavior for that one type of expression.

The behavior is inconsistent w/ treatment for other expressions, like match-expressions, loop-expressions, etc. where rustfmt does not force the redundant braces.

AFAIC, this is more of an obfuscator than a clarifier, becaus

[2019-06-28 03:01] theduke commented on #3658
Is that fix supposed to be in the latest nightly yet?

It's still failing for me with `rustc 1.37.0-nightly (8ebd67e4e 2019-06-27)`.

[2019-06-28 03:11] mulkieran commented on #3656
Well, I took a look at #1889 where this was decided. I'ld say the decision makes things worse for me, _especially_ when the if-expression is long. On the other hand, I've so far avoided any configuration of rustfmt in my projects, and this is not bad enough for me to make me want to plunge into setting up a rustfmt configuration file, (and trying to add a configuration option to change this for pe

[2019-06-28 05:48] topecongiro commented on #3658
Closing as a duplicate of #3651.

@theduke I will release 1.3.1 this weekend, and it should be available via rustup in a few days.

[2019-06-28 05:48] #3658 closed

[2019-06-28 06:32] topecongiro commented on #3657
@calebcartwright Great, thank! Questions are always welcome :grin:

We should always add a space after `:` but not before it. In other words we do not need to take `type_punctuation_density` into account when `AssocTyConstraint` is `Bound`:

[code]

[2019-06-28 10:38] topecongiro opened #3659 "Preserve trailing two whitespace in multi-lined doc comments"
From https://github.com/rust-lang/rustfmt/pull/2436#issuecomment-506679965 by @LucianoBestia:

---

I  tried this on nightly version rustfmt 1.3.0-nightly (d3345024 2019-06-09).

rustfmt preserves trailing double space in doc-comments that begin with `//!`
But it does not preserve it in **multiline doc-comment** that begin with `/*!`
example:
[code]
Writing or copy/paste long markdown text without

[2019-06-28 10:43] LucianoBestia commented on #3659
I think this is not enough in `comment.rs`:
[code]
 I think this `CommentStyle` should also be doc_comments:
    `DoubleBullet,
    Exclamation,`

[2019-06-28 10:50] LucianoBestia commented on #3659
There are also 2 tests for this issue:
rustfmt/tests/source/markdown-comment-with-options.rs
rustfmt/tests/source/markdown-comment.rs

There could be added this 2 types of doc-comments:
[code]
and then also the one multiline comment that is NOT a doc-comment:
[code]

[2019-06-28 16:31] calebcartwright commented on #3657
That makes a lot of sense thanks! I believe I've got this fixed, will open a PR later today. With what I've got currently:

This:
[code]

Would be formatted to:
[code]

Assuming that's the correct/expected behavior, where should I add tests for that? Should they go under  an `issue-3657` directory under `./tests/source/` and `./tests/target`/?

[2019-06-28 19:38] daboross opened #3660 "Rustfmt mangles macro input, replacing ':' with '='"
I use this macro in one of my projects, based off of one of serde's macros, which takes a struct and a number of possible trait bounds to use for that struct. When formatted, the macro calls are mangled. My original code:

[code]

The formatted code:

[code]

The colons are replaced with `=`, which is invalid for this macro invocation.

This occurs even without any definition of the macro, so I've

[2019-06-28 21:27] calebcartwright commented on #3660
I think this _may_ also be fixed in #3661

[2019-06-28 21:42] daboross commented on #3660
#3661 does fix this - thanks!

I'm surprised that this macro input is somehow interpreted as an associated type bound, but I guess that makes sense. It's just a regular type bound, but I guess that would be pretty hard to tell without looking into the macro source.

[2019-06-29 06:51] #3537 closed

[2019-06-29 10:55] scampi commented on #3657
@calebcartwright tests would go in `tests/source/` which is where you put the original code, then in `tests/target/` where you put the expected formatting.

[2019-06-29 10:56] scampi commented on #3657
sorry I didn't your question got answered in the PR !

[2019-06-29 13:07] Proximyst opened #3662 "unsafe async fn -> async unsafe fn + error"
The reordering of the signature `pub unsafe async fn test(&mut self)` in an impl block breaks compilation, given it makes it `pub async unsafe fn test(&mut self)`. I have no clue if this applies to any and all functions with `unsafe async fn`, but it breaks with this simple case:

[code]

If you now use the newest `rustfmt` (i.e. from latest nightly), it breaks compilation:
[code]

A simple case f

[2019-06-29 14:15] topecongiro commented on #3662
Hmm, I thought the correct ordering has changed to `async unsafe fn` in https://github.com/rust-lang/rust/pull/61319, but that doesn't apply to methods in `impl`? That's strange.

[2019-06-29 19:10] #3657 closed

[2019-06-29 19:10] #3660 closed

[2019-06-30 03:17] topecongiro commented on #3662
This is a bug in the rustc parser. It will be fixed in https://github.com/rust-lang/rust/pull/62241.

Closing as this is not a rustfmt issue. @Proximyst Thank you for reporting!

[2019-06-30 03:17] #3662 closed

[2019-06-30 03:19] #3639 closed

[2019-06-30 04:36] topecongiro commented on #3643
I think that we just need to dig a litter deeper into the data returned from `cargo_metadata` and figure out the correct name of the package if it differs from the directory name.

[2019-06-30 16:41] calebcartwright commented on #3643
I took a look at this one, and detailed my findings below. I personally feel like there's two items here, and what is described above is the expected behavior when using `cargo fmt --package ..` in this context, but that there _might_ be a bug/issue with `cargo fmt --all` here.

Following the example outlined above:

If you run `cargo metadata --no-deps --format-version 1` in the root `cargo-fmt-t

[2019-06-30 18:00] calebcartwright commented on #3643
Believe I have a fix for `cargo fmt --all` when the dependency name and directory path differ. Will open a PR shortly

[2019-06-30 20:19] paulstansifer commented on #2781
I think I found another example (https://github.com/paulstansifer/unseemly/pull/17/files#diff-7328e869d09a114ad85e6ac59329ae4fL45)

[code]
...goes to:
[code]

...I agree that I probably should not have put a comment there, though

[2019-07-02 11:57] la10736 opened #3665 "Skip Attribute"
Attributes are evolving and now are used also to create DSL. Now, by the rising of procedural macro and the possibility to use arbitrary rust code in attributes syntax formatting attribute by simple rules based on meta and nested meta can produce some formatting that make the procedural macro DSL not clear.

For instance I have a crate of mine [la10736/rstest](https://github.com/la10736/rstest) th

[2019-07-02 14:07] topecongiro commented on #3665
It seems like a good idea given that, like macro calls, attributes can have an arbitral token stream as their arguments.

[2019-07-02 14:09] topecongiro commented on #3665
Adding a new `rustfmt::skip::attributes()` seems better to me.

[2019-07-02 18:13] mdittmer commented on #3547
FWIW, I would advocate putting every comma-separable entity on its own line (regardless of nesting) because version control systems can be of more assistance identifying and/or resolving conflicts precisely where they reside. The cost of extra lines is generally low, since most editor/viewer interfaces support folding bracketed lines.

I suspect that even enforcing this _at least_ for top-level cr

[2019-07-03 14:42] bbigras opened #3666 "thread 'main' panicked at 'bad span: `.`: `)`', src/tools/rustfmt/src/source_map.rs:52:13"
rustfmt 1.3.0-nightly (d334502 2019-06-09)
rustc 1.37.0-nightly (8aa42ed7c 2019-06-24)

[code]

[2019-07-03 14:55] topecongiro commented on #3666
@bbigras Could you provide a working example to reproduce this, please? It would be helpful to track down the bug.

[2019-07-03 14:58] bbigras commented on #3666
Yes sorry. I was working on it but I should have waited to send it at the same time as the report.

The problem goes away if I remove the `?` in this code:

[code]

[2019-07-03 21:29] YaLTeR commented on #3634
This is probably just rustfmt not reformatting lines which it can't fit into the line length limit.

[2019-07-04 08:33] la10736 commented on #3665
I'm done with base implementation but is just a _cut and paste_ of `rustfmt::skip::macros()` implementation. I tempted to refactor all skip's stuff before submit but I should decide if merge just `macros` and `attributes` stuffs or encapsulate `rustfmt::skip` responsibility too.

The second one solution touch lot of files so maybe is better do a separate pull request but merge just sub attributes

[2019-07-04 13:54] bbigras commented on #3666
I think I don't have the problem with:
rustfmt 1.2.2-nightly (5274b49 2019-04-24)
rustc 1.37.0-nightly (991c719a1 2019-06-08)

[2019-07-04 22:10] Lokathor opened #3669 "Rustfmt ate a single line comment in a long list of trait bounds"
I ran a `rustfmt` cleanup as a commit on a repo, found this in the diff.

<https://github.com/Lokathor/randomize/commit/103992e96309cd1484625c577ec10b7ae989ef18#diff-b316dc9cf67a100913b39ef102078235L48>

Particularly:

[code]

Now, in this particular case the comment was just a joke, but it could have been very important, and it might have even applied to that particular line in the chain of bound

[2019-07-05 02:14] sdht0 commented on #3536
Should this not have been backported to (then beta and now) stable?
I get the same error message on the newly released 1.36.0.

[2019-07-05 03:59] DanSnow opened #3670 "Bug in formatting function pointer's return type"
Description
-----------

`rustfmt` will format this:

[code]

into this:

[code]

Environment
-----------

- `rustfmt --version`: `rustfmt 1.2.2-stable (5274b49 2019-04-24)`

[2019-07-05 09:39] rchaser53 commented on #3670
It's already resolved. Please use latest version.

[2019-07-05 11:47] DanSnow commented on #3670
Thanks for quick reply. I have try the `v1.3.0` and it work.
But it seem that the rustfmt in rustup's stable channel is still on `v1.2.2`.I think I'll just use `#[rustfmt::skip]` as a workaround and wait for update.

[2019-07-05 11:47] #3670 closed

[2019-07-06 05:17] #3666 closed

[2019-07-06 05:18] topecongiro commented on #3643
Closed via #3664.

[2019-07-06 05:22] #3643 closed

[2019-07-06 12:45] scampi commented on #3665
@la10736 a separate PR would probably be better

[2019-07-06 17:43] rossmacarthur opened #3672 "Handle double semicolon"
I noticed in my code a typo where I had written two semicolons

[code]

It would be nice if rustfmt could remove the second one.

Similar to https://github.com/rust-lang/rustfmt/issues/3245, https://github.com/rust-lang/rustfmt/issues/3561

[2019-07-06 20:10] ryancerium opened #3673 "Formatting empty function type adds additional empty return type"
A file consisting of:
[code]
gets formatted to:
[code]
which no longer compiles.  Tested on Linux and Windows, with 1.2.2-stable.

[code]

[2019-07-07 15:34] la10736 commented on #3665
I already did the PR with just refactoring `macros` and `attributes`. I left `rustfmt::skip`'s stuff untouched.

[2019-07-08 13:24] rchaser53 commented on #3673
Please use the latest version.

[2019-07-08 14:06] ryancerium commented on #3673
When will the latest version get pushed into `rustup`?  Right now `rustup update stable` leaves me with 1.2.2 and `rustup component add rustfmt` says it's up to date also.

[2019-07-08 16:08] NoraCodes opened #3674 "Format only already dirty files"
It would be really nice, in the case where there is a recognized VCS, to have an option to format only files I've already touched, to avoid cluttering up PRs by formatting code irrelevant to my changes.

[2019-07-08 20:59] scampi commented on #3674
there's #1324 about this ;o)

[2019-07-08 20:59] #3674 closed

[2019-07-09 01:42] Bruflot commented on #3549
I took a crack at this and was hoping to get some feedback before possibly opening a PR.
Wasn't sure if we should support multiple config options, so for the time being it only supports setting a single option. I'm also not sure if I'm doing something super abhorrent by calling `Config::override_value`.

Please see https://github.com/Bruflot/rustfmt/commit/a657c6d91327bc62b4aaf8423c4831ea1a895279

[2019-07-09 04:26] rchaser53 commented on #3673
You cannot use the latest rustfmt on stable rust. Please use it on nightly rust.

[2019-07-10 02:16] howaboutsynergy opened #3675 "extra comma inserted due to comment"
[code]

`$ cat d.rs`
[code]

In the real world I've encountered it like this(simplified):
[code]

[code]

[2019-07-10 08:29] topecongiro opened #3676 "Add CI checks for Tier-2 platforms"
cc https://github.com/rust-lang/rust/issues/62558.

[2019-07-10 08:33] mati865 commented on #3676
I think it won't show in your tests because it looks like Rustbuild issue. You'd have to build Rust.

[2019-07-11 13:40] rchaser53 opened #3678 "rustfmt causes internal error when add comment between conditions"
source:
[code]

playground:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=856d116c793b74e6809441b4ccf7af68

error message:
![internal_error](https://user-images.githubusercontent.com/9676954/61055552-babd5f80-a42c-11e9-9ed4-7c9437a4d3e6.png)

[2019-07-12 02:47] fragrans commented on #3673
I have the same issue. ` -> ()` was appended to the end after running `cargo fmt`

![image](https://user-images.githubusercontent.com/102768/61098445-99428f00-a491-11e9-901f-33e0abbd529a.png)

![image](https://user-images.githubusercontent.com/102768/61098630-30a7e200-a492-11e9-9d04-3a2707aceabe.png)

[2019-07-12 04:24] shaopengw opened #3679 "Internal error if license check fails"
When the license header in rust code file doesn't match license template, `cargo fmt` would panic with `internal error: entered unreachable code`.

Backtrace is as follows:

[code]

#### Meta

[code]

#### Demo
I created a repo reproducing this issue at [here](https://github.com/shaopengw/rustfmt-panic).

[2019-07-12 14:36] calebcartwright commented on #3679
I can reproduce this with 1.3.0, but I cannot reproduce this on 1.3.2. Are you able to reproduce with 1.3.2?

[2019-07-12 16:28] Thomasdezeeuw opened #3681 "Update of rustc-ap and related crates"
After a bit of digging for #1208 I think this can be fixed by updating `rustc-ap-syntax` and related crates. Would it be worth while for me to update the crate and attempt fix all problems, or is someone else working on this?

[2019-07-13 07:08] scampi commented on #3549
@Bruflot Thanks for giving this a try, looks good to me. I left some comments to the single option commit. Just open a PR in draft mode if you want to get early feedbacks ;o)

[2019-07-13 18:52] scampi commented on #3679
I think this issue can be closed as it was fixed in 1.3.1 https://github.com/rust-lang/rustfmt/pull/3655.
Please @shaopengw reopen if you still have a problem with the latest release.

[2019-07-13 18:52] #3679 closed

[2019-07-13 22:27] scampi commented on #2758
@gurgalex As of 679c8d5f106e8442bf8c4a54609a63df9eb3863c your first use case wouldn't do what you described: rustfmt just ignores the minimal path if no files to format are given.

[2019-07-13 23:25] jesskfullwood commented on #3257
I would appreciate this. This is the snippet I am using at the moment:
[code]

[2019-07-14 01:20] topecongiro commented on #3676
@mati865 OK thanks!

[2019-07-14 01:20] #3676 closed

[2019-07-14 01:32] topecongiro commented on #3494
This is blocking rustfmt from being updated in the rustc repo (cc https://dev.azure.com/rust-lang/rust/_build/results?buildId=2818).

[2019-07-14 08:02] Thomasdezeeuw commented on #3572
I think I found a similar, likely related, error but it only fails on tests. Running `cargo fmt` on the following files result in the following error

[code]

The files.

[code]

[code]

As the error suggests it uses the functional directory twice. Calling `cargo test` works just fine.

[2019-07-14 11:57] thedavidmeister opened #3685 "thread 'main' panicked at 'bad span: `.`: `)`', src/tools/rustfmt/src/source_map.rs:52:13"
[code]

using nightly `2019-07-14` on linux

[2019-07-14 12:11] topecongiro commented on #3685
Thank you for the report. Does your code contain `await!()` macro call? If so, the issue could be a duplicate of #3666 and it is already fixed on the master. The version which includes the fix should be available within a week.

[2019-07-14 13:16] #3675 closed

[2019-07-14 14:29] topecongiro opened #3686 "New syntax in rustfmt 1.4.0"
There have been/will be quite a few updates to the Rust syntax. This PR keeps track of those updates so that I don't get panic on updating `rustc-ap-*` the next time.

**Major syntax updates**

- Remove `IfLet` and `WhileLet`, and introducing `Let` to `ExprKind`
- Remove `Guard`
- Remove `await!()` macro call
- Add `Rest` to `PatKind`
- Add attributes on function parameters (#3623)

**Related PRs*

[2019-07-14 15:17] thedavidmeister commented on #3685
@topecongiro it does, and i removed all usages of `?` associated with `await!()`

e.g. https://github.com/holochain/holochain-rust/pull/1555/files#diff-e6cd45755b5199df3c0a919a6f3afa17R101

[2019-07-14 19:44] CreepySkeleton commented on #3243
Any progress on it?

[2019-07-14 21:47] #2817 closed

[2019-07-15 07:04] 95th opened #3688 "Modules with path still can't be formatted on Windows"
#1754 issue is still occuring.

I tried `cargo fmt` on my tokio checkout and I get several errors like following:

[code]

code for above is:

[code]

[2019-07-15 08:37] scampi commented on #3688
Can you try the changes in https://github.com/rust-lang/rustfmt/pull/3590 and see if that fixes your problem ? Looks like it doesn't for some users...

[2019-07-15 11:01] TimDiekmann commented on #1386
Is it possible to raise the priority or give me mentoring on how to correct this bug?

[2019-07-15 11:58] #2758 closed

[2019-07-15 13:41] #3494 closed

[2019-07-15 19:17] Thomasdezeeuw commented on #3572
We're hitting this error in Mio (https://github.com/tokio-rs/mio/pull/1030), is there any work around for this?

[2019-07-15 20:50] calebcartwright commented on #3572
On the original example in the OP, does adding an explicit [path attribute](https://doc.rust-lang.org/reference/items/modules.html#the-path-attribute) help?

I.e. in `tests/connection.rs` something like:
[code]

[2019-07-16 10:11] Thomasdezeeuw commented on #3572
@calebcartwright The following doesn't work (this is actual code as in https://github.com/tokio-rs/mio/pull/1030). I get `Error writing files: io error: Failed to find module poll in "functional" None` as error.

[code]

A found a possible workaround in the following.

[code]

[2019-07-16 13:15] xahon commented on #3346
I think this rule should be split for array, control flow, function arguments, etc
In my opinion `Visual` is looking best only in `Control flow` block
I would prefer other to set to `Block`

[2019-07-17 00:40] #3665 closed

[2019-07-17 00:44] topecongiro commented on #3685
Thanks for conforming. Closing as a dup of #3666.

[2019-07-17 00:44] #3685 closed

[2019-07-17 15:10] calebcartwright commented on #3572
Thanks @Thomasdezeeuw. I tested adding the path with the sample repo linked in the original note, but didn't get a chance to look at the Mio codebase.

Are you saying that the snippet you posted using `path` provides a work around for you in Mio?
[code]

[2019-07-17 15:17] Thomasdezeeuw commented on #3572
I ended up needing to write a way to complicate macro as can be seen here: https://github.com/tokio-rs/mio/blob/8abd613656c7438fc8b783f1630a9f61532b5444/tests/functional.rs. But yes that should work.

I'm not familiar with the rustfmt code base, but to me it seems that rustc and rustfmt handle module paths differently when the module is not in its own directory, i.e. `functional.rs` instead of `fu

[2019-07-17 19:07] Stargateur commented on #3387
So to use `unstable_features` that allow to opt in unstable feature, itself need to be in already unstable channel because it itself not stable.

[2019-07-18 02:24] rzumer opened #3692 "fn_args_layout is marked as stable, but not available on stable toolchain"
I don't know whether this is an issue with `rustfmt`, `rustup`, or something else, but I am on the latest stable Rust `x86_64-pc-windows-msvc` toolchain and `rustup component add rustfmt` indicates that I am up to date. Despite `fn_args_layout` being marked as stable in the documentation, running `cargo fmt` with it set returns an "Unknown configuration option" error.

Is there any estimate for wh

[2019-07-18 02:39] topecongiro commented on #3692
It has been stable since rustfmt 1.3.0 [1]. I cannot be certain about when the version will be available via the stable channel, though it's likely that it would be available in the next release.

[1] https://github.com/rust-lang/rustfmt/blob/master/CHANGELOG.md#130-2019-06-09

[2019-07-18 02:39] #3692 closed

[2019-07-18 02:52] thomaseizinger commented on #3387
According to [this issue](https://github.com/rust-lang/rustfmt/issues/3247) it behaves the way it is supposed to behave.

However, I'd still argue that it should behave differently.

Our usecase is to compile our code against stable Rust but we like to use unstable formatting features. Currently, this forces us install two versions of Rust in CI which
- a) causes configuration complexity in our CI

[2019-07-18 03:05] rzumer commented on #3692
The latest toolchain release was on July 3rd. I think it is odd that it is still not available. What makes you suggest that the next release will include it?

[2019-07-18 04:26] xahon commented on #3637
@topecongiro what is `chain_width`? It is not documented in https://github.com/rust-lang/rustfmt/blob/master/Configurations.md

[2019-07-18 04:40] xahon opened #3693 "How to make chained calls to be on new lines"
Is there an option to allow >= 3 (or configurable number) calls in a row on self to be wrapped?
[code]

[2019-07-18 05:20] thomaseizinger commented on #3243
If the intention is to mimic `.gitignore`, should there maybe be a separate file as @nrc suggested? Like `.rustfmtignore`?

Having `.XYignore` files is a pretty common pattern and if the syntax is the same, it will be obvious to people how to use it.

The downside is that there is yet another file in the repository.

Many tools in the JS ecosystem for example allow you to put your configuration un

[2019-07-18 08:24] scampi commented on #3637
I think that is the property of the `width_heuristics`, but it is listed under `not user-facing` in the config.

https://github.com/rust-lang/rustfmt/blob/c0e616bc1d19eb9b08a5db2f265b8332569e7259/src/config/mod.rs#L150

https://github.com/rust-lang/rustfmt/blob/c0e616bc1d19eb9b08a5db2f265b8332569e7259/src/config/options.rs#L190-L191

[2019-07-18 08:28] scampi commented on #3693
#2263 sounds related

[2019-07-18 14:32] calebcartwright commented on #1386
What exactly is the ask, to have the `error` nodes include both of the Mismatch members (the line number and the original line number)?

If so, I can submit a PR with a fix

[2019-07-18 14:35] calebcartwright commented on #1193
@scampi @topecongiro - I'm going to take a look at implementing this one.

My preference would be to leverage serde to serialize the Mismatch-es in the emitter vs. trying to handcraft the json string, if that sounds like a reasonable approach.

[2019-07-18 14:37] TimDiekmann commented on #1386
I think this would be a good solution, thanks!

[2019-07-18 18:45] nagisa opened #3695 "Comment formatting is botched"
Given source like this:

[code]

rustfmt will produce the following diff:

[code]

In this diff an incorrectly aligned 2nd line of the block comment can be seen.

[2019-07-18 18:47] nagisa opened #3696 "An over-long comment does not get reformatted"
Given an input like this:

[code]

The overlong comment

[code]

does not get re-formatted by rustfmt, even though the next comment does.

[2019-07-18 23:02] dtolnay opened #3697 "Best effort on long lines"
Input file:

[code]

As of current master (c0e616bc1d19eb9b08a5db2f265b8332569e7259), `cargo run --manifest-path path/to/rustfmt/Cargo.toml --release --bin rustfmt <main.rs` leaves the long line in this file unchanged.

Shortening the input line such that it can fit within rustfmt's default max_width produces good formatting, as expected:

[code]

If I configure `max_width = 1000`, I get correct b

[2019-07-19 02:37] topecongiro commented on #3697
Unfortunately there is no configuration available to fix this, though I think that rustfmt should be able to handle extremely long idents by default.

[2019-07-19 02:42] topecongiro commented on #3696
IIRC rustfmt does not format comment with a url because either splitting it up or putting the url on its own line is suboptimal.

[2019-07-19 02:43] topecongiro commented on #3681
We will update `rustc-ap-*` crates before releasing 1.4.0.

[2019-07-19 02:43] #3681 closed

[2019-07-19 04:27] calebcartwright commented on #1386
Well this is turning out to be more complicated than I'd anticipated 😄 The biggest question I have is around what the expected or "correct" checkstyle xml content should be in this context as it's not clear to me what folks are using the checkstyle output for.

For a contrived example, take this source file:
[code]

With standard config options, this would be formatted to:
[code]
If the checkstyle

[2019-07-20 11:51] scampi commented on #1193
@calebcartwright using serde sounds good to me

[2019-07-21 08:48] diwic opened #3699 "Inconsistent line breaks in short "if" expression"
Consider the following two functions:

    fn from(i: &'a Msg) -> Result<&'a OwnedFd, ()> {
        if let &Msg::A(ref b) = i { Ok(b) } else { Err(()) }
    }

    fn main() {
        let _x = if true { Ok(1) } else { Err(0) };
    }

All lines are shorter than `max_width`, so why does rustfmt change the upper one but not the lower one, into this:

    fn from(i: &'a Msg) -> Result<&'a OwnedFd, ()

[2019-07-22 13:22] scampi commented on #3699
This seems to be because of the `width_heuristics` option `single_line_if_else_max_width` which is set to `50` by default.

The following config would do what you want:

[code]

[2019-07-22 14:34] jiacai2050 opened #3700 "support auto import like goimports"
ref: https://www.reddit.com/r/rust/comments/azk9vv/goimports_for_rust/

[2019-07-22 18:42] diwic commented on #3699
Okay,

I tried having only these two in my `rustfmt.toml`, then I ran `rustfmt +nightly src/main.rs` but it did not help - the upper one was still translated into several lines.

[2019-07-22 22:33] athre0z commented on #3370
I feel like this could also apply to function calls in the tail argument, rewriting

[code]
to

[code]
This would allow for symmetry between structs instantiated via their constructor and constructor methods. What do you think?

[2019-07-23 07:53] thedavidmeister commented on #3685
@topecongiro wait what?

this isn't a dupe

my code does contain await! _and_ i removed the `?` _and_ it is broken still

[2019-07-23 08:47] scampi commented on #3699
Are you sure you have the latest version ? I ran with 1.3.3 and the upper if stays on one line.

[2019-07-23 09:38] topecongiro commented on #3685
#3666 is not specific to `await!()?`. rustfmt had crashed if there were `await!()` in _any_ method chain.

The issue is fixed in 1.3.2 or later, so would you mind trying out the latest version, please? It should be available via rustup (there was a typo in CHANGELOG, sorry about that).

[2019-07-23 09:50] topecongiro commented on #3700
Unfortunately there are too much differences between the module system of Go and Rust. In Go you only need the AST to figure out the missing/unused packages, but in Rust you need to perform extra compilation processes like macro expansions and module resolutions. These are outside the scope of rustfmt.

IMHO, in Rust tools like goimports is nigh-impossible to implement outside of the special envir

[2019-07-23 09:50] #3700 closed

[2019-07-23 12:14] diwic commented on #3699
Indeed, that was it! Thanks!

[2019-07-23 13:40] scampi commented on #3699
Glad you got what you wanted! ;o)

[2019-07-23 13:40] #3699 closed

[2019-07-23 20:20] cramertj opened #3701 "Strange Fn-syntax formatting"
rustfmt output:
[code]

What I might prefer:

[code]

[2019-07-24 17:15] Robbepop opened #3702 "Internal error: entered unreachable code while formatting"
Happens when formatting https://github.com/paritytech/ink/commit/7bfc9a0b61a4a5af1d66ec0c4ddac29964888785 (and also some earlier commits).

Also look here for CI: https://travis-ci.org/paritytech/ink/builds/563037289#L932

Backtrace:

[code]

[2019-07-26 12:07] matthiaskrgr opened #3703 "fails to build with latest nightly/master rustc"
Build failure was caused by https://github.com/rust-lang/rust/pull/60340
[code]

[2019-07-27 08:29] topecongiro commented on #3703
Blocked by https://github.com/rust-lang/rust/pull/63036.

[2019-07-27 10:35] burrbull commented on #3351
Are there issues that block stabilization of the feature?

[2019-07-27 10:48] LEXUGE opened #3704 "rustfmt didn't format macro"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7309a87bb5e3598b7ca9e80fcb115d60

The code snippet above haven't been formatted by rustfmt.

I have tried remove the `parse` and use the ordinary way of writing that. However, it didn't change anything.

[2019-07-27 12:12] gnzlbg opened #3705 "Allow manually-specifying which macros should be formatted"
The libc crate has some macros, called `s!`, `f!`, etc. which take a series of items:

[code]

I know that formatting macros is very tricky, and that we probably cannot do that by default.

Instead, would it be possible to specify, e.g., in the `rustfmt.toml`, a list of macros for which `rustfmt` should try to format the contents as if the contents were top-level items ?

E.g. for the case above,

[2019-07-28 16:58] dtolnay opened #3709 "Format empty dyn without trailing space"
[code]

As of current master, in 2018 edition mode rustfmt applies the following diff:

[code]

I would prefer for there not to be a trailing space inserted. @topecongiro -- I believe this should fall under #3333.

Affects the `Token!` macro in Syn.

[2019-07-28 20:52] #3703 closed

[2019-07-28 20:56] #3672 closed

[2019-07-28 21:11] topecongiro commented on #3702
Thank you for reporting an issue. AFAICT this seems to be a dup of https://github.com/rust-lang/rustfmt/pull/3655. The issue is fixed on 1.3.1 or later.

[2019-07-28 21:11] #3702 closed

[2019-07-28 22:04] mooman219 opened #3710 "Separate use_small_heuristics into distinct options"
## Feature request
Small heuristics has a mix of formatting cases that I like and dislike.  Unfortunately, I can't have the mix of formatting options I want since it's an all or nothing sort of situation with `use_small_heuristics`. This issue is a feature request to separate out those formatting options into distinct options.

For backwards compatibility, I imagine it would be reasonable to annot

[2019-07-29 14:53] rchaser53 opened #3711 "Fails to build with rustc 1.38.0-nightly (4560cb830 2019-07-28)"
rustfmt failed to build.
the error message is like below.

<details>
<summary>the error message</summary>

[code]

</details>

[2019-07-30 05:32] #3711 closed

[2019-07-30 05:59] aleksmelnikov opened #3713 "rusfmt is missing for all Tier1 platforms since 2019-07-26"
**Problem**

[Rusfmt component is missing for all Tier1 platforms since 2019-07-26,](https://rust-lang.github.io/rustup-components-history/x86_64-unknown-linux-gnu.html)
so I can't update `nightly-x86_64-unknown-linux-gnu`.

My update log:
[code]

[2019-07-30 07:13] Luro02 opened #3714 "allow spaces before/after braces for imports"
I personally really like to write imports like this

[code]
instead of
[code]

so I'd really like to have an option to format imports like this with rustfmt :)

[2019-07-30 14:30] dtolnay commented on #3697
This is causing some trouble for me so I'd like to offer @topecongiro (as the person who has fixed most of the issues I have filed) a $100 USD bounty via PayPal or Patreon if you've fixed this in master by 2 weeks from this comment. After 2 weeks or if @topecongiro indicates they don't intend to work on this, the bounty is open to anyone else that submits a PR that is accepted. The fix should mean

[2019-07-30 16:07] jplatte opened #3716 "Empty line after comment is removed"
When there is an empty line after a comment in a struct declaration or struct literal, it is removed. This happened to me in a struct where fields are grouped logically, as in this example:

[code]

Running `rustfmt` on the code above removes the empty line, destroying the logical grouping of the fields.

[2019-07-31 02:10] topecongiro commented on #3713
This is fixed by https://github.com/rust-lang/rust/pull/62805.

[2019-07-31 02:10] #3713 closed

[2019-07-31 02:20] topecongiro commented on #3704
We need to specify the following options to format `macro_rules!`:

[code]

And even then rustfmt may not be able to format certain `macro_rules!`, especially those with unusual syntax.

[2019-07-31 02:58] BartMassey opened #3717 "Another "error[internal]: left behind trailing whitespace" bug"
Here's another "error[internal]: left behind trailing whitespace" bug: [gist](https://gist.github.com/BartMassey/850f05e9968b41da4042924fb08fc981). `rustfmt` 1.2.2-stable (5274b49 2019-04-24), 1.4.1-nightly (9e960e7 2019-07-30).

[code]

I tried to cut the example down to something reasonable, but the bug seems really fragile. Apologies.

[2019-07-31 03:55] rchaser53 commented on #3717
Minimum example:

[code]

playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=673db728a775e9e6943975b63e9158f9

[2019-07-31 08:11] pustaczek opened #3718 "Underscore patterns in slice patterns are removed"
After a nightly update, rustfmt started removing underscore patterns from slice patterns. This can cause compilation errors(due to type errors or lexer errors), or even **silently create bugs in application logic**:

[code]
[code]
The original code should print "Wrong username or password", but after running rustfmt, the pattern is no longer matched, and it prints "Logged in" instead.

*rustfmt 1.

[2019-07-31 08:22] topecongiro commented on #3717
The code under `rustfmt::skip` should not trigger `left behind trailing whitespace` errors.

[2019-07-31 14:55] #3718 closed

[2019-08-01 00:09] LEXUGE commented on #3704
According to the README of the `rustfmt.toml`, It is said that `format_macro_bodies` is set to `true` in default. But it takes no effect on that.
If the unusual syntax of the macro leads to such a situation, it will be a sad news for me.

[2019-08-01 21:18] nagisa commented on #3669
It will eat as many comments as you have, only leaving one if it appeared after, I think, the last bound.

[2019-08-01 21:30] bddap opened #3720 "Comments on use statements incorrectly rearranged when use statements are rearranged"
Input:

[code]

Expected:

[code]

Got:

[code]

[code]

[2019-08-02 04:10] nrc opened #3721 "backwards compatibility issue in the last month or so"
Some time between 2019-06-14 and 2019-07-19, the default formatting changed, this breaks rustfmt's backwards compatibility guarantee.

I see two kinds of changes:

[code]

and

[code]

The second seems to require >1 byte characters.

There are many more instances in https://github.com/tikv/tikv/pull/5137/files

Thanks!

[2019-08-02 12:10] KamWithK commented on #3709
I would like to fix this.
I've had a look at #3333 however can't find token!(dyn) in the diffs

[2019-08-02 22:14] agrover opened #3724 "dyn and :: should have a space between"
When given this code:
[code]
rustfmt 1.2.2 stable removes the space between dyn and ::, resulting in this:
[code]

[2019-08-03 06:45] taiki-e opened #3725 "`cargo fmt --all -- --check` issues error for crate that is not part of either the workspace or the path dependencies."
https://dev.azure.com/tokio-rs/Tokio/_build/results?buildId=1748&view=logs

[code]

toolchain: nightly-2019-08-01, (Probably [nightly-2019-07-18 and later](https://github.com/tokio-rs/tokio/pull/1335#issuecomment-513527214), it didn't happen in [nightly-2019-07-17 or earlier versions](https://github.com/tokio-rs/tokio/blob/63377e2110657fbfb085269f221836245755bdde/rust-toolchain#L1))

[2019-08-03 15:54] calebcartwright commented on #3725
Think I know why this one is happening (unintended side effect of https://github.com/rust-lang/rustfmt/pull/3664)

tokio-codec is a member of the top level workspace, but it's also separately consumed from crates by other dependencies in the broader dependency tree as seen in the `cargo metadata` output.

The check used for the `All` strategy is incorrectly including those non-local dependencies b

[2019-08-04 06:53] topecongiro commented on #3724
We need to use edition 2018 to use the `dyn` syntax with a path that starts with `::`. If you are using edition 2015 in your project, then you need to write like (`dyn (::std::error::Error)`).

cc https://github.com/rust-lang/rust/issues/49218#issue-307018539

[2019-08-04 06:53] #3724 closed

[2019-08-04 06:58] topecongiro commented on #3709
@KamWithK Thanks! IIRC all you need to do is to flip the order of these two function calls:

https://github.com/rust-lang/rustfmt/blob/3adfb08afe3cb6a8c055e581dea87808464d1381/src/macros.rs#L306-L309

When you create a PR, please do not forget to add a test :). Also, note that this issue is reproducible only when we are using edition 2018.

[2019-08-05 01:11] agrover commented on #3724
This is with edition 2018. Please reopen?

[2019-08-05 07:54] scampi commented on #3721
Below is the list of commits for the range reported by @nrc. Few are mine and probably the second change (about unicode) is probably mine where I didn't gated the changes. I will have a look at this one.

- [ ] c0e616bc1d19eb9b08a5db2f265b8332569e7259 Implement closing-block procedure without relying on missed_span module (#3691)
- [ ] 76e2ba25bd419beedbbc15aec6b4c6aef4deffaf #3665: Implemented (#

[2019-08-05 12:59] udoprog opened #3728 "Incorrect formatting of tuple destructuring"
rustfmt 1.4.3-nightly 2019-08-03-3adfb08

Incorrectly formats the following ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1d936e8a9c678616bd735017339ff1f6)):

[code]

Into:

[code]

This breaks the tuple destructuring since `(c) == c`.

A workaround until this is fixed is to do:

[code]

_I think_ this was introduced some time since 2019-07-29, since th

[2019-08-05 15:33] #3725 closed

[2019-08-05 19:25] nrc commented on #3721
Thanks @scampi ! Fwiw, I think the breaking change for unicode might be acceptable? If it's a one-off and it is communicated. It is clearly a big fix and shouldn't affect too many users. OTOH, having an opt-in also seems good.

[2019-08-06 02:09] #3728 closed

[2019-08-06 03:24] sinkuu commented on #3724
It seems that rustfmt (on playground) correctly adds spacing if edition is set to 2018. I guess https://github.com/rust-lang/rustfmt#rusts-editions fixes your problem.

[2019-08-06 21:45] olix0r opened #3732 "1.2.2-stable breaks compiling code"
While trying to upgrade our project from rust 1.35.0 to 1.36.0, I find that `rustfmt` introduces a formatting change that breaks compilation:

[code]

This produces non-compiling code
[code]

Here is an example of code that breaks under this version of rustfmt: https://github.com/linkerd/linkerd2-proxy/blob/d315b9f6afb23eb3d0cf58577710989d1bd69944/src/transport/metrics/mod.rs#L60

[2019-08-07 01:26] olix0r commented on #3732
It appears that nightly does not have the same behavior:

[code]

I guess the main issue we have is that the 1.36.0 stable toolchain, which uses rustfmt 1.2.2-stable, is not usable for our project.

[2019-08-08 04:18] KamWithK commented on #3709
Hey, just wanted to let you know that I won't be able to work on this as a result of my lack of time right now

[2019-08-08 11:22] Dawen18 commented on #3536
Same a @sdht0
I have this message when a try to dump default

Version `rustfmt 1.2.2-stable (5274b49 2019-04-24)`

[2019-08-08 15:44] TimDiekmann commented on #1193
@calebcartwright Did you made any progression on this?

[2019-08-08 15:49] calebcartwright commented on #1193
@TimDiekmann - I'm still waiting for some feedback on my question at https://github.com/rust-lang/rustfmt/issues/1386#issuecomment-513085736.

Once I've got the XML format fixed, I'll do the same here for JSON

[2019-08-08 15:58] TimDiekmann commented on #1193
Oh, I didn't see the question. I think for the JSON output it would make more sense to to compare blocks instead of emitting line-by-line.

Taking your example from #1386:

[code]
I think the JSON should output something like this:
[code]

[2019-08-08 17:30] calebcartwright commented on #1193
Thanks @TimDiekmann! What you've proposed would certainly simplify things. Basically emit a single entry for each mismatch with `line` set to the line number in the original file where each mismatch begins (and potentially another key with the ending line of each mismatch).

I'm going to proceed with that approach. However, I'm not sure what all is required/allowed/etc. by the CheckStyle spec so i

[2019-08-08 17:44] TimDiekmann commented on #1193
Nice to hear you like the approach.

Anyway, doesn't it make more sense to focus on JSON first, and then adapt Checkstyle? JSON is much more flexible and easier to parse than XML (especially with tools like `jq`). Checkstyle is also very Java focused.

I'm not familiar with the internals of rustfmt, but I think this way is the easier one anyway.

[2019-08-08 17:53] nagisa opened #3734 "Produces broken code when formatting trait aliases"
[code]

[2019-08-08 17:59] nagisa commented on #3734
The version we are using is rustfmt 1.3.3-nightly (66c27c9 2019-07-16).

[2019-08-08 18:12] calebcartwright commented on #1193
Actually, in looking at this issue, it appears to be asking for a JSON representation of the diff in the Checkstyle schema (as opposed to a general JSON representation of the diff)

Whether we're talking about XML or JSON formatting of the Checkstyle representations of the diffs, there was still a need to first determine what the "correct' CheckStyle results should be. Also, the emitter for Checks

[2019-08-09 04:56] 95th commented on #3688
It is not building:
[code]

[2019-08-09 08:52] topecongiro commented on #3734
Dup of #3657. This is now fixed in rustfmt 1.4.4-nightly.

[2019-08-09 08:52] #3734 closed

[2019-08-09 08:57] topecongiro commented on #3732
This is unfortunate, but not much we can do at this point. The next stable will be released within a week, so until then, I would appreciate if you could use the nightly version for now.

In upcoming releases, when a version with serious bugs gets released via the stable channel, we will  consider creating a patch release to fix it.

[2019-08-09 08:57] #3732 closed

[2019-08-10 00:22] slightlyoutofphase opened #3736 "Add an option to not automatically pad const-generics braces with spaces"
By which I mean, given this code from a crate of mine:

    impl<T, const N: usize> Index<usize> for StaticVec<T, {N}> {
      type Output = T;
      ///Asserts that `index` is less than the current length of the StaticVec,
      ///and if so returns the value at that position as a constant reference.
      #[inline(always)]
      fn index(&self, index: usize) -> &Self::Output {
        assert!(in

[2019-08-11 03:49] #3709 closed

[2019-08-12 19:52] abonander opened #3738 "Option for --check to list violating files only"
For our CI script we just want to say "cargo fmt needs to be run, here's the files that need it" which doesn't appear to be possible using `--check`. The diff output is kind of too noisy to be useful unless you expect the committer to actually fix the files by hand.

[2019-08-12 20:02] calebcartwright commented on #3738
I was just thinking about this one the other day

[2019-08-12 23:41] topecongiro opened #3739 "Command line interface for 2.0"
Notes on some ideas for CLI changes in rustfmt 2.0.

## Deprecate `--backup`

This should be done via any version control system.

## Add subcommands

Change format-diff/git-rustfmt into rustfmt's subcommands.

Also `rustfmt --print-config` could be one of subcommands as well instead of being a flag, as it takes multiple arguments.

## Add `--check` to cargo fmt

`cargo fmt -- --check` is one of t

[2019-08-13 00:01] topecongiro commented on #3736
A const generic is formatted just like a block expression, which rustfmt adds spaces within its braces if it fits in a single line.

[2019-08-13 00:10] topecongiro commented on #3738
We can add a command line flag like the `-l,--files-with-matches` of `rg`:

[code]

[2019-08-13 00:15] calebcartwright commented on #3738
Even better! I'd be happy to look at implementing this @topecongiro once I've finished up my work with the json and checkstyle emitters

[2019-08-13 04:03] L117 opened #3740 "Incorrect formatting with const generics inside `where` clause."
I occasionally found a bug when format-on-save did it's job.
Following snippet
[code]
was transformed into
[code]
`rustfmt 1.4.4-nightly (0462008 2019-08-06)`
I tried to simplify this snippet, but had no luck in reproducing this bug, so I left it as is.

[2019-08-13 06:55] Seeker14491 opened #3741 ""left behind trailing whitespace" error in enum with casts"
Attempting to format the following:

[code]

produces this error:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=994e584aa0c37b7644089f0f3f961434)

This is the same testcase from #3562, but with ` as i32` appended to each variant.

[2019-08-13 14:21] #3740 closed

[2019-08-13 18:30] yaahc opened #3744 "option to enforce ordering for attributes and doc comments"
There are two orderings possible with items that have both attributes and doc comments

[code]

A random twitter poll that I cannot find anymore made it clear that option 1 is significantly more popular than option 2 and some people (myself included) would prefer if we just settled on one of these variants and consistently enforced that style.

The proposed feature is to add a check for items that

[2019-08-13 23:07] topecongiro commented on #3744
cc #3303.

[2019-08-13 23:07] #3686 closed

[2019-08-15 05:31] 95th commented on #3688
Hi @scampi, is there any update on this issue please?

[2019-08-15 11:46] Proksima commented on #3514
Indeed, I was surprised when trying to customize my `rustfmt.toml` that there were close to no customization when it comes to assignments. Then again, looking at how everyone code, I think I am the oddball with my

[code]

[2019-08-15 12:25] diwic opened #3745 "Multiple function arguments per line"
Is there a way I can get the code to look something like this:

    fn lorem<Ipsum: Eq = usize, Dolor: Eq = usize, Sit: Eq = usize,
        Amet: Eq = usize, Adipiscing: Eq = usize, Consectetur: Eq = usize,
        Elit: Eq = usize

        consectetur: Consectetur, elit: Elit
    ) -> T {

I find the current "new line for every argument" style very wasteful of screen space.

[2019-08-15 17:01] YaLTeR commented on #3697
Related / duplicate of #2970?

[2019-08-16 01:51] topecongiro commented on #3745
I think what you want is [`fn_args_layout = "Compressed"`](https://github.com/rust-lang/rustfmt/blob/master/Configurations.md#compressed).

[2019-08-16 01:54] topecongiro commented on #3704
I believe this is the case. rustfmt is only able to format macros with 'valid' syntax.

[2019-08-16 02:14] #1193 closed

[2019-08-16 02:15] #3701 closed

[2019-08-16 05:46] diwic commented on #3745
Thanks, not sure how I missed that - but I would like this "compressed" style to apply for many other things, such as long struct initializers, long imports, etc. Is that possible?

[2019-08-16 15:16] LEXUGE commented on #3704
OK. thanks for your help.
So various 'invalid' favors which are created by proc macro would not be supported by rustfmt in the future? If so, I will close this issue for less disturbance for you guys.

[2019-08-16 17:29] YaLTeR opened #3746 "Formatting takes two runs to converge"
This particular pattern:
[code]
requires two steps to converge. The first step does the following:
[code]
and the second step adds the missing comma:
[code]
This works properly (in a single step) if `f!` is a function rather than a macro. The real use-case uses `assert_eq!`. Tested on `rustfmt` `1.3.0-stable` and `1.4.4-nightly (0462008 2019-08-06)`.

[2019-08-17 01:39] topecongiro commented on #3745
rustfmt does not have a global configuration option for forcing compressed format throughout, but it does have some item-specific settings. For imports, the default (`imports_layout = "Mixed"`) is the most compressed format style that rustfmt offers.

[2019-08-17 13:02] agrover commented on #3724
No, we are using 2018 edition.

* `git clone https://github.com/mozilla/neqo.git`
* Observe that neqo-transport/Cargo.toml sets `edition = "2018"`
* Observe that neqo-transport/src/lib.rs line 120 is mis-formatted.

[2019-08-17 14:26] agrover commented on #3724
Oops, I can't repro with `cargo fmt -- --check`, this is happening with emacs rust-mode autoformat-on-save, so I think it is to blame, not rustfmt. Sorry to bother y'all.

[2019-08-18 05:33] earwig opened #3748 "Incorrect reordering of mods with #![macro_use] breaks code"
This is similar to #2399, but applies when the inner attribute form `#![macro_use]` is used instead of the outer attribute form. For example:

src/lib.rs:
[code]

src/foo.rs:
[code]

src/bar.rs:
[code]

By default, rustfmt will reorder lib.rs to `mod bar; mod foo;` which fails to compile.

Perhaps this would be considered poor style, but rustfmt breaking it is definitely not ideal.

[2019-08-19 01:56] #3748 closed

[2019-08-19 02:04] #3738 closed

[2019-08-19 02:08] abonander commented on #3738
That was quick! Awesome!

[2019-08-19 02:11] #1386 closed

[2019-08-19 10:31] Robbepop opened #3750 "Formatting changes semantics of imports"
I have a project with a module that re-exports other definitions as follows:
[code]
Oftentimes I want to use the `vec!` macro and `Vec` type like so:
[code]
However, `rustfmt` thinks this is worse than
[code]
However, this has different semantics since `vec` above refers to the `vec!` macro while `self` in the replaced variant refers to the `vec` submodule of `defs`. So I can no longer access the

[2019-08-20 12:09] topecongiro commented on #3750
This is not reproducible with the latest rustfmt, both in stable and nightly. Would you mind telling us which version you have used?

[2019-08-20 17:42] olson-sean-k opened #3751 "Documentation code is not formatted when `format_code_in_doc_comments` is enabled."
I'm using nightly build `1.4.4-nightly (0462008 2019-08-06)` of `rustfmt` with the following `rustfmt.toml`:

[code]

When invoked with `cargo +nightly fmt` using this configuration, `rustfmt` does **not** format code in documentation comments. This doesn't seem to agree with [the documentation](https://github.com/rust-lang/rustfmt/blob/master/Configurations.md#format_code_in_doc_comments) for the

[2019-08-20 19:01] Robbepop commented on #3750
`cargo fmt --version` yields `rustfmt 1.4.4-nightly (0462008 2019-08-06)`
Good to know that it is already fixed at `master`. Sadly I am not able to upgrade at the moment.

[2019-08-21 01:41] topecongiro commented on #3751
Thank you for reporting an issue. Would you mind providing us with some examples? That would be helpful to track down the bug.

[2019-08-21 01:44] topecongiro commented on #3750
@Robbepop Never mind, this is actually reproducible with `merge_imports = true`. Do you set
the option as well?

[2019-08-21 04:28] Robbepop commented on #3750
yes it is enabled!

[2019-08-21 17:46] max-sixty commented on #3257
And to confirm, this isn't possible on stable at the moment?

Currently in `insta` we're shelling out. This is a bit hacky (e.g. can't guarantee versions / it's even installed), but simple & works.

If there were a way of compiling in rustfmt that would be an interesting alternative.

[code]

[2019-08-21 18:17] olson-sean-k commented on #3751
This happens against [this repository at this commit](https://github.com/olson-sean-k/plexus/tree/01066d7d4965dae17a9a91c4d07cdb7325c9bf52). If I intentionally "scramble" the examples, `rustfmt` does not reformat them as expected.

For example, this altered comment ([originally from here](https://github.com/olson-sean-k/plexus/blob/01066d7d4965dae17a9a91c4d07cdb7325c9bf52/plexus/src/index.rs#L31))

[2019-08-22 01:32] topecongiro commented on #3751
Thanks! It looks like rustfmt fails to format the doc comment when it contains a line with `#` but without any content. A minimal working example:

[code]

[2019-08-22 19:33] topecongiro commented on #3746
Inside macro calls rustfmt should not add or remove a block or a comma. With respect to the given example, rustfmt should emit:

[code]

[2019-08-24 11:43] valff commented on #3362
Perhaps `merge_imports` shouldn't use `self` in a leaf position at all? So this
[code]
should always be converted to
[code]

[2019-08-26 20:05] tdaede opened #3755 "Unpublish from crates.io?"
Some of our developers are confused that the version of rustfmt installed from crates.io does not match the version from rustup. The crates.io page does display a notice that it's deprecated, but I think it would be better if it wasn't installable at all.

[2019-08-27 00:26] topecongiro commented on #3755
For historical reasons, https://crates.io/crates/rustfmt is deprecated and https://crates.io/crates/rustfmt-nightly hosts the most up-to-date version. Ideally we could replace the former with the latter by renaming it, but I am not sure if that's possible in crates.io. Also I might not have the permission to do so. @nrc would you mind having a look?

[2019-08-27 00:27] #3274 closed

[2019-08-27 01:23] topecongiro opened #3757 "Fails to format certain macro calls after encountering one with invalid syntax"
If rustfmt encounters a macro call with invalid syntax, it fails to format _some_ macro calls that comes after.

E.g., in the following code snippet,
[code]
the argument of `foo!` is not valid syntax of rust. It fails to format `f!` that comes after, but successfully formats `g!`.

Interestingly, if `g!` comes before `f!`, then rustfmt is able to format both `f!` and `g!`.

[code]

[2019-08-27 01:24] topecongiro commented on #3757
cc #3583.

[2019-08-27 02:23] #3750 closed

[2019-08-27 09:22] Marwes opened #3759 "Attributes on matched fields are lost"
[code]
https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=7d3506512b98f0107748e18f43d3f3f9

Formatting the above gives

[code]

[2019-08-28 11:50] #3759 closed

[2019-08-28 11:50] #3746 closed

[2019-08-28 15:07] alexcrichton opened #3762 "Formatting of a multi-line string never converges"
Y'all may have already fixed this and/or be aware of it, but I noticed this when running `cargo fmt` over the `toml` crate today:

This file:

<details>

[code]

</details>

will continually try to indent a particular line:

[code]

Once you apply that diff though it will continue to indent the line afterwards. Also FWIW I'm running `rustfmt 1.4.5-nightly (9792ff0 2019-08-19)`

[2019-08-28 23:07] CreepySkeleton commented on #3549
Hi @scampi , could you please assign me to this issue. I'll give it a try in a day or so.

And a question:
- multiple `--config` invocations. Do we allow them? If so, what if some values are passed multiple times, either within one `--config` invocation or not? I'd suggest "later overrides former" policy.

[2019-08-29 00:40] calebcartwright commented on #1636
I'm not sure how far back this was fixed, but AFAICT it has been. I can't reproduce, and I also added some tests (like [this one](https://github.com/rust-lang/rustfmt/blob/master/src/emitter/checkstyle.rs#L89)) in https://github.com/rust-lang/rustfmt/pull/3694 to cover this scenario/prevent a regression.

IMHO this can be closed

[2019-08-29 01:04] topecongiro commented on #1636
@calebcartwright Thank you for confirming!

[2019-08-29 01:04] #1636 closed

[2019-08-29 04:41] calebcartwright commented on #3253
@topecongiro - I believe I've got a fix for the cfg_if support (at least it's working my local env 😄)

Will open a PR shortly for review to see how close I actually am

[2019-08-29 10:08] topecongiro commented on #3549
@CreepySkeleton Thank you for your interest in contributing to rustfmt! I will assign you to this issue.

I think that we can allow multiple `--config` and I agree that the later should override the values when there are multiple key-value pairs with the same key.

[2019-08-30 01:02] LPGhatguy commented on #3688
I just hit this issue today in my repository. The repository and commit that is failing to rustfmt is:

https://github.com/rojo-rbx/rbx-dom/tree/3448e528766b1558ac76addf5e636df797f180ed

[2019-08-30 09:34] Follpvosten opened #3765 "await operator on async block gets unexpected indentation"
Using the latest nightly, this:

[code]

Gets formatted to this:

[code]

I would expect it to either stay in place (because `}.await;` isn't really a long line) or move one line done, but without the indentation.

[2019-08-30 10:25] theduke opened #3766 "Import grouping"
A common pattern is to separate imports into 3 groups: builtins (std/core/alloc), dependencies and crate-locals (separated by newlines).

Eg:

[code]
It seems like `rustfmt` should have all the information to do this grouping.

Is this common enough to potentially be implemented behind a setting?

The only potentially difficult part is distinguishing local imports from external crates, but this sh

[2019-08-30 10:51] topecongiro commented on #3766
This is certainly possible and personally I would like to add this to rustfmt behind a config option.

The other difficult point I can think of is how we handle imports that are intertwined with other items, especially those with comments:

[code]

Ideally, we should not lose any comments and the `Pre-comment` and `Post-comment 1` should be moved along with `use std::sync::Mutex`, but leave the `P

[2019-08-30 14:40] drrlvn commented on #2999
Isn't this a duplicate of #2938?

[2019-08-30 14:40] drrlvn commented on #3766
Isn't this a duplicate of #2979?

[2019-08-30 15:12] theduke commented on #3766
It is indeed.

[2019-08-30 15:12] #3766 closed

[2019-09-01 03:05] aebarber commented on #3564
I've decided that this is not an important styling issue, and I've stopped using this style in my code and found that it's infinitely more beneficial to have this tool in my workflow than whatever I perceived as a minor readability improvement. It also seems like this tool has the goal of being simple and lightweight, rather than being infinitely configurable. I'm in agreement with that goal, and

[2019-09-02 03:28] lopopolo opened #3770 "weird spacing and alignment with &&, !, and unsafe block"
rustfmt formats this code funnily. This is the formatted output:

[code]

An alternate branch in the conditional formats correctly:

[code]

Attaching the `&&` to the expression causes rustc to take a double reference and the code does not compile.

[2019-09-02 11:56] rchaser53 commented on #3770
It seems to be a compiler error. I added the dbg! to show the snippet and expr info.

### the place to add the dbg!
https://github.com/rchaser53/rustfmt/blob/issue-3770/src/expr.rs#L87

### input
[code]

### output dbg! info
[code]

[2019-09-02 12:25] andreyrmg opened #3771 "Support `arbitrary_enum_discriminant` feature"
For now, `rustfmt` simple removes the explicit discriminant value of the enum variant that has fields.

[code]

become

[code]

[2019-09-02 18:36] AngelLomeli commented on #3287
Hello. I'm interested in starting to contribute to rustfmt, and I saw that this issue didn't seem to have anyone already looking.

While I'm familiar with git, I haven't gone through the workflows on GitHub lately. If there's anything I've missed or done incorrectly, just let me know and I'll be happy to fix it.

Thanks!
-Angel

[2019-09-03 09:22] Nadrieril opened #3774 "Formatting of macro calls changed; causes "line exceeded maximum width""
I just upgraded from 2019-03-22 to 2019-09-03, and rustfmt seems to have changed how it handles macro calls. It rewraps the following lines into a single line and then complains about "line formatted, but exceeded maximum width". I tried adding line breaks or braces to avoid the error but of course it formats them away.
[code]
I have a few other similar issues, and all of them occur when the body

[2019-09-03 13:20] rchaser53 commented on #3770
I submitted the issue(#64093) and got the answer. The first formatted code seems to be correct. I didn't know that but rustc parser second expression as &&bool.

[code]

[2019-09-04 02:44] kentfredric commented on #3572
I wrote a crappy bash script that will simulate one example of this failure, just `cd /tmp/foodir` or something before you run it.

[code]

So still failing with
[code]

The crappy part really is how an empty directory can even mess this up, which is annoying, because you don't see empty directories in `git status` >_>

[2019-09-04 03:17] calebcartwright commented on #1820
Just a heads up that I've taken a pass at this and now have a working implementation locally.

Will open a PR for discussion/review/etc. within the next day or two

[2019-09-04 03:42] calebcartwright commented on #3739
I'd like to work on that one!

[2019-09-04 11:08] topecongiro commented on #1583
AFAIK, we cannot use workspace to separate crates as long as rustfmt is registered as a submodule under the rustc repo. We could still have multiple crates under the same repository without using workspace, however (like we currently do with rustfmt-config-proc-macro).

Starting from 2.0, I would like to re-organize this repo into something like the following:
[code]
...that is, we will have three

[2019-09-04 11:21] topecongiro commented on #3770
@rchaser53 Thank you for examining the issue! Looks like this is a limitation of the rustc parser and nothing can be done from rustfmt side.

[2019-09-04 11:21] #3770 closed

[2019-09-04 11:32] topecongiro commented on #3287
AFAIK, rustfmt formats files behind `#[cfg(feature = "...")]` by default, but files behind `cfg_if!` are partially supported (#3763 should hopefully fix it, though).

[2019-09-04 11:46] topecongiro commented on #3765
We should update `is_block_expr` so that it returns `true` when passed `ast::ExprKind::Async(..)`:
https://github.com/rust-lang/rustfmt/blob/ad5d9fba9b6d5482e504e4996e2aea54defb9ed6/src/utils.rs#L447

Also we should stop using the wildcard pattern(`_`) when matching against the ast node so that we don't get this kind of errors.

[2019-09-04 14:00] #2916 closed

[2019-09-04 14:01] #3771 closed

[2019-09-04 15:43] mulkieran opened #3776 "rustfmt 1.38 beta removes some lines that rustfmt 1.37 doesn't"
See PR: https://github.com/stratis-storage/stratisd/pull/1626.
See associated Travis tests: https://travis-ci.org/stratis-storage/stratisd/builds/580736583
5329.1 formatting task succeeds, code is correctly formatted.
5329.15 formatting task on beta fails, requires removal of exactly two lines

[2019-09-05 00:51] stepancheg commented on #3362
I wish there was a third option: unmerge imports into one import per line.

[2019-09-05 02:15] #3549 closed

[2019-09-05 02:15] #3774 closed

[2019-09-05 10:02] HiraokaTakuya opened #3778 "rustfmt can't treat try_blocks."
I use rustfmt 1.4.6-nightly (f800ce4 2019-08-28).
The source code is as follows.
[code]
An error occurs.
[code]

[2019-09-05 10:17] topecongiro commented on #3778
We need to use edition 2018 to enable `try_blocks`, but the default edition for rustfmt 1.X is 2015. If you are invoking `cargo fmt` inside a project using edition 2018, rustfmt should automatically detect it. If you are calling rustfmt directly, then you need to explicitly pass `--edition 2018` to rustfmt. E.g.,

[code]

[2019-09-05 10:30] HiraokaTakuya commented on #3778
Thank you very much!
I understood `--edition 2018` and the difference between `cargo fmt main.rs` and `rustfmt main.rs`.

[2019-09-05 10:30] #3778 closed

[2019-09-05 10:38] #3741 closed

[2019-09-05 12:11] calebcartwright opened #3779 "gracefully handle recoverable parser errors in ignored files"
Refs https://github.com/rust-lang/rustfmt/pull/3777#issuecomment-528326806

[2019-09-05 20:03] calebcartwright commented on #3779
AFACIT, when there's a parser error in the main file, we hit the `Err(ErrorKind::ParseError)` arm (line 91) after calling `parse_crate` and don't even make it down to the `ModResolver` in such a scenario:
https://github.com/rust-lang/rustfmt/blob/1ded995ee79c44069b7832e5aba00162fc2113fa/src/formatting.rs#L82-L92

This is the case for the error we are seeing with the ice file in #3777.

If I've got

[2019-09-05 21:14] 0xpr03 commented on #3717
I get this for `let toml` in [here](https://github.com/0xpr03/clantool/blob/cb53f1cc88400804c5328a4126e7a7fc760e219b/src/config.rs#L144) using a `r#"` in the next line.

[2019-09-05 22:16] topecongiro commented on #3779
Thank you for delving into this issue!

I think that you are right here.

I personally prefer the option 2, as that way we can avoid adding a new config option. If we go that route, we may also need to wrap `parse_crate` with `catch_unwind` as the rustc parser sometimes dies with panic on certain parse errors 🤷‍♂

[2019-09-05 22:19] topecongiro opened #3780 "Update rustc-ap-syntax"
Hopefully fixes https://github.com/rust-lang/rust/issues/64180.

[2019-09-05 23:16] YaLTeR opened #3781 "Custom attributes sometimes not formatted"
rustfmt `1.4.5-nightly (2019-08-19 9792ff0)`
[code]
gets reformatted as
[code]
even though this also fits fine
[code]

[2019-09-05 23:28] calebcartwright commented on #3779
I've got option 2 working, and getting the desired zero exit code. There is already a `catch_unwind` within `parse_crate`:
https://github.com/rust-lang/rustfmt/blob/1ded995ee79c44069b7832e5aba00162fc2113fa/src/formatting.rs#L660
However, the parse error is still displaying on the terminal. Is that still the desired behavior?

I suppose if we wanted to suppress we could use [panic::set_hook](https:

[2019-09-06 00:14] topecongiro commented on #3781
Looks like `ast::Attribute::meta` returns `None` against the first attribute, and rustfmt cannot process it further.

https://github.com/rust-lang/rustfmt/blob/1ded995ee79c44069b7832e5aba00162fc2113fa/src/attr.rs#L332

[2019-09-06 00:27] topecongiro commented on #3779
Great! Thank you for checking.

It would be better if we could not display the parser error from files that are specified in `ignore`. IIRC the code which displays parser errors is this:

https://github.com/rust-lang/rustfmt/blob/1ded995ee79c44069b7832e5aba00162fc2113fa/src/formatting.rs#L671

We can suppress these error messages by explicitly canceling it. rustfmt already does this when parsing m

[2019-09-06 00:36] calebcartwright commented on #3779
At least on my machine, the error is being printed to the console directly from that `catch_unwind` line. When I first started looking for the source I started on line 671 too, but it was already printed before that point.

I'll take another look at it though 👍

[2019-09-06 01:49] topecongiro commented on #3779
Ok, now I recall it correctly :smile:
The rustc parser handles an error by either returning `Err` or panicking (sigh). Which is used depends on the kind of syntax error and we cannot tell beforehand. https://github.com/rust-lang/rustfmt/issues/3779#issuecomment-528658048 handles the former, and the `catch_unwind` implicitly handles the latter.

E.g, the parser will return `Err` against this snippe

[2019-09-06 03:12] calebcartwright commented on #3779
This one is turning out to be more involved than I'd originally thought 😄

I tried `panic::set_hook` no avail, but that lead me to take a closer look at the emitter being used for the parse session.

It now has me wondering if we could just set the emitter to `silent_emitter()` if the file is an ignore_set_match. I tested it out locally and works like I'd hoped. Any concerns with that?

[2019-09-06 04:29] calebcartwright commented on #3780
I assume that's probably why the Travis and AppVeyor builds are failing with errors like the ones below?
[code]

[2019-09-06 06:47] topecongiro commented on #3780
@calebcartwright Yes 😞

[2019-09-06 09:16] faern commented on #3362
I would love `merge_imports` to be stabilized. I use it in all my personal and work crates. But if making it possible to also split imports it should probably be under the same config directive, so probably good to think that through first.

[2019-09-06 12:52] Boscop opened #3784 "Rustfmt breaks chained method calls that are below max_width"
I set max_width to 100 but it breaks this line:
[code]
into:
[code]

**How can I prevent it from breaking these kind of lines that are below the max_width?**

My settings:
[code]

If there is an internal `max_chain` limit, it should exposed to be configurable (also allow unlimited = only use max_width for breaking lines).

[2019-09-06 12:55] m-ou-se commented on #3784
Worth to note that at `max_width = 105` and higher, it does put it all on one line, as expected. The line is only 82 chars wide, though.

[2019-09-06 13:05] m-ou-se commented on #3784
Looks like this is an intentional part of `use_small_heuristics`. `use_small_heuristics = "Off"` fixes this.

[2019-09-06 13:08] #3784 closed

[2019-09-06 13:41] #3780 closed

[2019-09-07 07:59] kellytk commented on #3547
@cramertj

While I personally prefer `Vertical`, https://github.com/rust-lang/rustfmt/issues/3361#issuecomment-499529271 mentions a possible benefit.

[2019-09-08 03:47] rchaser53 opened #3786 "internal error happened in r# string with new line and long string"
related: https://github.com/rust-lang/rustfmt/issues/3717

minimal reproducible example:
[code]

rust playground link
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=18e63addd536f5c8078999cc8871cfbc

[2019-09-08 03:49] rchaser53 commented on #3717
@0xpr03 your bug seems to be another reason, so I created new issue #3786.

[2019-09-08 08:46] AlephAlpha opened #3787 "wrap_comments breaks links with long URL"
With `wrap_comments = true`, the following code:

[code]

will be formatted as:

[code]

The URL is broken into two lines.

It seems that this only happens in lists.

[2019-09-10 21:43] rustonaut opened #3790 "Cargo fmt strips if let pattern field attributes."
Cargo fmt strips if let patterns annotations/meta (in this case a feature gate).

So this code:

[code]

Becomes

[code]

Which then fails to compile if you do so without the `test-functionality` feature...

[2019-09-11 00:52] topecongiro commented on #3790
This is a duplicate of #3759. The issue has been fixed on the latest nightly.

[2019-09-11 00:52] #3790 closed

[2019-09-11 00:55] #3765 closed

[2019-09-11 10:56] ChrisGreenaway opened #3791 "Raw identifiers in use statements affect the ordering"
For example:

[code]

gets reformatted as:

[code]

[2019-09-12 21:56] gnzlbg opened #3792 "Trailing comments break subsequent comments"
I have a rustfmt.toml like this:

[code]

and a line like this:

[code]

gets incorrectly formatted into a line like this

[code]

notice that the  comment is incorrectly wrapped to the right, and that as a consequence the 79 character limit is not satisfied after formatting, such that a subsequent `rustfmt --check` fails.

[2019-09-13 15:15] Marwes opened #3794 "Rustfmt can't find module if a directory and module is named the same"
Reproduction, clone https://github.com/Marwes/rustfmt-bug and run `cargo fmt`.

[code]

Since both `tests/test.rs` and `tests/test/` exists, rustfmt is unable to find `tests/support/mod.rs` as `mod support;` as it appears that rustfmt thinks that `test.rs` is part of the `tests/test/` module tree. This is different from how rustc/cargo sees it which compile the code happily.

I guess rustc/cargo h

[2019-09-14 05:22] rchaser53 commented on #3794
How about this?
```cargo fmt -- tests/*/*.rs tests/*.rs```

[2019-09-14 06:30] Marwes commented on #3794
[code]

[2019-09-14 06:54] rchaser53 commented on #3794
Do you use Windows?
```cargo fmt -- tests/*/*.rs tests/*.rs ``` works in macOS(10.14.6).
It seems to be a problem that depends on Windows.

[2019-09-14 07:34] wchargin opened #3796 "Consider omitting trailing commas in function calls of one argument"
Builder patterns are common in Rust’s standard library and ecosystem.
Here are a few real (adapted) examples, with current `rustfmt` output
(version 1.3.0-stable):

[code]

Unfortunately, in all these cases the trailing comma is actively
unhelpful. The common modification pattern for such builders is not
adding an additional argument to the enclosing function call, but rather
additional mutations

[2019-09-14 07:40] Marwes commented on #3794
`cargo fmt -- tests/*/*.rs tests/*.rs` was run on windows but plain `cargo fmt` breaks on linux as well.

[2019-09-14 08:04] rchaser53 commented on #3794
I succeeded to reproduce the bug on ubuntu 18.04. Thank you.

[2019-09-14 09:37] rchaser53 commented on #3794
The rustfmt was in my environment a bit old.
This bug is also happended on the latest rustfmt on macOS.

[2019-09-14 19:01] #1152 closed

[2019-09-14 19:29] sanboxrunner opened #3797 "Strangle Result<> break on long phrases"
Hiya:

We get a strangle line break on a long Result phrase:

[code]
Not how the final line is `> {`. Seems like the `>` should be on the second to final line, and then we should just have the bare `{` on that line.

I can confirm this is how rustfmt ships by default (ie -- no options on, this still happens).

No big deal, just thought I'd mention it

[2019-09-15 13:28] topecongiro commented on #3797
Thank you for filing an issue. This is actually expected and working as intended. rustfmt puts the opening `{` on the same line if the line only consists of the closing `>`.

[2019-09-15 13:28] #3797 closed

[2019-09-15 13:44] topecongiro commented on #3796
Thank you for creating a feature request to rustfmt! I am sorry to say, however, that we are unlikely to accept this feature. One of the core design principles of rustfmt is consistency, and I feel that this feature does not have enough benefit to break it.

inserted by rustfmt before adding the desired change

Concerning a builder pattern, I think that we can just add a new element in the middle

[2019-09-15 13:44] #3796 closed

[2019-09-15 13:49] topecongiro commented on #3794
As a workaround, the following command may work if you are using nightly (you also need `fd`):

[code]

[2019-09-15 14:45] #3717 closed

[2019-09-15 19:04] wchargin commented on #3796
Okay, understandable. Thank you for your quick reply! Adding calls to
the middle of the chain of course isn’t ideal, but maybe it’s all right.

Thanks also for the references to Black’s behavior; that’s great to
know! :-)

[2019-09-17 02:34] emilio opened #3799 "cargo fmt and cargo fmt --check don't agree on bindgen"
Will put concrete STR in a sec.

[2019-09-17 03:02] emilio commented on #3799
STR: Check out https://github.com/rust-lang/rust-bindgen/commit/dd21b210dd7c7b91a571ed83e9bbbb249f24aa8b

[code]

[2019-09-17 12:09] synek317 commented on #2263
Any news regarding this issue?
Does it wait for a decision or just an implemention? Or maybe someone already works on it?

[2019-09-17 22:30] calebcartwright commented on #3799
I can reproduce this one as well, though I've no idea what the cause is 🤔

[2019-09-17 22:38] calebcartwright commented on #3799
When running with the list file names option `-l`, it looks like on the first pass that rustfmt is correctly identifying the diff in `options.rs`

[code]

There is a `rustfmt.toml` file in the root of the project directory:
[code]

but also one in the `tests` directory:
[code]
Since rustfmt will run for each target, my guess is that it's doing one pass against `options.rs` with the root level conf

[2019-09-18 13:39] #3786 closed

[2019-09-18 14:55] calebcartwright opened #3801 "Refactor `Param` vs. `Arg` naming"
Refs https://github.com/rust-lang/rust/issues/62426 and refs https://github.com/rust-lang/rustfmt/pull/3793#discussion_r324465548

@topecongiro - as discussed I'll work on this one 👍

[2019-09-20 00:28] bolinfest opened #3802 "Ignore license_template_path if it is the empty string"
See here:

https://github.com/rust-lang/rustfmt/blob/4449250539b7e8ab27d8c12a77ca38ce278eac51/src/config/license.rs#L215-L221

Nothing upstream of this function aborts if `license_template_path` is the empty string.

One might wonder why anyone would set `license_template_path` to `""`. Well, `rls` does it when it creates a rustfmt `Config` using `Default::default()`, serializes it to file, and pa

[2019-09-20 07:11] #3623 closed

[2019-09-20 09:17] scampi commented on #3688
@95th Sorry for the delay, I had little time available for this. The branch is now compiling. Thanks for giving it a try!

[2019-09-21 01:06] cphoenix-google commented on #3705
For many macros, specifying the separator of a list of arguments would be necessary and sufficient. "You're allowed to modify whitespace immediately after this pattern."

Of course this might break in a few special cases, but if it's opt-in that's OK - use it in the other cases.

[2019-09-21 01:16] cphoenix-google commented on #3705
Also, rather than specifying it in the .toml, how about a #[rustfmt::] block on the macros you want to format? That would give finer-grained control, more closely linked to the source you want to affect (you don't have to export your .toml to let others format your macro invocations).

// For keyword-args like my_macro!(foo: 5, bar: 6, baz: 7)
#[rustfmt::macro_args_separator(",")]

// For the exam

[2019-09-23 15:24] AaronKutch opened #3805 "macro fails to be wrapped if it is exactly one character beyond max_width"
[code]
Using rustfmt 1.4.8 nightly with a `.rustfmt.toml` with the following:
[code]
If this is manually formatted, overflow will not happen. However, if the `format_macro_matchers = true` line is uncommented, the line will always be reformatted to overflow until another character is added.

[2019-09-24 00:24] #3802 closed

[2019-09-24 00:25] #3801 closed

[2019-09-24 01:50] topecongiro commented on #3287
I think that this is already fixed via the support of `cfg_if!`. Please feel free to re-open the issue if this is not the case.

[2019-09-24 01:50] #3287 closed

[2019-09-26 04:49] RuralDependencies opened #3806 "Enormous bug"
Apparently, we can't post any basic 3D ASCII titles on top of documents...

Example

`
______________________ ____________________
\__    ___/\_   _____//   _____/\__    ___/
  |    |    |    __)_ \_____  \   |    |
  |    |    |        \/        \  |    |
  |____|   /_______  /_______  /  |____|
                   \/        \/
`

I think an emergency fix is required, hope somebody can fork immedi

[2019-09-26 05:44] rchaser53 commented on #3806
Could you give us the minimum reproduction in Rust Playground?
link: https://play.rust-lang.org/

[2019-09-26 05:59] RuralDependencies commented on #3806
I can't i'm still shaking out of rage :(

[2019-09-26 15:42] nagisa opened #3807 "Format `module::{self}` to `module`"
Currently we format `module::{self}` to exactly the same thing, but this `::{self}` is redundant and is likely an artifact from somebody removing rest of the imports within the `{}` list.

We should just remove the `::{self}` part.

[2019-09-26 15:49] nagisa opened #3808 "merge_imports will incorrectly format imports with `self`"
[code]

The newly formatted code cannot compile because Rust requires `self` to appear within `{}`. Related: https://github.com/rust-lang/rustfmt/issues/3807.

[2019-09-27 00:38] calebcartwright commented on #3808
Yup, indeed a bug. Will open a PR with a fix shortly

[2019-09-27 07:08] driftluo opened #3811 "Why fmt must use internet to fmt code？"
rustfmt use `cargo-metadata` to get all kinds of metadata, but default use `online` mode and can not change to `offline`.

But it is well known that because of various network problems, `cargo` added the `--offline` option, `metadata` also supports this option, but `fmt` does not support.

I strongly recommend that `fmt` also have the offline parameter or default with `offline`.

https://github.co

[2019-09-27 12:33] ragnese opened #3812 "Request: Configure how/when "fluent" call chains are chopped down."
I prefer that fluent call chains are aggressively chopped down. I.e., I never want to see this:

[code]

I would always rather see:

[code]

Or at least:

[code]

Thank you!

[2019-09-27 12:58] calebcartwright commented on #3812
Related #2263, #3693

[2019-09-27 13:11] calebcartwright commented on #3811
Sounds reasonable to me. I'll work on adding this.

FWIW, `rustfmt` itself doesn't use `cargo_metadata`, so as a work around in the short term you could use `rustfmt` directly instead of `cargo fmt` if you're having network issues

[2019-09-27 14:32] howaboutsynergy opened #3814 "extra new line would be good, in this case"
`cargo-fmt` did this:
[code]

that `rt::run,` line could use an extra new line, me thinks.

rustfmt 1.4.8-nightly (6b0a4471 2019-09-20)

code is from: https://rust-lang.github.io/async-book/01_getting_started/05_http_server_example.html

Thanks.

PS: someone could probably title this better to describe this case?

[2019-09-27 17:44] Boscop commented on #3382
It would be more useful if statements inside functions are not covered by this, only declarations!

Or is there another way to specify that I want to have at least 1 empty line between declarations (also between function-local declarations and whatever comes before/after)? (But not between statements in a function body.)

[2019-09-27 22:33] scampi commented on #3791
fixed in `rustfmt-2.0` branch

[2019-09-27 22:33] #3791 closed

[2019-09-28 04:09] yelite opened #3815 "rustfmt strips 'impl' from impl trait type alias"
[code]

[2019-09-28 07:56] scampi commented on #3654
I think snippet at https://github.com/rust-lang/rustfmt/issues/3654#issuecomment-505574877 can be reformatted because the match is not wrapped in a block and therefore it is not indented.
This gives enough space for the `panic!` to be rewritten, allowing the `match` to be reformatted.

[2019-09-28 07:58] scampi commented on #3654
Maybe the match rewrite could allow for some branch to be unformatted, this would allow the `Some` to be left as is, but reformat the `None` branch.

[2019-09-28 10:32] #3808 closed

[2019-09-28 19:21] howaboutsynergy opened #3817 "extra indentation with select!"
1. `cargo new selectt`
2. Add dependency into `Cargo.toml` like:
[code]
3. edit `src/main.rs` to have these contents(already preformatted via `cargo-fmt`):
[code]
4. run `cargo-fmt` in the dir where `Cargo.toml` is.

Result: no change in the above formatting: ie. strange indentation for those `select!` blocks and their contents!

rustfmt 1.4.8-nightly (6b0a4471 2019-09-20)

**EDIT:** also tried la

[2019-09-28 21:03] scampi commented on #3817
If I remember correctly, rustfmt will format the macro only if it looks like a function. Since it's not the case here, the `select!` is  left unchanged.

[2019-09-28 21:25] howaboutsynergy commented on #3817
ha, that's weird, I could've sworn it initially changed it from:
[code]

but lookslike I was wrong!  in which case, it's a non-issue.

[2019-09-28 21:25] #3817 closed

[2019-09-29 14:02] topecongiro commented on #3807
This is disabled because it could potentially break the code (https://github.com/rust-lang/rustfmt/issues/3568).

[2019-09-29 14:02] #3807 closed

[2019-09-29 14:08] topecongiro commented on #3806
Please feel free to reopen the issue once you have a mcve.

[2019-09-29 14:08] #3806 closed

[2019-09-30 15:58] bbqsrc opened #3819 "rustfmt strips all param attrs"
To reproduce: get this repo, https://github.com/bbqsrc/params-attribute-example, run `cargo fmt`, then `git diff`.

[code]

It consumes all. :)

[code]

---

This may be related to: https://github.com/rust-lang/rust/issues/64682, but may simply be that rustfmt hasn't caught up with https://github.com/rust-lang/rust/pull/64010 yet.

[2019-09-30 16:08] calebcartwright commented on #3819
Correct, Rustfmt 1.4.9 will include support for function parameter attributes

[2019-10-01 13:24] scampi commented on #3617
If you were to use the `version = "Two"` configuration option, you'd see a formatting that may be more what you want, even if that is not exactly what you expected:

[code]

[2019-10-01 14:31] scampi commented on #3792
Related to #2996

[2019-10-01 14:56] scampi commented on #3478
this does not appear anymore in 8df0b6fa23a0a3c295cdb23e269f332b7ad63a35

[2019-10-01 14:56] #3478 closed

[2019-10-01 22:29] wdanilo opened #3821 "Alignment of let bindings"
Hi!
I really like what `rustfmt` is doing, however, one thing hurts me strongly here. It allows the vertical alignment of struct fields, but does not allow for such alignment of let bindings. Consider the following code:

[code]

I believe it is much nicer to read the following code:

[code]

Would it be possible to add some treshold option to rustfmt for such a style? :)

[2019-10-01 22:37] calebcartwright commented on #3799
@topecongiro @scampi  - is this indeed a bug in rustfmt? Personally I feel the issue is that the same file is being formatted twice, but with two different conflicting config files (one with `max_width = 80` and the other with `max_width = 100`)

If it is a bug, is the expectation that rustfmt would somehow know while processing the `options` mod for the test target that it should use the other co

[2019-10-02 01:54] emilio commented on #3799
Yeah, that's a good point (sorry, I missed the replies before).

I think this can be closed as invalid if you want, though probably a warning or some sort of detection would be useful for this (probably lower priority? Idk).

[2019-10-02 14:29] the10thWiz opened #3823 "Remove unnessecary parentheses"
(Feature Request)
The compiler provides warnings for unnecessary parentheses, so it should be possible to add a feature that removes them while formatting. This would probably need an option defined because not everyone would want to remove their parentheses.

Typically, the compiler reports a warning for `if`, `for` and `while` statements, as in each of these examples:
[code]

At first glance, th

[2019-10-02 14:56] #3811 closed

[2019-10-02 14:58] #3751 closed

[2019-10-03 01:08] topecongiro opened #3824 "Separate rustfmt into multipe crates"

[2019-10-03 03:04] driftluo commented on #3811
@calebcartwright @topecongiro   I think you don't understand what a bad network state is.

I have seen the final solution of pr, but from the results, it can only solve the situation that there is no network at all.

However, in China, a bad network does not mean that there is no network. In this case, the current #3813  cannot be solved.（Unless the network cable is disconnected or WiFi is turned

[2019-10-03 03:38] calebcartwright commented on #3811
Hi @driftluo! Thanks for following up. First I just want to note that with any changes, it's really important to make sure that those changes don't break anything. The decision to stick with `online` mode as the default in #3813 was done out of caution for that very reason.

I can definitely understand how this issue is frustrating for you, and I would certainly like to help get this resolved! How

[2019-10-03 05:08] driftluo commented on #3811
I don't consider this, this may be have a problem. The possibilities should be carefully considered.

offline default fallback to inline？

[2019-10-03 09:08] scampi commented on #3824
This looks like a duplicate of #1583 . Can this one be closed ?

[2019-10-03 12:33] Boscop opened #3825 "Rustfmt doesn't format nested struct pattern"
Using `rustfmt 1.4.8-nightly (afb1ee1c 2019-09-08)`.

It doesn't format this at all, but it compiles:

![image](https://user-images.githubusercontent.com/535593/66126892-c9aa4d00-e5ea-11e9-9bae-4a7e3d7e4de6.png)

[2019-10-03 12:37] Boscop opened #3826 "Rustfmt indents single-line comments weirdly"
Using `rustfmt 1.4.8-nightly (afb1ee1c 2019-09-08)`.

It indents such single-line comments weirdly (one tab and one space more indented):

![image](https://user-images.githubusercontent.com/535593/66127088-37567900-e5eb-11e9-9bdb-03b187ecf16c.png)

When I remove `// foo`, it indents them normally. But it should also indent them normally with `// foo` present!

[2019-10-03 12:44] calebcartwright commented on #3826
Sounds similar/related to #3792

[2019-10-03 13:01] upsuper commented on #3811
It's indeed a bit surprised that `cargo fmt` requires network by default, since it isn't supposed to need any build information at all. Even `cargo fmt --all` mentioned above doesn't seem to need network either, since its help message mentions "workspaces", which, I suppose, means formatting all packages under the current workspaces, which is still local.

@calebcartwright, do you think we should

[2019-10-03 13:02] Boscop opened #3827 "Rustfmt should not indent multi-line comments's bodies"
E.g. I often have the following situation when I want to comment out a method:

Before:

![image](https://user-images.githubusercontent.com/535593/66128288-d5e3d980-e5ed-11e9-84a1-476c91f2cf68.png)

Since Sublime Text removes all trailing whitespace, I place the cursor in the empty line before the function, hold Shift, place the cursor in the empty line after the function, so that my text selectio

[2019-10-03 17:01] calebcartwright commented on #3811
I think it's fine to keep the discussion on this thread, at least for the time being

The only reason `cargo fmt` has historically operated in `online` mode is because it needs to invoke `cargo metadata ...` commands (which it does via the `cargo_metadata` crate) in order to get the data it needs to pass as input to `rustfmt`, and `cargo` uses `online` mode by default

So the real connectivity que

[2019-10-03 21:05] the10thWiz opened #3828 "Logger not initialized for tests"
`env_logger` is not initialized for unit tests. This makes it harder to inspect tests and debug code.

[2019-10-03 22:15] calebcartwright commented on #3811
I also went ahead and opened #3830 and #3831 with implementations of the alternative approaches to make it easier: one with `offline` by default with `online` fallback, and another that adds the `--offline` flag to `cargo fmt` to allow users to opt into `offline` mode.

[2019-10-03 23:21] Boscop opened #3832 "Only put spaces around ranges when start and end is specified"
The `spaces_around_ranges` option currently only accepts a bool: All ranges will be either surrounded with spaces or not. I'd prefer to have a setting that lets me express "put spaces only around ranges that have start and end specified", such as `a .. b` but not `foo[start..]` or `bar[..end]`.

[2019-10-04 02:12] topecongiro commented on #3811
@driftluo Thank you for elaborating on your concern.

I checked the source code of cargo. AFAICT,  `cargo metadata --no-deps` won't require any network connection whereas a plain `cargo metadata` may lead to a network connection. As in [the @calebcartwright's comment](https://github.com/rust-lang/rustfmt/issues/3811#issuecomment-538034326), the only usage of `cargo metadata` without the `--no-deps

[2019-10-04 02:24] #3828 closed

[2019-10-04 02:25] #3815 closed

[2019-10-04 02:45] calebcartwright commented on #3811
That would require a patch to `cargo` itself wouldn't it? AFACIT the `cargo_metadata` crate is primarily just running `cargo metadata ..` commands and deserializing the command output.

We'd need to cargo to be updated so that running `cargo metadata --no-deps` would include the `manifest_path` value for each dependency, and additionally, for any local dependencies, cargo would also have to recurs

[2019-10-04 03:26] nico-abram commented on #3362
With https://github.com/rust-lang/rustfmt/pull/3753 merged, is the only blocker renaming the option so it is a list of 3 values (Never merge, always merge, leave imports untouched)?

[2019-10-04 05:30] faern commented on #3362
With "never merge" I suppose you mean something that splits imports, or unmerge them?

I suppose we want one value that turns
[code]
And one value that does the opposite. And of course the third one which disables this feature altogether, not touching use statements.

[2019-10-04 08:12] scampi commented on #3826
Can you share a code snippet of your problem to ensure the PR fixes your issue ? The screenshot does not really show the context of `self.sort()`.

In addition, this sounds like there may be some additional problem compared to #3792 .

[2019-10-04 10:34] scampi commented on #3799
I am not really familiar with that part of the code, but that said:
- Is it intentional that rustfmt picks up a new config file `tests/rustfmt.toml` ? Maybe this behavior is documented and I never paid attention to that.
- if that is intentional, maybe the logic should be that code in `tests` gets reformatted with a config that is a merge of `rustfmt.toml` at the root and `tests/rustfmt.toml`.

[2019-10-04 11:05] topecongiro commented on #3799
Sorry for the late reply. @calebcartwright @scampi This seems like a bug to me. IIRC, the rule to pick the correct rustfmt.toml should be something like the following:

1. If `--config` is passed, then always use it.
2. If not, then use the config file that is in the same directory as the input file.
3. If the config file is not present, then look for the parent directory recursively.
4. If there

[2019-10-04 11:40] devurandom opened #3834 "rustfmt 1.4.8 with rust 1.38.0: error[E0554]: `#![feature]` may not be used on the stable release channel"
rustfmt 1.4.8 fails to compile with rust 1.38.0:
[code]

[build.log](https://github.com/rust-lang/rustfmt/files/3690332/build.log)
[emerge --info dev-lang/rust dev-util/rustfmt](https://github.com/rust-lang/rustfmt/files/3690336/emerge.info.log)

[2019-10-04 11:42] devurandom commented on #3834
P.S. In the readme, support for rust 1.24.0 is advertised.

[2019-10-04 12:24] sinkuu commented on #3834
That means pre-built rustfmt for Rust 1.24.0 is available via `rustup component`. You need nightly Rust to build rustfmt from source, as stated in [Installing from source](https://github.com/rust-lang/rustfmt#installing-from-source) section.

[2019-10-04 13:06] #3834 closed

[2019-10-04 14:25] calebcartwright commented on #3799
@scampi -

I actually hadn't noticed it before either, but I think the docs [here](https://github.com/rust-lang/rustfmt/blob/master/Configurations.md#configuring-rustfmt) accurately reflect the rules @topecongiro enumerated

That makes sense. IMO, rustfmt is locating and using the correct config files. For the `bin` target (which includes `options.rs` getting formatted), rustfmt is correctly using

[2019-10-04 15:22] #2996 closed

[2019-10-04 15:22] #3254 closed

[2019-10-04 15:22] #3792 closed

[2019-10-04 22:52] Boscop commented on #3826
@scampi `self.sort();` is the first line of the body of a method. Btw, I'm using `hard_tabs = true` and it didn't even align the lower single line comments with the one on the `sort()` line (as it did for the other examples that used spaces as indentation).

[2019-10-05 11:06] scampi commented on #3826
I created a snippet and it gets reformatted strangely. Hard tabs are not properly handled.

# Config

[code]

# Snippet

[code]

# Rustfmt Output

[code]

[2019-10-05 13:17] epage opened #3837 "rustfmt strips `r#` (raw identifier prefix)"
Copy
[code]
into https://play.rust-lang.org/ and you get
[code]

I ran into this with rustfmt 1.4.4-stable (0462008 2019-08-06)

Playground is using 1.4.8-nightly (2019-09-08)

[2019-10-05 17:26] calebcartwright commented on #3837
Confirmed bug. Will open a PR shortly support for raw identifier prefix in statics.

[2019-10-06 00:48] Boscop opened #3839 "Rustfmt deletes multiline comment in struct definition"
before:
[code]

after:
[code]

Please fix this! I lost some comments from this after running rustfmt on my whole workspace, and only noticed this behavior now, many commits later!

It seems to happen if a single-line comment after the multi-line comment is present.

[2019-10-06 03:38] Boscop opened #3840 "Rustfmt formats generic args weirdly with tabs"
I have hard_tabs enabled.
This is how it formats it:
[code]

What I'd expect:
[code]

[2019-10-06 21:33] #3837 closed

[2019-10-06 21:37] scampi commented on #3799
@calebcartwright that PR is to handle path attribute in windows. I doubt this would have an impact here ;o(

[2019-10-07 01:24] #3779 closed

[2019-10-07 01:30] topecongiro commented on #3824
Oh yes... I even have commented recently :laughing:

[2019-10-07 01:30] #3824 closed

[2019-10-07 02:01] calebcartwright commented on #3839
I'll take a look into this one

[2019-10-07 02:26] calebcartwright commented on #3839
Believe I've found the problem, will open a PR with a fix later tonight or tomorrow

[2019-10-07 07:40] #3826 closed

[2019-10-07 07:43] #3787 closed

[2019-10-07 10:42] topecongiro opened #3841 "Use different versions of lib crate to enforce stability guarantee"
Once #1583 gets resolved, we will be able to use different versions of the lib crate to enforce the stability guarantee.

I am thinking of something like the following:

In Cargo.toml, we add two versions of rustfmt-lib as dependencies

[code]

and in rustfmt-bin, we call one of them depending on the configuration

[code]

In the above example, we use 2.0.x as the stable releases and 2.y.z. as the

[2019-10-07 11:00] scampi commented on #3841
I think removing the version gating outweigh the 2 first cons.

[2019-10-07 13:08] rchaser53 commented on #3841
I think it's a nice idea. But I have some questions.
Do you mean rustfmt_stable will not be added the new feature and only fix the bug until 3.0.0?
How about new syntax? Will rustfmt_stable be update to apply new syntax or bump up to 3.0.0?

[2019-10-07 18:51] bddap opened #3843 "Extra comma is inserted before line comment in type parameters."
Given the input:

[code]

the following invalid output is generated:

[code]

[2019-10-07 21:08] calebcartwright commented on #3843
hi @bddap, what version of `rustfmt` are you using? I'm admittedly using the latest from the master branch, but the output I'm getting from the input you've provided is:
[code]

[2019-10-07 21:54] calebcartwright commented on #3825
hi @Boscop - do you have a code snippet you could share? I've tried replicating the code based on your screenshot but `rustfmt` is correctly re-formatting my code, both on latest and the exact version you mentioned.

[2019-10-07 23:08] bddap commented on #3843
@calebcartwright I was using an older version. Don't remember which.

Looks like the problem is fixed in `rustfmt 1.4.4-stable (0462008d 2019-08-06)`.

[2019-10-07 23:08] #3843 closed

[2019-10-07 23:08] bddap commented on #3843
Would this be a good unit test?

[2019-10-07 23:12] calebcartwright commented on #3843
Excellent!

I'm not sure I follow, what'd you have in mind?

[2019-10-07 23:13] bddap opened #3844 "panic on valid expression: `|| {{}}`"
The following valid input induces a panic:

[code]

[code]

Version:

[code]

[2019-10-07 23:32] calebcartwright commented on #3844
PR with a fix on the way

[2019-10-07 23:33] bddap commented on #3843
I imagine a test for this would look something like:

[code]

[2019-10-07 23:35] calebcartwright commented on #3843
Ah okay I understand your question now. Sure, or you could add a test file under `tests/source/..` with your original input, and then one under `tests/target/..` with the formatted output

[2019-10-07 23:39] bddap opened #3845 "Attribute on brace expression within closure is swallowed."
### Input

[code]

### Output

[code]

[2019-10-08 00:15] bddap opened #3847 "comments within parameter list not idempotent"
### Input

[code]

### Output (first run)

[code]

### Output (second run)

[code]

[2019-10-08 00:38] bddap commented on #3843
Found https://github.com/rust-lang/rustfmt/issues/3847 while adding that test.

[2019-10-08 01:12] #3839 closed

[2019-10-08 01:25] mkantor commented on #3310
Should this issue be closed since #3569 has been merged?

[2019-10-08 01:32] calebcartwright commented on #3843
Glad you decided to add that test! Otherwise we wouldn't have known about that 👍

[2019-10-08 02:00] #3844 closed

[2019-10-08 17:36] Herschel opened #3849 "--check does not obey the newlines settings in rustfmt.toml"
If you have a file with CRLF newlines and `newline_style = "Unix"` in `rustfmt.toml` or vice versa, then `cargo fmt -- --check` does not output any diff or exit with an error code.

Running `cargo fmt` itself updates the line endings as desired. `--check` seems to obey other settings in `rustfmt.toml`.

Occurs on both rustfmt 1.4.8-nightly (2019-10-04) and rustfmt 1.4.4-stable.

[2019-10-08 18:33] calebcartwright commented on #3849
Yup, confirmed bug. I have a theory on what's causing this, will take a look later today.

[2019-10-08 21:58] calebcartwright commented on #3849
I've got a fix for this, though while working on it I believe I found another bug 🐛 Will open a PR soon

[2019-10-09 12:23] lesurp opened #3851 "rustfmt fails when encountering comment (+ trailing whitespace)"
[code]

# No trailing whitespace

[code]

output: exact same (the `1.0` line is not indented

# With trailing whitespace:

Please note the trailing whitespace after the `let a= ` line

[code]

output:

[code]

[2019-10-09 14:37] mulkieran commented on #3776
I think that now that 1.38 has gone to stable this bug has become obsoleted. I'm going to go ahead and close.

[2019-10-09 14:37] #3776 closed

[2019-10-09 16:08] calebcartwright commented on #3851
Thanks for the report @lesurp. I forget which version of rustfmt contains the fix for this (I want to say 1.4.6 or 1.4.7), but it has already been fixed.

If you try your snippet with the latest nightly version of rustfmt (1.4.9) you'll see the snippet correctly formatted without error

[2019-10-10 01:35] #3845 closed

[2019-10-10 02:09] topecongiro commented on #3841
Basically yes, but we may backport some new important features if it does not require much work.

We must use the same version of rustc-ap-* crates in both the stable and nightly rustfmt-lib crates, so yes, we will support the new syntax in the stable lib as well. With respect to the stable, every version update will be the patch update (e.g. 2.0.1 -> 2.0.2).

[2019-10-10 02:35] topecongiro opened #3852 "How to proceed rustfmt 2.0 release"
It has been more than a year since the release of the rustfmt 1.0, and it's high time to prepare for the next major version update :tada:

I am thinking of moving things forward in the following way. Any thoughts on improvement or questions?

After the next patch release (1.4.10), the master branch will be a development branch for the rustfmt 2.0.  We will accept PRs to the master branch only if t

[2019-10-10 16:00] calebcartwright commented on #3852
I had one question,

How long will that be the case? Will minor/bug fix PRs not be accepted until the 2.0 refactoring of the codebase (like #1583 and #3841) is complete, or not until after 2.0 is released, etc.

[2019-10-10 17:39] Boscop opened #3853 "rustfmt doesn't format block of `if let Some` if it contains multiline comment"
rustfmt doesn't format block of `if let Some` if it contains multiline comment:

Before:
[code]
After: same as above

In this example, the first line is on its correct indentation level, but the 2nd line is not. Anything in the body won't get formatted! This also happens with `/*asd*/` or other multiline comments. If the first line is not on its correct indent level either, only that line gets ind

[2019-10-10 18:35] jturner314 opened #3854 "Formatting breaks range literals when the range start is a negative floating point literal ending in a dot"
`rustfmt` turns the expression `-1. ..1.` into `-1...1.`, which is incorrect since it changes the meaning of the expression. (The resulting expression won't compile.) It also does the same thing for `..=` ranges. It does not have this issue when the range start is a positive number, e.g. `1. ..1.`.

Here's an example in the Rust playground:

[code]

[(playground link)](https://play.rust-lang.org/?

[2019-10-10 23:17] Boscop commented on #3853
Similarly, this stays unformatted:
[code]

[2019-10-11 09:15] #3854 closed

[2019-10-11 09:19] #3840 closed

[2019-10-11 23:22] Boscop opened #3858 "Macro body gets formatted weirdly"
rustfmt formats this macro like this:
[code]
The closing braces are wrongly indented.

[2019-10-13 02:12] wdanilo opened #3859 "Rustfmt removes `impl` keyword bug"
Consider the following code:

[code]

Rustfmt will change it to:

[code]

which changes the semantics (!).

[2019-10-13 11:01] joshtriplett commented on #3823
This seems like something better done with a rustfix suggestion from `rustc`, rather than via rustfmt.

[2019-10-13 11:05] joshtriplett opened #3860 "Inconsistent alignment of string constants"
rustfmt did this:

[code]

This seems wrong for two reasons: rustfmt shouldn't use visual alignment for anything by default, and rustfmt should not reformat the former string but not the latter.

rustfmt should have left both of these strings untouched.

[2019-10-13 11:17] joshtriplett opened #3861 "Please provide special case for name=name in format"
I'd like to avoid reformats like this:

[code]

Could we special-case `samename=samename` in the arguments of `format!`-like macros, and avoid adding spaces around the `=`?

[2019-10-14 06:48] rchaser53 commented on #3859
what version of rustfmt are you using? I cannot reproduce it using the rustfmt 1.4.9-nightly.

rust playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4fbde16ddd588841b1cb87c286aa0e91

[2019-10-14 14:09] the10thWiz commented on #3823
What do you mean? `rustc` already suggests removing them (Using the 'Unnessecary Parathentheses` phrasing). I was hoping that `rustfmt` could automatically remove them. I would also expect the config option for this would default to off.

[2019-10-14 14:44] dhardy opened #3862 "Cargo fmt should not run on a dirty repository by default"
Moved from Cargo fmt should not run on a dirty repository by default

---

**Problem**
1.  Hack on code, don't create a commit yet
2.  Run `cargo fmt`; find formatting changes to old code + new code all mixed up

(Yes, I am fully aware that some people frequently do this on purpose. More than once I have received PRs with commits mixing up significant amounts of reformatting and new code.)

**Poss

[2019-10-14 15:38] sinkuu commented on #3823
`cargo fix` can automatically apply the rustc suggestion already. There can be reasons to replicate the feature in rustfmt though (e.g. works for syntactically-valid but errneous codes).

[code]

[2019-10-14 17:08] the10thWiz commented on #3823
I was not aware of Rust fix until now. Thanks for letting me know. I suspect that it doesn't need to be replicated into rustfmt. The only use case I can see (because the cases where rust fix doesn't work prevent rustfmt from working, as far as I know), is automatically applying the fix in the context of a Github hook or similar. I believe that automatically running `cargo fix` is sufficient, so it

[2019-10-14 21:07] ehuss opened #3863 "Gives up on chains if any line is too long."
If there is a method call chain, and just one call exceeds max_width, it seems like rustfmt gives up and doesn't format anything.

Example:
[code]

No format changes will be applied to this.  I'm also a bit surprised that `error_on_line_overflow` does not complain.

I would expect it to wrap each call chain element, even if one of them is too long, such as:

[code]

All default settings.
rustfmt 1

[2019-10-15 18:17] joshtriplett opened #3865 "Uses visual style for long closure arguments"
rustfmt seems to use visual style rather than block style when reformatting long closure argument lists:

[code]

One possible block-style alternative rustfmt could use:

[code]

[2019-10-15 23:35] calebcartwright commented on #3863
Yeah, AFAICT that's because rustfmt is expecting to be able to rewrite each of the individual ChainItems to be able to format the Chain. When it attempts to rewrite that long string literal in the Chain it fails due to the length which results in the entire original chain being left as-is.

https://github.com/rust-lang/rustfmt/blob/a15e97f1e92b3621ab8c2f1585f27e8de583f74b/src/chains.rs#L419-L444

[2019-10-16 05:04] MOZGIII opened #3866 "Bug: rustfmt removes annotations incorrectly"
I've stumbled upon an odd issue with rustfmt.
I'm working on this code here:
https://github.com/serenity-rs/serenity/pull/731/commits/a38ccf63ba621fee6eb1a2cc4a581cb2d71f593f

Our `rustfmt` adoption PR: https://github.com/serenity-rs/serenity/pull/731

With the work tree set to the above commit, when I run `rustfmt` it removes the `#[cfg(feature = "cache")]`, which is incorrect.

I was unable to r

[2019-10-16 07:18] MOZGIII commented on #3866
Found out it's fixed at nightly rustfmt

[2019-10-16 07:18] #3866 closed

[2019-10-16 10:38] HossainAdnan commented on #1322
Sorry for bumping this so late. I am aware of `#[rustfmt::skip]` directive. However How can I disable and re-enable rustfmt within a certain portion of a block?

[code]

This is helpful when I am constructing a big gtk Box, makes my code more readable:
Example:
[code]

[2019-10-16 15:47] calebcartwright commented on #3865
Yeah even though block indent style is the default for everything else, closures seem to be the exception that are always formatted with visual style.

I'll open a PR today with an update (version gated) to leverage the `indent_style` config option when formating the closure to offer consistency with function declarations.

[2019-10-17 02:39] sinkuu commented on #1322
You can just stick `#[rustfmt::skip]` attribute to statements.

[code]

[2019-10-17 16:44] iago-lito opened #3868 "Needs two passes to correctly format."
I'm not sure whether this is expected behaviour or not, but the [following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=30187a31904e05a44db82f5cf15f81a1):

[code]
Is first reformatted as
[code]
And only then as
[code]

If I need to run `rustfmt` twice in this case, how am I sure that I have run it enough times in other cases? Do I need to repeat every `rustfmt` unt

[2019-10-17 19:58] calebcartwright commented on #3853
I've got a fix for the first scenario, and I think I know what the problem is for the second but still working on it.

Will open a PR once I figure out that second one with fixes for both

[2019-10-18 18:29] calebcartwright commented on #3868
Thanks @iago-lito - that's a bug (at least IMO)

[2019-10-18 19:20] pyrrho opened #3871 "`--check` silently ignored when formatting from stdin"
When I run,
[code]
the output is equivalent to `rustfmt --emit stdout`. Ideally, I would like to see the above call emit something like,
[code]
If that's not possible, a warning or error message noting the ignored option would make this behavior less surprising, and may help nudge users towards valid usage.

It might also be worth noting that `rustfmt +nightly --emit json` is silently ignored in t

[2019-10-18 19:34] rossmacarthur opened #3872 "Unstable feature warnings are printed multiple times"
When I run `cargo fmt` on stable the warnings about unstable features seem to be printed multiple times, one for each file that is being linted.

[code]

[2019-10-18 20:51] calebcartwright commented on #3872
Do you have multiple rustfmt config files by any chance?

[2019-10-18 21:03] calebcartwright commented on #3871
When using stdin input, rustfmt will always use stdout emit mode (by design). However, as you noted, because of this rustfmt is silently ignoring the `--check` and `--emit` options.

I don't think it'll be viable to support the various file emit modes with stdin (include the diff emit mode that comes with `--check` when formatting files), but would it be helpful for this to be "less silent"?

I su

[2019-10-19 02:50] topecongiro commented on #3872
We should handle these kinds of errors and warnings more deliberately. In this particular case, instead of `eprintln!`-ing each warning, we should store them to a map and emit them afterward.

[2019-10-19 02:52] topecongiro commented on #3871
Well, we can support `--check` on stdin input it is feasible. If not, then yes, rustfmt should exit with an error.

[2019-10-19 02:57] topecongiro commented on #3868
Here the single `;` is treated as an empty statement, and in the first run, rustfmt misunderstands that the `for` block is not empty. In the second run, since the single `;` gets removed and the block is empty, rustfmt squashes the block into a single line.

To fix this, we should filter out the empty statements from the block when checking its emptiness.

[2019-10-19 02:57] topecongiro commented on #3865
cc https://github.com/rust-dev-tools/fmt-rfcs/issues/138.

[2019-10-19 03:09] topecongiro commented on #3862
Disallowing `cargo fmt` in a dirty workspace is a significant change to the default behavior of cargo-fmt, which I would prefer not to introduce without clear winning. We could add a command-line option, something like `--no-dirty`, which provides the required semantic. Alternatively, we could add a configuration option, something like `allow_dirty`, which is set to `true` by default. That way, yo

[2019-10-19 03:10] topecongiro commented on #3861
This seems a bit too narrow to special-case in rustfmt.

[2019-10-19 03:10] #3861 closed

[2019-10-19 03:12] topecongiro commented on #3859
This seems to be fixed on the latest stable & nightly. As such, I will close this issue. If you find any problem, feel free to reopen this.

[2019-10-19 03:12] #3859 closed

[2019-10-19 03:15] topecongiro commented on #3852
At first I thought that it would be ~1 month, but unfortunately, it turns out that I won't be able to devote much time on rustfmt in the next few months. As such, I will relax the restriction and accept any PRs to the master branch. Backporting to 1.4.z will not likely to happen, though.

[2019-10-19 05:24] pyrrho commented on #3871
I agree, if it's possible to emit diffs (with `--check`) or JSON (with `+nightly --emit json`), that would be the best solution.

If not, an error (as occurs with `--check --emit stdout`) would be better than silently ignoring options.

[2019-10-19 07:56] #2869 closed

[2019-10-19 08:02] topecongiro commented on #3543
As I stated in the PR's comment [0], the feature seems a bit off. As such, I am closing this as won't fix.

[0] https://github.com/rust-lang/rustfmt/pull/3544#issuecomment-544112913

[2019-10-19 08:02] #3543 closed

[2019-10-19 08:15] #3849 closed

[2019-10-19 08:45] joshtriplett commented on #3861
It ends up producing a lot of noise when you have a long list of `x=x, y=y, z=z` in a format-like call, and rustfmt already has special-case logic for format-like calls.

[2019-10-19 09:19] #3456 closed

[2019-10-19 09:19] #3860 closed

[2019-10-19 09:48] jugglerchris commented on #3871
I'd be interested in working on this - making it an error as a first step, and then looking into making `--check` and `--emit` work.

[2019-10-19 12:28] koute opened #3874 "Panic when rustfmt encounters a lambda with only `{}` inside"
Consider the following code:

[code]

`rustfmt` currently cannot format this and panics with the following:

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0b3da141312bbeda24a9fd00bf87f4ad)

Affected versions:
rustfmt 1.4.8-nightly (afb1ee1 2019-09-08)
rustfmt 1.4.9-nightly (33e3667 2019-10-07)

[2019-10-19 12:41] topecongiro commented on #3874
Closing as a dup of #3844. Thanks!

[2019-10-19 12:41] #3874 closed

[2019-10-19 12:46] #3819 closed

[2019-10-19 15:26] calebcartwright commented on #3871
Currently, the checkstyle and json emitters would not handle `stdin` as they are expecting a real file path:

https://github.com/rust-lang/rustfmt/blob/69c7dbcd5026b75dee78e4fd14fbe57ffd1d4e4e/src/emitter/json.rs#L40-L60

https://github.com/rust-lang/rustfmt/blob/master/src/emitter/checkstyle.rs#L23-L37

I included the file path check when I implemented the json emitter because it was there in the

[2019-10-19 16:04] jugglerchris commented on #3871
I've taken the liberty of speculatively doing the first step (returning errors) in #3875; I'll probably speculatively go ahead and try to make them work too.  :-)

[2019-10-19 17:03] Proximyst opened #3876 "Trailing comma is duplicated when obstructed by comments"
In the following snippet, there is a trailing comment following the entire builder chain after `normal_message`:
[code]

When I run `rustfmt` on this with default settings:
[code]

I get this result:
[code]

The comma clearly duplicated where it wasn't supposed to.
The //uh oh comment was added in the issue creation; the rest was from my source code, except "a bit" stripped down.

[2019-10-19 17:07] andreastt commented on #3361
A counter-argument for `Vertical` sorting is that it makes rebases significantly easier.

I recently had to do a rebase of a fairly complicated refactoring that moved lots of types around, and git rebase tools for in-line changes is not great.

[2019-10-19 22:12] dhardy commented on #3862
I realise finding a solution which makes everyone happy here is tough! Possibly though there are a couple of options:

1.  Create a git snapshot (i.e. a branch but known only by its commit hash) before formatting, and use this to enable revocation
2.  Try to detect whether this project is usually formatted by `rustfmt` — if it is, there should be little/no reformatting needed to files which haven'

[2019-10-20 20:55] jugglerchris commented on #3871
I got some time to look at making the other emit modes work on [this branch](https://github.com/jugglerchris/rustfmt/tree/stdin_emit).  I haven't done any tests so far for the changes though.  Looking through, `tests/rustfmt/main.rs` looks like the most likely place to add tests of the rustfmt executable - is that right?

[2019-10-20 21:22] calebcartwright commented on #3871
I'd take a look at `src/test/mod.rs`, for example
https://github.com/rust-lang/rustfmt/blob/69c7dbcd5026b75dee78e4fd14fbe57ffd1d4e4e/src/test/mod.rs#L409-L429

and the in-file unit tests for the relevant emitters `src/emitter/..`
https://github.com/rust-lang/rustfmt/tree/master/src/emitter

[2019-10-20 22:05] silvioprog opened #3877 "Where clauses"
Hi.

Many parts in the Rust documentation shows `where` clause in front the user type and preserves the left brace in the same line of the `fn` keyword, e.g:

[code]
however, when we format those codes using `rustfmt`, they looks like this:

[code]

Another example. Before formatting:

[code]

After formatting:

[code]

Notice the `where` and braces (wrong?) indentation.

I'm not sure if it is by

[2019-10-20 23:11] calebcartwright commented on #3877
thanks @silvioprog

Are you referring to the [Book](https://doc.rust-lang.org/book/)? If so, I believe that's because they aren't running `rustfmt` on all the code snippets and examples used there (https://github.com/rust-lang/book/issues/1690 https://github.com/rust-lang/book/issues/2008)

[2019-10-20 23:22] calebcartwright commented on #3876
When I first glanced through the snippet I was thinking.. how in the world did rustfmt inject an `// uh oh..` comment 😄

Definitely a bug, and still reproducible with 1.4.9 and latest

[2019-10-20 23:44] Rantanen commented on #2868
I don't know where to 'request' that so I'll just add a comment here. I don't expect one comment to change anything really, but at least I can pretend it's counted. :)

(I was slightly disappointed to not find this as a feature, despite indication to make it a configuration option in the original RFC: https://github.com/rust-dev-tools/fmt-rfcs/issues/57#issuecomment-298441336 - I know priorities c

[2019-10-21 11:48] topecongiro commented on #3877
@silvioprog This is intentional. As @calebcartwright noted, all the rust code is not formatted by rustfmt yet. Thanks for the report!

[2019-10-21 11:48] #3877 closed

[2019-10-21 11:54] topecongiro commented on #3876
A minimal working example:

[code]

It looks like rustfmt fails to figure out that there are two comments separated by a trailing comma and considers it as a continuous multi-lined comment.

[2019-10-21 21:16] #3310 closed

[2019-10-21 22:18] calebcartwright commented on #3862
Just wanted to add my two cents here, fully aware that this seems like a topic where reasonable folks will disagree.

IMHO formatting-related problems like the example tend to surface in certain contexts with certain user behaviors, and I think the most feasible solution is to address those behaviors/contexts.

For example:
* users could run `cargo fmt -- --check` instead of `cargo fmt`
 * mechani

[2019-10-21 22:52] scampi commented on #3863
@calebcartwright sounds good to me!

[2019-10-22 00:10] silvioprog commented on #3877
Thanks guys. Up-vote for auto-formatting all documentation examples! :smiley: :+1:

[2019-10-22 02:03] wagenet opened #3879 "`fn_args_layout` can cause issues with extern functions"
I'm getting this suggestion in a staticlib project:

[code]

When I implement it, I get the following error on compilation:

[code]

[2019-10-22 05:25] topecongiro commented on #3879
@wagenet Could you confirm that the above diff by itself causes the compilation error?

[2019-10-22 08:34] dhardy commented on #3862
It seems the previous discussion got missed, so I'll copy it here.

From @ehuss:

From myself:

---

In reply to @calebcartwright:

So enable-by-default with an opt-out? I generally prefer the other way around, but this is partially workable. Either way though, auto-detection would be much easier (saves project owners remembering to configure `rustfmt` correctly, and in general, extra configuratio

[2019-10-22 17:20] wagenet commented on #3879
@topecongiro I apologize, this is due to something in one of my build scripts.

[2019-10-22 17:20] #3879 closed

[2019-10-23 14:22] topecongiro commented on #3673
Closing as this should be fixed on the latest stable.

[2019-10-23 14:22] #3673 closed

[2019-10-23 22:15] pyrrho opened #3881 "`ignore` is overwritten in nested rustfmt.toml layouts"
Given a layout like,

[code]

where `my-crate/rustfmt.toml` include `ignore = ["src/sub/dir/file-a.rs"]` and `my-crate/src/sub/dir/rustfmt.toml` includes `ignore = []`, running `--print-config current` for files in `src/sub/dir` shows an empty `ignore` array.

[code]

I initially expected the returned config to include `"src/sub/dir/file-a.rs"`.

This was somewhat surprising to me, as the rest of

[2019-10-24 10:09] lzutao opened #3882 "Unparsable code when formmating with version = "Two""
Consider this snippet:
[code]
And `rustfmt.toml`:
[code]

When running `cargo fmt`, the result is unparsable code:
[code]

## Meta
* rustfmt -V: rustfmt 1.4.9-nightly (33e3667 2019-10-07)
* cargo -V: cargo 1.40.0-nightly (3a9abe3f0 2019-10-15)

[2019-10-24 10:43] topecongiro commented on #3881
This is the expected behavior, though currently not executed properly.

[2019-10-24 13:16] #3882 closed

[2019-10-24 20:02] pyrrho commented on #3881
To flesh out my thoughts regarding the absolute paths, here's the kind of pathological case I was considering when I was typing up this issue,

[code]

The intention there being `src/lib.rs` and `my-crate-sys/src/data.rs` should be formatted. Depending on how naive the union and path-matching operations are, I could see all four .rs files being ignored.

This is also why I would like to see `--pri

[2019-10-25 06:04] #3853 closed

[2019-10-25 07:33] topecongiro opened #3885 "Fix CI failures"
https://travis-ci.com/rust-lang/rustfmt `cargo install --path . --force` is failling due to picking up the latest crossbeam-channel which is apparently broken with the latest nightly.

Possibly related: https://github.com/rust-lang/cargo/issues/7169.

[2019-10-25 07:40] topecongiro opened #3886 "Remove version gates from rustfmt codebase"
- Remove version gates from rustfmt codebase.
- Add `Three`, `Stable` and `Latest` to `Version`, and set its default value to `Two`.
    - We want to add `Stable` and `Latest` so that users don't need to explicitly change their rustfmt.toml on every major version update.
- Fix and remove tests.

[2019-10-25 08:56] topecongiro opened #3887 "Tracking issue: rustfmt 2.0"
Also, see [Milestone for 2.0](https://github.com/rust-lang/rustfmt/milestone/8).

## Blocking issues

- [x] Separate rustfmt-lib (#1583)
- [x] Remove version gates (#3886)
- [x] Update the default edition to 2018 (#3517)
- [ ] Use different versions of rustfmt-lib crates to enforce stability guarantee (#3841)

### Help wanted

- [x] Add `--check` command-line flag to `cargo-fmt` (#3888)
- [x] Depr

[2019-10-25 08:57] topecongiro opened #3888 "Add `--check` command-line flag to `cargo-fmt`"
cc @calebcartwright

[2019-10-25 12:22] SRGOM commented on #3450
@ifreund Since you seem to agree, I wonder what you do? I don't use rustfmt at all.

[2019-10-25 12:51] calebcartwright commented on #3888
👍 - will open a PR for this later today. BTW should we target PRs to merge into master now that 1.4.10 has been release or still target the rustfmt-2.0 branch?

[2019-10-25 13:24] topecongiro commented on #3888
Thanks!

We can target PRs against the master branch. I will mention this in the tracking issue.

[2019-10-25 14:02] calebcartwright commented on #3885
https://github.com/crossbeam-rs/crossbeam/issues/435 - looks like they've already fixed `crossbeam-channel` but have't released the new version yet

[2019-10-25 15:32] topecongiro commented on #3885
Yes, it looks like `cargo` has changed its behavior when passed `install --path` and ignores the Cargo.lock file. I added `--locked` in the script in #3889 to force `cargo` to use the dependencies specified in the Cargo.lock.

[2019-10-26 01:18] #3885 closed

[2019-10-26 01:35] #1304 closed

[2019-10-26 02:11] #3868 closed

[2019-10-26 17:58] calebcartwright commented on #3157
I believe I may have found a solution to this as part of the work I've been doing with chains on #3863

Still working on it, but what I've got currently is producing the [suggested output](https://github.com/rust-lang/rustfmt/issues/3157#issuecomment-434588413) for the snippet in the OP, and I've also included the output for the other snippets shared in the other comments

https://github.com/rust-

[2019-10-27 02:07] #3888 closed

[2019-10-27 02:12] #3851 closed

[2019-10-27 06:44] topecongiro commented on #2587
Closed by #3833.

[2019-10-27 06:44] #2587 closed

[2019-10-27 13:23] Veykril commented on #3380
Hey, just wanted to ask whether there is any specific reason for this option still being unstable or if it just has gone out of sight over time.

[2019-10-27 21:38] scampi opened #3892 "2.0.0"

[2019-10-27 21:38] #3892 closed

[2019-10-27 21:39] scampi opened #3893 "deprecate skip_children option"

[2019-10-27 21:40] scampi commented on #3389
deprecation in #3893

[2019-10-27 22:47] jugglerchris commented on #3871
Thanks @calebcartwright , that was very useful.  I've raised a new PR with the JSON and checkstyle emitters now working with stdin (not yet `--check`).  I'm not happy about adding a `#[rustfmt::skip]` in the tests - is the right fix to put the outputs in text files and load them as with some other tests?

[2019-10-27 23:44] jsgf commented on #3893
Why? We're actively using it to format individual files. Is there some other way to get this functionality?

[2019-10-27 23:50] calebcartwright commented on #3893
@jsgf - the new default behavior of `rustfmt` v2.0 will be to not format sub modules (`skip_children`) which is why the config option is being deprecated.

An `-r/--recursive` flag will be added, basically inverting things: rustfmt 2.0 will be disabled by default with an optional opt-in, wheras rusftmt 1.x is enabled by default with an optional opt-out

See also https://github.com/rust-lang/rustfm

[2019-10-27 23:51] calebcartwright commented on #3871
Thanks @jugglerchris! Will respond to your question over in #3894

[2019-10-27 23:59] jsgf commented on #3893
Ok that's great!

[2019-10-28 00:02] calebcartwright commented on #3887
I didn't find any related issues on this, but I'd suggest considering an update/refresh of some sections in the README as part of 2.0

As an example, the [Limitations](https://github.com/rust-lang/rustfmt#limitations) section starts with several mentions of approaching _1.0_:

[2019-10-28 21:40] cavedweller commented on #3347
Is there a link to the stabilization process? I can't find it from the README.

I'd like to see us go through this process for the `wrap_comments` feature

[2019-10-28 21:48] calebcartwright commented on #3347
Not sure if it's up to date, but the process for stabilizing options is defined in https://github.com/rust-lang/rustfmt/blob/master/Processes.md

@scampi & @topecongiro - correct me if I'm wrong but my understanding is that the current focus is on rustfmt 2.0, and that stabilization of some of these currently-unstable config options won't come til after the 2.0 release

[2019-10-28 22:37] jugglerchris commented on #3871
I think #3894 and #3896 (which includes the changes from the other - perhaps it wasn't worth breaking them into two PRs... I can close one if that's easier) finish resolving this ticket.

[2019-10-29 00:33] #3893 closed

[2019-10-29 00:34] #1820 closed

[2019-10-29 01:57] calebcartwright commented on #3887
Also, I'm still working on chains ATM, but I'd be happy to work on adding the `--recursive` flag and/or deprecating the `--backup` flag if those are still up for grabs?

[2019-10-29 02:06] topecongiro commented on #3887
Will do. Thanks!

Yes, you are more than welcome to work on those :)

[2019-10-30 20:49] TheDan64 commented on #3380
I am also interested in seeing this stabilized. It seems like a simple enough feature

[2019-10-30 23:50] sanbox-irl opened #3898 "Double Commas in #derive eats entire #derive"
Input:
[code]
(note the double commas after `Debug` above. The space is irrelevant in my testing)

Outputs:

[code]
and a :( from me.

Thanks guys

[2019-10-31 00:31] samuela opened #3899 "rustfmt error -32603"
I'm getting this error when attempting to run rustfmt via VSCode:
[code]
Anyone know what this means and how it can be resolved?

[2019-10-31 00:45] calebcartwright commented on #3899
Are you using the RLS extension to run rustfmt, or one of the other VS Code extensions that provide formatting?

What happens when you run `rustfmt` or `cargo fmt` directly against the same repo/files?

[2019-10-31 01:23] samuela commented on #3899
I believe I'm using RLS... This is via the "Format Document" command and I have the "rust-lang" extension installed.

On the command line I'm getting errors
[code]
which is odd since stable is the default config... Also certain files in the project format just fine, others do not. Unclear what the difference is between them. Or why VSCode RLS is doing something different from `cargo fmt`.

[2019-10-31 01:28] calebcartwright commented on #3899
Thanks @samuela!

If you're referring to/using https://marketplace.visualstudio.com/items?itemName=rust-lang.rust then you are indeed.

Try:
`cargo fmt -- miscutils/bc.rs --check`
or
`rustfmt miscutils/bc.rs --check`

[2019-10-31 01:34] calebcartwright commented on #3899
RLS is one of the few (perhaps the only?) consumers of `rustfmt` as a lib, so it's RLS surfacing up that error code in the VS Code window based on whatever errors it is running into trying to format (that error code is not coming directly from rustfmt)

[2019-10-31 05:10] samuela commented on #3899
Ah, I see. That's a confusing setup.

cargo fmt -- miscutils/bc.rs --check
or
rustfmt miscutils/bc.rs --check

This runs me into the same
[code]
errors as before which is puzzling considering I should be on stable according to rustup. But anyways, went ahead and installed, ran `cargo fmt -- miscutils/bc.rs --check` and that works fine, although it takes a little while since the file is quite large

[2019-10-31 17:36] hayd commented on #3243
Is there an existing issue for this?

[2019-10-31 23:00] scampi commented on #3605
I think always adopting a vertical layout for a function's arguments is better, regardless of the closure having a parameter or not.
As an example, see the code below where the closure takes a parameter:

[code]

If a function's arguments meets the following criteria, then a vertical layout would be selected:
- 2+ args
- at least 1 arg is a closure

What do you think @topecongiro ?

[2019-11-01 15:43] joshtriplett commented on #3861
Nevermind, I think https://github.com/rust-lang/rfcs/pull/2795 would fully address the cases where I find myself wanting this.

[2019-11-01 16:22] calebcartwright commented on #3887
Just to clarify, the goal is just to deprecate the `--backup` flag, not to entirely remove the flag/FilesWithBackupEmitter/etc., correct?

[2019-11-01 21:56] samuela commented on #3899
Turns out that c2rust had created a `rust-toolchain` file that seems to be telling cargo to use `nightly-2019-10-04-x86_64-apple-darwin`, so that's one mystery solved.

[2019-11-02 15:04] RalfJung commented on #3157
@calebcartwright thanks a lot for looking into this!

I mostly agree with you, but I think this looks odd:
[code]
The closing curly brace of the `StructA` constructor is kind of sitting in a weird place here. IMO this looks better:
[code]

[2019-11-02 17:28] JelteF commented on #3348
This option is great. Would it be possible to use this to fix #2036 as well?

One thing I did notice is that it doesn't format code that is hidden by prefixing it with a `#`. It's not terrible but it would be nice if that was also formatted. So in this example the `foo` function is not formatted:
[code]

[2019-11-02 20:40] scampi commented on #3887
@calebcartwright I would think so, just a deprecation for `--backup`

[2019-11-03 20:07] dtolnay opened #3901 "Error writing files: io error: Failed to find module"
I have two source files:

#### src/lib.rs

[code]

#### src/b.rs

[code]

<br>

`cargo check` seems to be fine with this layout, and the code compiles. But `cargo fmt` fails with:

[code]

[2019-11-04 02:27] calebcartwright commented on #3887
Thanks @scampi! Seems straightforward enough for `--backup`, though in the case of `--skip-children`, won't there be the potential for conflict once `--recursive` is added?

For example, if a user still has `skip_children` in a rustfmt.toml file, and then rustfmt is invoked with the `--recursive` flag (most likely scenario being via `cargo fmt ...` since that will include `--recursive` by default)

[2019-11-04 03:06] calebcartwright commented on #3899
That makes sense, thanks for sharing! Presumably that was a likely candidate for the underlying error that RLS was seeing and bubbling up with the error code you were seeing.

Are you still seeing the same error in VS Code after installing the rustfmt component for the target toolchain (and probably a good idea to restart VS Code or restart the RLS within VS Code if you didn't already)?

If you ar

[2019-11-04 03:23] samuela commented on #3899
Sounds good, I'll go ahead and close this and reopen an issue on rls-vscode if it strikes again. Thanks!

[2019-11-04 03:23] #3899 closed

[2019-11-04 09:20] scampi commented on #3887
Since `rustfmt` is invoked with the `--recursive` flag, it should have higher priority over the `skip_children` option in `rustfmt.toml`.
I think that logic should be applied regardless, not just because of the deprecation here, i.e., CLI flags have precedence over `rustfmt.toml`. What do you think ?

[2019-11-04 14:29] scampi commented on #3157
@RalfJung I might be the oddball but I like the current formatting... It clearly separates the field of the struct from the method call, especially if you have many fields/calls.

[2019-11-04 15:02] calebcartwright commented on #3157
What I've been working on leverages a new config option to support a few different flavors of alignment (I've left the default as the current formatting) to provide flexibility.

Hope to have the proposed solution finished in the next couple days for review

[2019-11-04 15:07] calebcartwright commented on #3887
I'd vote for rustfmt to exit with an error. From my perspective, `recursive` and `skip_children` are separate, mutually exclusive config options and "failing loudly" in the presence of both seems logical.

It feels like a similar situation as when a user specifies both `--check` and `--emit` flags; you can't have both so rustfmt exits with an error

[2019-11-04 15:37] scampi commented on #3887
Indeed makes sense @calebcartwright , error it is then!

[2019-11-04 19:40] josephlr opened #3903 "Bumping syntax-ap crates fails due to reduced visiblities"
I'm trying to fix https://github.com/rust-osdev/uefi-rs/pull/104#issuecomment-548789808.  Rustfmt needs a new engough `syntax` to support `"efiapi"`. I tired to do what https://github.com/rust-lang/rustfmt/pull/3870 did and bump `rustc-ap-syntax` to version `626`.

This caused a very large number of compiler errors. Some of them are caused by small changes like: https://github.com/rust-lang/rust/c

[2019-11-04 21:43] calebcartwright commented on #3903
This looks like it may be tricky. Do you know the first/earliest version of rustc-ap that supports `efiapi`?

IIRC rustfmt 1.4.9 is using 606 and the latest on master has been bumped to 610, but the visibility changes in 626 appear very problematic

[2019-11-04 23:17] samuela opened #3904 "error[internal]: left behind trailing whitespace"
I'm trying to format a module and rustfmt is failing with
[code]

Here's the source file: [ash.rs.zip](https://github.com/rust-lang/rustfmt/files/3806503/ash.rs.zip)

[2019-11-04 23:18] calebcartwright commented on #3904
Hey @samuela - What version of rustfmt are you using?

[2019-11-04 23:18] samuela commented on #3904
Switching the comment from `/* */` to `// ...` seems to have resolved it.

[2019-11-04 23:18] samuela commented on #3904
@calebcartwright

I'm running on the command line with
[code]

[2019-11-04 23:23] samuela commented on #3904
I have what seems to be a similar situation with this bit of code:
[code]
where rustfmt is adamant that there must be a bunch of spaces on the second line in order to match up with the beginning `/` in the comment. Strangely `cargo fmt` doesn't throw an error in this case.`

[2019-11-04 23:24] calebcartwright commented on #3904
Thanks. I ask as there's been quite a few of various `trailing whitespace` errors fixed over the last few releases. Let me see if I can reproduce with the latest on master

[2019-11-04 23:24] samuela commented on #3904
Sounds good, thanks for taking a look!

[2019-11-04 23:26] calebcartwright commented on #3904
👀 That sounds really odd. `cargo fmt` basically just detects workspace info (edition, packge source file root, etc.) which it passes as args to `rustfmt`, but it's always `rustfmt` that's running

[2019-11-04 23:28] samuela commented on #3904
@calebcartwright Yeah, also thought it was kinda strange. Happy to provide the complete file for this case as well if you'd like.

[2019-11-04 23:39] calebcartwright commented on #3904
nearly 16k lines! That looks fun 😄

I'm still getting the whitespace error with 1.4.10 (as well as a few `line formatted, but exceeded maximum width` errors). As far as the whitespace error, do you have a minimal reproducible example from the file you shared? That'd make it a bit easier for someone to work on a fix

[2019-11-04 23:40] calebcartwright commented on #3904
I think you may want to open separate issues for the two other items you've noted above, and keep this issue focused on the trailing white space issue

[2019-11-05 01:35] topecongiro commented on #3903
@josephlr Thank you for the report. I am aware of the visibility issue, and was planning to fix the issue once he refactoring thing has settled. We need to re-export everything we need in the libsyntax, adding comments to make sure they won't become private or removed in the future.

[2019-11-05 01:37] topecongiro commented on #3903
cc https://github.com/rust-lang/rust/pull/65324.

[2019-11-05 09:18] topecongiro commented on #3348
@JelteF It's somewhat tricky to figure out the corresponding lines between the input and the output:

[code]

In the above example we need to add `#` prefix to cover the entire `fn foo() { ... }`.

[2019-11-05 09:30] topecongiro commented on #3605
@scampi I would rather not add additional complex heuristics to function formatting, as it's already enough complex and hacky.

I think that we can fix this by disabling adding a block to the body of the closure when the closure is the last argument of the function call.

[2019-11-05 09:32] topecongiro commented on #3243
@hayd Not that I am aware of.

[2019-11-05 09:35] topecongiro commented on #3898
Marking this p-low as the input does not compile in the first place, though rustfmt should be able to handle this somehow as it is parsable.

[2019-11-07 03:50] SOF3 commented on #3253
This issue also exists with [`dirmod`](https://github.com/SOF3/dirmod) users. Modules are entirely generated by the macro, so it is impossible for `rustfmt` to detect them with heuristics like `cfg_if!` did.

A useful alternative would be to allow a flag like `-r` that formats all files recursively, no matter explicitly included or not.

[2019-11-07 08:07] jugglerchris commented on #3871
Have I missed any parts to this or do we think this can be closed?

[2019-11-07 16:46] calebcartwright commented on #3885
Looks like a new 0.4.0 version of `crossbeam-channel` and a 0.7.0 version of `crossbeam-utils` have been published with the fix. Would it be worth updating the lockfile with these new versions?

[2019-11-07 16:56] calebcartwright commented on #3871
Was the diff emitter updated? That's the emitter used with `--check` (the checkstyle emitter is for the xml report)

[2019-11-07 17:44] vallentin opened #3908 "use_try_shorthand causes continuous indentation"
I've encountered a case where code inside a macro is continuously indented, if method chains are separated by comments and `use_try_shorthand` is used. The code is continuously indented until `max_width`.

It doesn't happen inside functions.

**rustfmt.toml:**

[code]

**Original Code:**

[code]

**Formatted Once**

[code]

**Formatted Twice:**

[code]

**Formatted Thrice:**

[code]

---

rustfmt

[2019-11-07 20:10] jugglerchris commented on #3871
You can't select it explicitly with `--emit`, but `--check` with input from stdin works for me:
[code]

[2019-11-07 20:14] calebcartwright commented on #3871
I know, but if the only formatting issue is line endings and/or the user also includes the `-l` option there would still be an issue when using `--check` as the assocaited emitter is still expecting the file name to be an actual path, no?

[2019-11-07 20:34] jugglerchris commented on #3871
Ok, I do get a panic with `--check -l`, and the "Incorrect newline style" message just doesn't appear with stdin.  Thanks!  I'll take a look at those.

[2019-11-07 21:23] jugglerchris commented on #3871
I think the missing "Incorrect newline style" is because the `SourceMap` doesn't remember the original line endings, so by the time it gets to `DiffEmitter::emit_formatted_file()` it's identical to the fixed output.  But I've hopefully fixed the panics now.

[2019-11-07 22:19] calebcartwright commented on #3871
👍 I believe your updates to the diff emitter will cover both cases.

It's true that internally the parser normalizes line endings to unix style, so the `original_text` value will always have unix style endings when using stdin. However, I do think there were some scenarios where `formatted_text` could have windows style endings (namely with `newline_style = "Windows"` or `newline_style = "Native"`

[2019-11-07 22:31] lnicola opened #3911 "Rename --all to --workspace?"
In https://github.com/rust-lang/cargo/pull/7241, `cargo --all` got deprecated in favor of `--workspace`. There's less chance of confusion in `cargo fmt` because there is no `--all-targets, but perhaps it's a good idea to support both for consistency.

[2019-11-07 23:08] calebcartwright commented on #3911
Thanks @lnicola, I wasn't aware of the change to `--workspace` in cargo! There's certainly a case to be made for consistency, and this would be as good a time as any as the current focus is on rustfmt 2.0 and there's other arg/option changes. There are, however, certain behaviors associated with cargo fmt's args that IMO are worth considering.

For example, when running `cargo fmt` in the root dir

[2019-11-07 23:12] lnicola commented on #3911
Sorry, I wasn't aware of what --all did. I went by the help message:

--all        Format all packages (only usable in workspaces)

So I hope you understand my confusion. If it really behaves like you described, I don't think it's worth making any change here.

[2019-11-07 23:12] #3911 closed

[2019-11-07 23:25] calebcartwright commented on #3911
No worries! It may still be worth considering a rename, but I just wanted to note some of the other aspects that would need to be weighed against the consistency with cargo's `--workspace`

I can see how that message could be confusing, especially that suffix. I believe `--all` can technically be used today even outside an explicit workspace so we should probably update that message either way. Pe

[2019-11-07 23:30] calebcartwright commented on #3908
I can reproduce this with the latest 1.4.10

[2019-11-08 00:15] topecongiro commented on #3885
Yes!

[2019-11-08 00:19] calebcartwright commented on #3885
Will open a PR in a bit with those bumps

[2019-11-08 00:43] #3904 closed

[2019-11-08 00:45] topecongiro commented on #3911
@calebcartwright Seems good to me 🙌

[2019-11-08 01:56] tangmi commented on #3393
I'm unsure if this is the right place for these comments, but I love `report_todo` and am wondering what work needs to be done to stabilize it?

[2019-11-08 04:11] CreepySkeleton commented on #3248
So, does this mean there's no way to avoid such collapsing?

[2019-11-08 04:21] CreepySkeleton commented on #894
Any progress on this? `#[rustfmt::skip]` is noy always possible to apply

[2019-11-08 04:33] CreepySkeleton opened #3913 "Option to not collapse comments"
This code
[code]

get collapsed like
[code]

Any way to evade this?

[2019-11-08 05:09] calebcartwright commented on #3885
Unfortunately it seems that `ignore` is [pinned on](https://github.com/BurntSushi/ripgrep/blob/master/ignore/Cargo.toml#L21) `crossbeam-channel`  v0.3.6 which in turn has a ^v0.6.5 dependency on `crossbeam-utils`, basically preventing updating either.

I'll follow up with an issue over in `ignore`

[2019-11-08 06:00] topecongiro commented on #3248
Currently no, sorry.

In the future we can add a config option which allows gofmt-ish formatting for some expressions (e.g., function calls and method chains). That is, to preserve the user's input as much as possible and do minimal reformatting unlike what rustfmt currently does.

[2019-11-08 09:08] iago-lito commented on #3913
Duplicate of #3248?

[2019-11-08 09:09] CreepySkeleton commented on #3913
Err, yes, sorry to bother

[2019-11-08 09:09] #3913 closed

[2019-11-08 11:56] Timmmm commented on #233
Yes please can you reopen this? It makes it hard to support `rustfmt` in `arc lint` because when you tell it to format one file it prints a load of other unrelated files.

[2019-11-08 11:58] Timmmm commented on #233
Also when using `--emit stdout` the output is completely useless because the filenames are specified *in-band*.

[2019-11-08 12:01] Timmmm commented on #233
Aha looking at the source there is [an option for this](https://github.com/rust-lang/rustfmt/blob/master/src/bin/main.rs#L170), sadly it is only available in nightly at the moment. I'll make a PR to stabilise it (it was added 2 years ago!).

[2019-11-08 12:03] Timmmm commented on #233
Ok cancel all that. This was fixed [10 days ago](https://github.com/rust-lang/rustfmt/commit/09a028b64d04b720fa55aac0594688bb291297cd) and formatting sub-modules is apparently no longer the default. Yeay!

[2019-11-08 21:52] lnicola commented on #3911
Filed https://github.com/rust-lang/rustfmt/pull/3914.

[2019-11-08 22:03] lnicola opened #3915 "Consider dropping derive-new dependency"
See https://github.com/salsa-rs/salsa/pull/201 for context. Avoiding `derive-new` sped up `salsa` builds by 6-8 seconds. There are four uses of `#[derive(new)]` in this repo. I'm not sure how you feel about this, but I can submit a PR if you're interested.

In this repo, `derive-new` takes for me 14 seconds:

![image](https://user-images.githubusercontent.com/308347/68513630-323cb780-0284-11ea-935

[2019-11-08 22:49] calebcartwright commented on #3915
Sounds reasonable to me 👍 I'm also curious to see if the switch has other improvements beyond those ~14 seconds

[2019-11-09 00:20] maplant opened #3916 "Rustfmt command returns an error despite problematic file being ignored and hide_parse_errors is true"
I have a problematic file that is not able to be parsed. The reason for that is I'm autogenerating symbol names with macros, in a manner that looks like this:
[code]
Rustfmt is failing to parse this at the token `!`, but the larger issue is that I'm failing rusty-hooks despite this file being put into ignore, hide_parse_errors being set to true and no error being emitted and rustfmt seemingly hand

[2019-11-09 01:31] calebcartwright commented on #3916
hey @maplant - what happens if you change `hide_parse_errors` to `false` in your config and keep that file listed under `ignore`? I added a change a while back to handle recoverable parser errors in ignored files, but I think I have a theory why this is happening and believe it's related to `hide_parse_errors` being set to true

[2019-11-09 03:32] maplant commented on #3916
@calebcartwright the same effect is observed for me

[2019-11-09 05:38] jdm commented on #3039
This looks like a duplicate of #3170.

[2019-11-09 05:38] #3039 closed

[2019-11-09 05:49] calebcartwright commented on #3916
The underlying problem is that the parser is hitting a fatal error on your snippet, and is unable to create the ast. As such rustfmt is unable to start formatting and exits with an error as well.

In instances where the parser encounters errors, but was still able to recover and construct the ast, rustfmt is able to start formatting and will not exit with an error if all the parser errors (or form