[2022-01-26 11:13] fulara opened #5194 "fmt gives up on some pub const fields in types"
using rustfmt 1.4.38-nightly (777bb86 2022-01-20)

Example code:
[code]
rustfmt fails to format above for field D.
However if I try to put the: `mem::size_of::<i64>() // field A` on the next line rustfmt does put it back in there.
it also formats foo() in this function as expected so I am invoking it correctly.

In my other tests it sort of put the comment for field H in a totally odd location I h

[2022-01-26 11:26] lobocode commented on #5138
This incorrect output has already been fixed in version 1.60.0-nightly. In fact, the following output appears:

`error[internal]: line formatted, but exceeded maximum width (maximum: 100 (see `max_width` option), found: 103)`

In this case, I don't know if the correct thing would be to increase the size or simply show the same message. Also because the case above, from a practical and functional p

[2022-01-26 13:51] cyqsimon opened #5195 "Does not format attributes containing arrays"
rustfmt seems to fail when an attribute contains an array. This is problematic when using clap with derive feature, for example.

## Steps to reproduce
Try formatting the code below using rustfmt.
[code]

## Expected behaviour
`possible_values` should appear on a new line.

## Actual behaviour
rustfmt gives up on formatting this attribute. Does nothing.

[2022-01-26 14:52] ytmimi commented on #5194
Thanks for submitting the report!

I think the trailing comment not sticking with the impl item is partially related to #4027, #5168, #3720. Those linked issues deal with ``mod`` and ``use`` statements, and go down a slightly different code path, but the general issue is the same. rustfmt tries to reorder these items while retaining the trailing comments, but it's a little harder to get the commen

[2022-01-26 17:20] bddap commented on #5138
Sorry, @lobocode . Not sure I understand what you are asking.

[2022-01-26 19:03] 01mf02 commented on #5176
Ok, thanks for your detailed explanation!

[2022-01-26 23:19] calebcartwright commented on #5188
Thank you for opening this. I have two questions/asks:

- You've mentioned panics in a couple places, but from the output you've shared, I'm only seeing errors; not panics. Is there some scenario where you're actually seeing a true panic, and if so, could you please open a separate issue with a minimal repro? If not, let's update the description as exiting with an error (regardless of how good/bad

[2022-01-26 23:23] calebcartwright commented on #5189
Thanks for your question, but the answer is no on both fronts.

The 2.0 version was never anything more than experimental branch in source control and should be treated as such. It's unlikely to ever become official, and we're not going to go down any official (preview or otherwise) release channels, including rustup, unless that changes.

More info in #5018

[2022-01-26 23:23] #5189 closed

[2022-01-27 00:00] calebcartwright commented on #5194
This is a duplicate of #5099 so going to close accordingly

[2022-01-27 00:00] #5194 closed

[2022-01-27 00:20] lobocode commented on #5138
I'm asking if you've checked, if this bug has been fixed in later versions of rustfmt.

[2022-01-27 00:28] calebcartwright commented on #5190
Thanks for posting! To be honest something feels off on the default behavior, but I'd need to dig back through some old RFCs to check. Few specific responses:

While your example holds true, I want to note that you're missing the comma delimiters between the final `a`/`b` pair on each line which in turn results in rustfmt not formatting the macro call whatsoever. Adding those allows it to format,

[2022-01-27 00:32] calebcartwright commented on #5193
Idempotency issues are indeed a problem, so thank you for sharing! Would you mind doing me a favor and making some changes to the description? There's a lot of moving parts that actually make it less clear than it could be.

The first ask would be to distill down to a complete, minimal repro that can be copy/pasted and used directly. The diff based output tools like git and rustfmt's `--check` pro

[2022-01-27 00:57] calebcartwright commented on #5195
Thanks for sharing. I believe the root cause of this is that the corresponding AST node for the attribute (as produced by rustc's parser) doesn't actually have an associated MetaItem which leaves rustfmt nothing that can be formatted. Any resolution to this is going to have to be made upstream so I'm going to close.

When/if it's addressed in the parser then rustfmt will automatically pick that up

[2022-01-27 00:57] #5195 closed

[2022-01-27 01:27] msrd0 commented on #5193
I'm running with the config from the git tree I linked above - https://github.com/msrd0/gotham_restful/blob/5181b4b448003a06e01d50609371a9578db9d067/rustfmt.toml

If I find some time, I'll try to create a minimal example that reproduces the issue.

[2022-01-27 01:44] calebcartwright commented on #5193
The rationale for including as much relevant information in the issue is possible is that it makes it easier to see and discuss without everyone having to follow links, clone, etc. Please take a look when you can, as this doesn't yet clear the threshold for being actionable

[2022-01-27 05:03] cehteh opened #5197 "Feature request: match_arm_align_threshold"
Since we already have:

enum_discrim_align_threshold
struct_field_align_threshold

It would be nice to have a similar formatter for simple/one-line match arms that lines up the '=>' like:

[code]

[2022-01-27 05:31] fulara commented on #5194
hey @calebcartwright  well if you think this is a duplicate of that one it probably is.
@ytmimi  here is a complete example showcasing seemingly both issue.
1) rustfmt gives up on formatting the things
2) the comments after the comma sticks to the next element.

It seems to me that comments here are the causing factor, when I was testing it without comments it seems to work.

[code]

Results in...

[2022-01-27 08:34] OJFord commented on #5190
Thanks for your response.

Oops, that's what I get for making something up here immaterially different (but different) from what I actually ran - or so I thought!

That was just a typo, I'll edit it in to avoid others picking up on it, just mentioning it so as not to make your comment on it confusing.

[2022-01-27 11:45] alexmozaidze commented on #1103
It would actually be really cool if it worked on per "code block" basis like this:
[code]
so it would be possible to tell it what to and what not to align vertically.

[2022-01-27 22:44] Skgland opened #5198 "Rustfmt fails to resolve mod"
Reproduction

[code]

#5167 has a similar error message but this one should not be ambiguous.

[2022-01-28 06:07] Officeyutong opened #5199 "Rustfmt seems not working on this indention-messed file"
[code]
The closure in the call to `query_row` has a messed indention, but running `rustfmt ./src/main.rs` makes no change to this file.

I'm using `rustfmt 1.4.38-stable (db9d1b20 2022-01-20)`, the only dependency of this program is `rusqlite = { version = "0.26.3", features = ["bundled"] }`

[2022-01-28 08:24] tmfink commented on #5188
@calebcartwright I reworded the title/description of the issue. Hopefully it's more clear. There was never a panic--only an exit on error.

At least in the error path described, the error message is just confusing--it does not indicate what attempted action lead to "permission denied".

[2022-01-28 13:38] ytmimi commented on #5198
Thanks for the report!

At a quick glance over the repo (https://github.com/Skgland/scryer-prolog.git) it does seem like this should be different than 5167. I'll try to dig into this over the next few days to see if I can better understand what's going on.

[2022-01-28 15:00] FooqX opened #5200 "Does not handle it when no path is provided"
If you just enter rustfmt and press enter, it does nothing, pretty sure (it could), and this behaviour should be handled and an error message should be printed out.

[2022-01-28 15:30] ytmimi commented on #5200
Thanks for the report.

Just to be clear you're evoking rustfmt directly? When you get a chance could you please provide the exact command that you're running, the version of rustfmt you're using, and optionally any non default configuration options you might be using.

[2022-01-28 15:41] ytmimi commented on #5177
Just wanted to call out that I think not having support for let chains right now is related to #4955 and the fact that we don't currently format ``ast::ExprKind::Let`` AST nodes.

https://github.com/rust-lang/rustfmt/blob/5c558e2c11f33e1e25932607458396be883d36b5/src/expr.rs#L130

If anyone is interested in taking this on right now, this is probably the place to start.

[2022-01-28 16:39] msrd0 commented on #5193
This is a very small example that reproduces the problem:

[code]

[code]

On the first pass, rustfmt reformats the println as a one line statement but adds an extra comma at the end, which gets removed in the second pass:

[code]

[code]

[2022-01-29 04:55] #4854 closed

[2022-01-29 05:01] calebcartwright commented on #5193
Thanks! I'm fairly confident this is a duplicate report but will leave open for now since my github search skills are failing me and I want to make sure we don't lose track of this

[2022-01-29 05:13] calebcartwright commented on #5197
Closing as a duplicate of #894

[2022-01-29 05:13] #5197 closed

[2022-01-29 05:15] calebcartwright commented on #5199
Closing as a duplicate of #3863

[2022-01-29 05:15] #5199 closed

[2022-01-29 05:18] calebcartwright commented on #5200
Thanks for reaching out, but it sounds like you may just not be familiar with the fact that rustfmt supports formatting both from stdin and provided files; it's not an error, but waiting for the stdin buffer to be flushed (try typing some rust code and then ctrl+d on PC or whatever the equivalent is on a Mac)

https://github.com/rust-lang/rustfmt#running-rustfmt-directly

[2022-01-29 05:18] #5200 closed

[2022-01-29 05:25] calebcartwright commented on #1385
Going to close as the thrust of this is a duplicate of #894. Some of the other items are ostensibly already covered via config options (e.g. https://rust-lang.github.io/rustfmt/?version=v1.4.38&search=threshold#struct_field_align_threshold), and those that are not likely already have a respective report that's more singularly focused (though folks should feel free to report more specific/targeted

[2022-01-29 05:25] #1385 closed

[2022-01-29 05:38] calebcartwright commented on #1103
Closing as this issue is quite old and has outlived its relevancy.

The defaults were established many years ago and are not going change. However, those that prefer the vertical/visual layout can utilize existing options like [indent_style](https://rust-lang.github.io/rustfmt/?version=v1.4.38&search=#indent_style) and [struct_field_align_threshold](https://rust-lang.github.io/rustfmt/?version=v1.

[2022-01-29 05:38] #1103 closed

[2022-01-29 05:41] calebcartwright commented on #490
Closing as this was implemented some time ago

[2022-01-29 05:41] #490 closed

[2022-01-29 05:48] calebcartwright commented on #5190
Please let me know if there's some obvious dots I'm just failing to connect, but this seems like a different topic no?

We have the [trailing_comma](https://rust-lang.github.io/rustfmt/?version=v1.4.38&search=#trailing_comma) config option that allows users to control this. However, it's a different story with macro calls because the insertion/removal of any tokens can be problematic in the genera

[2022-01-29 10:18] c410-f3r commented on #5177
Closing in favor of #4955

[2022-01-29 14:01] alexmozaidze commented on #3366
I find it pretty weird not having a space after colon, but idk, maybe somebody likes it.

[2022-01-29 18:20] #5125 closed

[2022-01-29 21:42] yodaldevoid commented on #4036
This bug doesn't seem to require `wrap_comments` now, if it ever really did.

[2022-01-29 22:14] ytmimi commented on #5193
I don't know if I'm doing something wrong, but right now I'm unable to reproduce the behavior given the mcve. I'm using ``rustfmt 1.4.38-nightly (5c558e2c 2022-01-23)``, and can't get the 2nd match arm to be wrapped in a block when I run rustfmt on the input.

I''ve added the mcve to a file named ``issue_5193.rs``, and the given configuration to a file named ``5193-rustfmt.toml``.
I'm running the

[2022-01-29 22:30] msrd0 commented on #5193
@ytmimi When I run `rustfmt +nightly --check --config-path=5193-rustfmt.toml issue_5193.rs` I can reproduce the issue with both the version I used initially (`rustfmt 1.4.38-nightly (5e57faa 2022-01-19)`) and the latest one available from rustup (`rustfmt 1.4.38-nightly (e0a55f4 2022-01-28)`).

Maybe you need to add a double dash (`--`) in front of the `config-path` argument?

[2022-01-29 22:38] ytmimi commented on #5193
whoops 😅, you're right I wasn't passing the ``--config-path`` correctly.

[2022-01-30 15:32] kneasle opened #5204 "Non-idempotence for macros in match arms"
The following example takes two formatting attempts to settle, and furthermore settles into a horrible state:
[code]
formats once to:
[code]
and a second time to:
[code]
It seems that the second transformation is where the bug lies - the first formatting is what I'd expect, and already falls under `max_width`.  Plus, the final formatting just looks awful.

A few things to help anyone tracking this

[2022-01-30 16:10] ytmimi commented on #5204
Thanks for the report.

This is very similar to #5193, which also deals with idempotency issues around match arms. When you get a chance can you also list any configuration options you're using to also help track down what's going on here?

I agree that the second run's formatting isn't ideal, so there might be a different underlying issue than the one I linked.

[2022-01-30 17:12] ytmimi commented on #5198
After diving into the rustfmt module resolution code and revisiting your repo I've identified that the issue is that you define both a  ``src\lib`` directory (that doesn't contain any rust code) and a ``src\lib.rs`` file.

module resolution is trying to look for modules in the ``src\lib`` directory and because we can't find:
``src\\lib\\macros.rs`` or ``src\\lib\\macros\\mod.rs`` We run into a  ``

[2022-01-30 17:31] bsodmike commented on #3422
This would be nice!!

[2022-01-30 18:16] Skgland commented on #5198
No, this does not appear to be a recent issue, I tried most rust stables back to `1.46.0 (2020-08-27)` and could reproduce this with all tried versions and `src/lib.rs` was only introduced on `2021-02-28` when splitting of the lib in <https://github.com/mthom/scryer-prolog/commit/2f428b72618aeb421485950ffb91ff9dba2f0b0c>.

[2022-01-30 18:32] ytmimi commented on #5198
Thanks for the additional info. I'm pretty confident that it was the introduction of the ``src/lib.rs`` file that caused this module resolution issue. I should have a PR to fix this soon!

[2022-01-30 21:42] tmfink opened #5206 "rustfmt's `--config-path` help text is misleading"
As of 8b0b213cddb23a9bbe421b717d1a0e5fb3982712, the help text is:

[code]

Some points of confusion:

1. How can there be a recursive search if the configure is a "file": `[Path for the configuration file]`?
    a. It seems like this option can take a directory with `rustfmt.toml` OR the file itself.
2. When passed a directory, `rustfmt` does not appear to search recursively for a config file thro

[2022-01-30 22:22] kneasle commented on #5204
I'm not using any config options - just whatever Rustfmt comes with.  I found #5193, but it didn't look like it was caused by the same underlying issue... You need a very precise string length to make this happen so I feel like this might be caused by a pair length limits that weren't supposed to interact like this.  The indentation looks like a separate issue, though.

I'm happy to do some diggin

[2022-01-31 14:59] Samzyre opened #5208 "Panic when formatting a macro usage with generics"
I get a formatter panic when running it on a file with macro usage.
No difference with `rustfmt.toml` settings all commented out.

rustfmt version:
`rustfmt 1.4.38-nightly (5e57faa7 2022-01-19)`

Error:
[code]

Code that breaks it:
[code]

The macro in question *(also using macro keyword feature on nightly)*:
[code]

Other uses without generics seem to be fine, though
[code]

[2022-01-31 18:10] bddap commented on #5138
I have not.

[2022-01-31 19:45] ytmimi commented on #5208
Thanks for submitting this report!

I don't think this is ``rustfmt`` panicking. I mostly think that because of the panic message you included:
``compiler\rustc_errors\src\lib.rs:1188:13``

``rustfmt`` uses the parser defined in the compiler to parse your rust code into an AST, before trying to format it. It appears to me that the panic is actually happening in the compiler. It might be more appro

[2022-02-01 01:34] ytmimi opened #5210 "[unstable option] `format_asm_macro`"
Tracking issue for ``format_asm_macro`` configuration option. ``asm!`` macro formatting is implemented by #5191

See [Processes.md, "Stabilising an Option"](https://github.com/rust-lang/rustfmt/blob/master/Processes.md#stabilising-an-option):

- [ ] Is the default value correct?
- [ ] The design and implementation of the option are sound and clean.
- [ ] The option is well tested, both in unit tes

[2022-02-01 02:26] codeinred opened #5211 "Add configuration option to break function definition before return type"
Currently, if a function definition is longer than the max_width, rustfmt will break up the function by splitting up the parameters on separate lines.

For example, this function:
[code]
Becomes
[code]
When formatted with a max_width of 80. Would it be possible to add a config option to insert the break before the return type, so that rustfmt will insert the break before the return type?
[code]

[2022-02-01 02:47] ytmimi commented on #5211
Thanks for reaching out.

``rustfmt`` is implemented to follow the [rust style guide](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/guide.md), and [here's](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/items.md#function-definitions) the section which describes the proper spacing for functions and how to break them if they don't fit on a single line. Unfortunately, wit

[2022-02-01 17:57] BartMassey commented on #2990
Is there a rustfmt attribute to allow it to format an item except for changing the given line breaks? If not, could there be? Right now I'm using #[rustfmt::skip], but I really just want rustfmt to change everything but my line breaks.

[2022-02-02 01:06] #5023 closed

[2022-02-02 01:18] calebcartwright commented on #5206
Thanks for following up. With the caveat that there are some outstanding bugs relative to config loading (especially recursive loading and dealing with conflicting keys):

I think this could either be addressed via some wording enhancements to provide clarity, or _potentially_ view some parts of current behavior as a bug that could be addressed. My recollection is that both file and directory path

[2022-02-02 01:20] calebcartwright commented on #5208
Thanks for reaching out, but going to close as this is a duplicate report of an upstream issue within the compiler (https://github.com/rust-lang/rust/issues/93282) which has already been resolved. You can update to a newer nightly to pull in the fix

[2022-02-02 01:20] #5208 closed

[2022-02-02 01:22] calebcartwright commented on #5162
Thanks again, but I'm going to go ahead and close this. The above commentary certainly still stands, but after some additional reflection I've decided I don't want to leave this open as I don't to imply we're actively encouraging/soliciting this.

[2022-02-02 01:22] #5162 closed

[2022-02-02 01:25] calebcartwright commented on #5211
Thanks for sharing your idea @codeinred but I concur with @ytmimi and am going to close.

As is the case with any open source project, folks are welcome to submit pull requests, and if anyone were to ever submit a complete, and holistic PR for your feature request we'd certainly give it due consideration. However, it's not something the rustfmt team will ever work on, and I don't want to imply tha

[2022-02-02 01:25] #5211 closed

[2022-02-02 15:34] est31 opened #5213 "Bad formatting of let-else in macro"
The following macro makes rustfmt as of nightly do bad formatting:
[code]
If you run it once, it moves the panic and the `};` one indentation level to the right:
[code]
This process is continued, until you reach this fixpoint:
[code]
I file this bug not because the output is *bad* style (it is, but that is the purpose of #4914 to figure out), but because the rustfmt output from running it once is

[2022-02-02 16:54] ytmimi commented on #5213
Thanks for submitting this issue!

It's very likely that this is related to #5062 and #5044

[2022-02-03 15:56] tharun208 opened #5214 "rustfmt binary path in usage string"
`rustfmt` help command returns usage information in which `rustfmt` binary path is appended to the usage message. The usage message will be cleaner without the binary's path. I am happy to raise a pr for this if we are okay to remove the path from the usage string.
<img width="772" alt="Screenshot 2022-02-03 at 9 22 29 PM" src="https://user-images.githubusercontent.com/14926492/152378300-797f93f3-

[2022-02-03 16:44] danjl1100 opened #5215 "Tuple struct field comments consume the field itself, only with doc comment"
### Describe the bug

When using the sequence `/// doc comment`, `// regular comment`, \<field definition\> within a tuple struct definition, rustfmt joins the field with the regular comment above, removing the field from the struct definition.

#### Input

[code]

#### Output - correctness issue
[code]

The same applies for `/* block comments */`, but in this case the issue is purely cosmetic (do

[2022-02-03 20:18] ytmimi commented on #5215
Thank you for the report!

There is a lot of great detail here! I appreciate how thorough the report is. I can confirm that I'm able to reproduce this on the current master ``rustfmt 1.4.38-nightly (8b0b213c 2022-01-29)``.

[2022-02-04 00:41] ytmimi commented on #5215
Did some digging into this. The issue is that we're making the assumption that the type, prefix, and attributes can all fit on a single line if the type is written on a single line. As demonstrated by this issue, we should also consider whether or not a comment was found between the attribute and the prefix.

If anyone's interested in taking this on this issue on they should look at [rewrite_struc

[2022-02-04 00:43] calebcartwright commented on #5214
Thanks for reaching out and your willingness to contribute! I agree it would be nice to clean that up, so feel free to take a pass at a PR.

Note you can add a comment containing the text `@rustbot claim` to get the issue assigned to you and indicate you'll be working on it

[2022-02-04 00:53] #5042 closed

[2022-02-04 00:56] #5131 closed

[2022-02-04 04:28] tharun208 commented on #5214
@rustbot claim

[2022-02-04 04:56] tharun208 commented on #5215
@ytmimi I like to work on this

[2022-02-04 07:10] tharun208 commented on #5215
@rustbot claim

[2022-02-05 01:21] Lokathor opened #5218 "Request: "Compressed""
Just how [fn_args_layout](https://rust-lang.github.io/rustfmt/?version=v1.4.38&search=#fn_args_layout) works for function *declarations*, but make it work for function *calls* as well.

eg:
[code]

should become (depending on line with and such) something like this:
[code]
instead of going to a completely vertical layout.

[2022-02-06 04:31] cmpute opened #5219 "`array_width` works incorrectly for hex integers"
I found that
[code]
formats to
[code]

I expect that the first array should also be rearranged. Thanks!

[2022-02-06 11:07] msrd0 commented on #5073
The same happens when setting `format_code_in_doc_comments = true`, even if `wrap_comments` is left at its default value.

[2022-02-06 13:20] rishadbaniya opened #5220 "[Question]Why is rustfmt default edition "2015" for "rustfmt.toml" files ?"
I just wanted to know why rustfmt takes "2015" edition as default edition when no edition is explicitly mentioned on "rustfmt.toml" file or in flag for the "rustfmt". I mean, why old edition and not new edition like "2021" or "2018" as default? Wouldn't it create issues like code with "async" keyword not being formatted unless "2018" edition and above is explicitly used as a flag or in "rustfmt.to

[2022-02-06 18:36] ytmimi commented on #5219
Thanks for submitting the issue.

When you get a chance could you please provide the value you're using for ``array_width`` to produce the inconsistent formatting.

[2022-02-06 20:24] cmpute commented on #5219
I just use the default setting (width = 100, array_width = 60). And I also tested with different width settings, the behavior is the same

[2022-02-07 02:46] calebcartwright commented on #5219
I can't reproduce this. Could you please share the version of rustfmt you are using (`rustfmt --version`), and share your full config file?

[2022-02-07 02:49] calebcartwright commented on #5220
Thank you for your question. In short, because `rustc`'s default is still 2015.

`rustfmt` doesn't really do anything with the edition but pass it along to the compiler for parsing. `cargo` aware tools, including `cargo fmt` will pick up the edition from the cargo manifest file, but if you're going to run `rustc` or `rustfmt` directly there are several cases (async included) where you'll need to p

[2022-02-07 02:49] #5220 closed

[2022-02-07 02:57] #5122 closed

[2022-02-07 03:17] cmpute commented on #5219
Version: `rustfmt 1.4.38-stable (db9d1b2 2022-01-20)`
I have a config file at `~/rustfmt.toml` with merely one config: `array_width=100`. But I have this problem even without any config.

The specific file I'm trying to format is this: https://github.com/cmpute/num-prime/blob/master/src/tables.rs

[2022-02-07 03:25] calebcartwright commented on #5219
Thanks for the quick response, although I'm going to close this now.

Please note that your first array is formatted vertically because it would exceed the `max_width` (note, not `array_width`) value if it wasn't. Try setting `max_width` to something like 105 or 110 that's just big enough to fit the first array which is longer than the second. Also, the presence of a config file in your home direc

[2022-02-07 03:25] #5219 closed

[2022-02-07 04:17] cmpute commented on #5219
Thanks for your reply! I'm a little bit confused about the array formatting now, in what situation will the array literals be arranged like this:?

https://github.com/cmpute/num-prime/blob/56bfcffe15c8a4b2019550cae7dad1f7d49a6672/src/tables.rs#L19-L25

In my understanding, the array should be wrapped before it reaches the `max_width` limit, but not directly fall back to vertical format. How can I

[2022-02-07 04:48] cmpute commented on #5219
It seems what I would like to achieve is a `ListTactic::Mixed` style. I browse the code and I believe the reason that prevents this list to be formatted in a "mixed" way is because the constant [`SHORT_ITEM_THRESHOLD`](https://github.com/rust-lang/rustfmt/blob/0b8ffac0297a46d7d2d2f8328cbc49de7e7144f2/src/overflow.rs#L29) is set to 10, while a hex representation of an u64 integer has length 18.

Th

[2022-02-07 09:34] hellow554 opened #5222 "Left behind trailing whitespace after writeln macro"
Reproduce it with:
[code]

[code]

rustfmt 1.4.38-nightly (f624427 2022-02-06)

[2022-02-07 11:16] Wandalen opened #5223 "Documentation?"
Where can I find a documentation on internals?

[2022-02-07 14:46] ytmimi commented on #5222
Thanks for submitting the issue!

I find that it's a little easier to include the snippet of code directly so anyone wanting to work on the issue can easily copy and paste it.

[code]

Does the issue only happen when the input is read from stdin? I'm not able to reproduce this when formatting the input from a file.

[2022-02-07 14:55] hellow554 commented on #5222
[code]

errors as intended ;)

That's why I provided the base64 input. Your editor may remove the trailing whitespace on its own.

[2022-02-07 20:23] glittershark opened #5224 "`imports_granularity = "Module"` breaks code which imports the same identifier twice with two different names"
`rustfmt.toml`:
[code]
`main.rs` (pre formatting):
[code]

`main.rs` (post formatting):
[code]

removing the `HashMap as HM` alias causes the code to no longer compile.

[2022-02-08 05:21] cmpute opened #5225 "Feature request: Customizable `SHORT_ITEM_THRESHOLD`"
This is a follow up issue to #5219. I found that I cannot format
[code]
to something like
[code]
due to the limit set by [`SHORT_ITEM_THRESHOLD`](https://github.com/rust-lang/rustfmt/blob/0b8ffac0297a46d7d2d2f8328cbc49de7e7144f2/src/overflow.rs#L29). I tried changing this threshold to 20, and then I managed to get the array formatted as the latter style.

Therefore I would like to request the abil

[2022-02-08 11:42] ytmimi commented on #5224
Thanks for reaching out.

By the way, what version of rustfmt are you using? I believe this has been fixed in master by #5209.

Using ``rustfmt 1.4.38-nightly (8b0b213c 2022-01-29)`` I get the following when reformatting your snippet using your specified configuration options:

[code]

[2022-02-08 18:52] ytmimi commented on #5223
@Wandalen are there specific areas of the internals that you're interested in? To be honest, I'm not 100% sure if we've put together docs about the internals of ``rustfmt``. @calebcartwright do you know if we've got anything like that?

[2022-02-09 00:55] SecondFlight opened #5226 "Failure case: match with long format macro"
Hi! I think I've found a bug with `rustfmt`. Here's a minimal repro case:

[code]

-----

Running `rustfmt` with this input doesn't cause an error for me, but it doesn't appear to successfully format either.

Running `rustfmt` with `--emit stdout` in the failure cases causes the input to be echoed to the output verbatim. I would expect `rustfmt` to modify the file above, but it does not.

This als

[2022-02-09 02:41] SecondFlight commented on #5226
Closing, as I think this is a dupe of #3863. Feel free to reopen if this is not correct.

[2022-02-09 02:41] #5226 closed

[2022-02-09 07:07] Wandalen commented on #5223
Hello @ytmimi. Thanks for the response. Some structs I have found [here](https://doc.rust-lang.org/beta/nightly-rustc/rustc_ast/ast/enum.ExprKind.html). Can I find more documentation somewhere?

I am interested in extending the `rustfmt` to make it support the code style of our company.

Our code style is similar to the code style of the project [three.js](https://github.com/mrdoob/three.js#usage)

[2022-02-09 12:25] ytmimi commented on #5223
Maybe [this](https://docs.rs/rustfmt/latest/rustfmt/index.html) is what you're looking for? I'm not sure how up to date those docs are, and I know from working with the codebase that not everything is internally documented. You might also consider using rustdoc to build the docs for the project locally.

That's great! One thing to note is that rustfmt's goal is to be a faithful implementation of t

[2022-02-10 08:33] stjepangolemac commented on #5083
Would it be possible to add a fourth group for the workspace members? They're technically external crates but still different from 3rd party crates. Something like `StdExternalWorkspaceCrate`.

(let me know if this isn't the right place to discuss this)

[2022-02-11 01:49] joshtriplett commented on #4492
This does seem to me like formatting we could do somewhat better with, and it doesn't seem impossible to handle. In general, we don't do a great job of detecting multi-line things that are similar and should get line-broken to accent that similarity.

I wonder if this could be improved in rustfmt 2.0?

[2022-02-11 02:12] calebcartwright commented on #5222
Thank you for sharing.

The root cause of the problem is that it's impossible to apply the formatting rules to your input in any way that's compliant with all rules and your config settings (yes I realize those are at the default values). In these cases rustfmt simply leaves the code as you wrote it instead of trying to pick which rule(s)/config(s) to violate. Your original input had a trailing sp

[2022-02-11 02:12] #5222 closed

[2022-02-11 02:21] calebcartwright commented on #5218
This is technically a duplicate of #4146, however, that issue had a subtly massive scope since it covered both chains and calls (similar to #4306) and I was thinking about extracting a new issue focused on the call args piece.

Is your interest strictly in a compressed-like variant on calls, or would it be alright with you if we broaden this a tad to discuss the feasibility of a new option to cove

[2022-02-11 02:51] calebcartwright commented on #5223
Thanks for your interest @Wandalen and for sharing the info @ytmimi.

@Wandalen - there's two core themes here that I want to speak to separately, (a) trying to customize rustfmt to produce you/your company's preferred style and (b) info and contributing to rustfmt.

If you want to contribute to rustfmt that's great and we're happy to help you get started, but if your sole goal is for repurposing

[2022-02-11 02:51] #5223 closed

[2022-02-11 02:52] calebcartwright commented on #5224
Thanks for sharing but closing as a duplicate. It hasn't been released yet but the fix will hit nightly the next time we run a sync

[2022-02-11 02:52] #5224 closed

[2022-02-11 03:01] calebcartwright commented on #5225
I was actually going to post on #5219 to ask you to open a separate issue, so thanks for doing this! I'm definitely open to supporting this with a config option, provided the default is kept the same and someone is willing to submit a PR. It should be a relatively easy one for anyone that's interested, some relevant code sections below:

- Add a new config option (feel free to proposal any name)

[2022-02-11 03:02] #4036 closed

[2022-02-11 04:29] calebcartwright commented on #5083
No worries @stjepangolemac fine to ask here (and probably worth having pointers to various issues anyway). In short, we're limited by the information that's actually available. More detailed in the issues linked below

https://github.com/rust-dev-tools/fmt-rfcs/issues/131#issuecomment-995316504
https://github.com/rust-lang/rustfmt/issues/4693
https://github.com/rust-lang/rustfmt/issues/4709

[2022-02-11 04:35] #5214 closed

[2022-02-11 06:24] Wandalen commented on #5223
@calebcartwright my prime goal is success of the company I work for and secondary contributing to Open Source including `rustfmt` especially if openness and friendliness is part of the culture around the project. Hopefully it is the case.

Is lack of good documentation an intentional strategic step to keep developers and companies which didn't take part in the forced "consensus" out of the busines

[2022-02-11 07:30] Lokathor commented on #5218
Uh, however you want it.

I just have these occasional FFI calls which *have* to match a particular many-args signature and rustfmt makes them take up half a page of space.

I have no opinions on if chains should be in scope or how they should work if they are. I just need normal function calls to work. That's the only time I'm stuck with this many args instead of combining them into an array or a

[2022-02-11 08:48] RalfJung commented on #4492
Agreed -- there are also several issues related to `match` formatting that boil down to this high-level point.

[2022-02-11 17:38] JMS55 opened #5227 "Does not format relm4 view macro"
Using [Relm4's macros](https://aaronerhardt.github.io/relm4-book/book/widget_macro.html), anything inside of the `view! {}` block does not get formatted. I expect: fixing indentation, spacing around operators, adding trailing comma, etc.

I'm not sure if there's anything rustfmt can do here, as it's not completely standard syntax, but it would be a great help if rustfmt could handle this code.

[c

[2022-02-11 18:37] xedrac commented on #4108
Would fixing this mean that trailing comments would remain unchanged?  Several people on my team dislike using rustfmt because it visually changes their carefully aligned comments in most cases.  For example:

[code]
becomes:

[code]

[2022-02-11 23:31] #5157 closed

[2022-02-12 06:25] 123vivekr commented on #5225
@calebcartwright I'm new to Rust and would like to help out. Can you assign this to me?

[2022-02-12 18:29] ytmimi commented on #5225
@123vivekr feel free to comment [@rustbot claim](https://rustc-dev-guide.rust-lang.org/rustbot.html#issue-claiming) to have the issue assigned to you!

[2022-02-13 03:34] 123vivekr commented on #5225
@rustbot claim

[2022-02-13 21:22] poliorcetics commented on #5017
Same here, still present in `rustfmt`:

[code]

[2022-02-16 01:47] calebcartwright commented on #5227
Thanks for reaching out but I'm going to close this. rustfmt does not format macro calls that use `{}` delimiters, and will only attempt to format calls that use bracket or paren delimiters if their args can be parsed as valid rust syntax.

It's not related to `view!` or any particular macro call, but simply the fact that rustfmt is a formatter of rust code while args to macro calls regularly are

[2022-02-16 01:47] #5227 closed

[2022-02-16 02:35] calebcartwright commented on #5223
I'm rather confused as to why you decided to take this tone in your last response @Wandalen. These types of snarky insinuations aren't helpful, and I'd ask that you refrain from them in the future. I also unequivocally reject the premise of your question.

While documentation can always be improved, I would note that as is standard practice we have a [Contributing.md](https://github.com/rust-lang/

[2022-02-16 11:25] Wandalen commented on #5223
Hi @calebcartwright. I don't accuse you but rather asked for confirmation of logical conclusions with which I came up. They are based on what you said, what you did, and what I encountered exploring the project. I have been transparent from the beginning and I hope you don't find that offensive.

Thank you for your recommendations, it is worth taking them into account. Reading contributing is also

[2022-02-17 18:25] glfmn commented on #3312
What about something like `#[rustfmt::arrayNxM]` where rustfmt will automatically arrange things matrix style, with configuration for horizontal alignment of the columns in `.rustfmt.toml`?  As a first pass this could be only for `[T: {N*M}]` but could be expanded for argument lists to functions and tuples/tuple structs

[2022-02-18 00:20] ppamorim commented on #5173
Hi @murchu27, is there any way to implement that as a custom option?

[2022-02-18 03:17] Xuanwo commented on #4991
Hi, is there any progress to make this option stable?

[2022-02-18 05:32] fulara opened #5230 "feature request: add ability to enforce no blank lines in fn implementations"
Currently there is an option to specify minimum and maximum of blank lines between items.

I think it would be nice if the option set would be expanded with:
maximum-blank-lines-in-fn-definitions.

I personally sometimes add blank lines for readability, but I can see the argument for not having any blank lines in the functions at all,
it gives a coherent style across a codebase.

Example:
Instead

[2022-02-18 18:59] Nilstrieb opened #5231 "Formatting stops when encountering `-` `>` tokens in a macro call that is longer than the line length limit"
The code
[code]
gets formatted to exactly the same output, using default options.

Statements after this one get formatted correctly.

The code compiles successfully using `rustc`.

Rustfmt version: `rustfmt 1.4.38-nightly (30b3f35 2022-02-17)` (latest version right now)

Some things I tried thatmade `rustfmt` format the code correctly:
* Removing the `-` or `>` from the macro
* Making the line sh

[2022-02-19 14:49] murchu27 commented on #5173
Hey @ppamorim , by "custom option" do you mean "config option"? If you're asking whether I've made progress on this, then unfortunately not!

It's still very much on my task list, but happy to hand this over to someone else if there's a taker. I know @ayazhafiz worked on this before, but I'm not sure if they have time to contribute right now

[2022-02-19 22:25] calebcartwright commented on #4492
Let me know if I'm missing something obvious, but I still don't see a way in which this could be formatted any differently without either exceeding max_width, or contradicting the [rules for let statements](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/statements.md#let-statements) and/or the [rules for binary expressions](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide

[2022-02-19 22:27] calebcartwright commented on #5231
Thanks for reaching out, but going to close as this is a duplicate of #3863

[2022-02-19 22:27] #5231 closed

[2022-02-19 22:29] calebcartwright commented on #5230
Thanks for sharing your suggestion!

I'm not inherently opposed to such an option existing, but to be fully transparent, this isn't something we'll ever work on ourselves. If anyone ever feels strongly enough about wanting such an option they are welcome to submit a PR which we'll review and consider, and will certainly be open to incorporating provided it isn't too intrusive and doesn't add too m

[2022-02-19 22:54] calebcartwright commented on #5223
I feel like this thread came to a logical conclusion long ago, and I don't see much utility in continuing dialog here.

It doesn't matter that your prior comment was framed in the form of a question. What you said was unkind, unhelpful, and not in accordance with the type of discourse we have here. There's no point in trying to rationalize it, just don't do it again.

In your subsequent comment yo

[2022-02-19 22:58] calebcartwright commented on #4991
The absence of updates should be explicitly interpreted as meaning that there are no updates. The process and requirements for stabilizing an option are both linked, and enumerated with checkboxes, in the issue description and will be updated as-and-when there are updates to share

I appreciate the interest folks have in being able to use an option on stable. However, this remains a relatively new

[2022-02-19 23:27] calebcartwright commented on #5083
I appreciate the interest and willingness of folks to participate in discussions, but should you choose to do so, a gentle reminder to be sure to thoroughly read the thread and linked material.

The process for stabilizing an option is both linked, and enumerated with checkboxes, in the issue description. None of those enumerated requirements can be cleared yet, including the fact that yes there's

[2022-02-19 23:42] calebcartwright commented on #5017
As noted above, this should just be a backport/cherry-pick.

I'm unlikely to be able to get to this any time soon, so for anyone looking for a faster resolution and/or simply willing to help, I'd suggest seeing if cherry-picking the commits from #3857 and/or #4550 resolves the issue (note those commits should be somewhere on the [rustfmt-2.0.0-rc.2](https://github.com/rust-lang/rustfmt/tree/rustfm

[2022-02-19 23:43] calebcartwright commented on #5017
Also, please remember that the "left behind trailing whitespace" error message is a common symptom for a class of very different problems. It simply means that there was some construct in your input source code which rustfmt was unable to format for one reason or another, and in your original input you had trailing whitespace. If your original input is not the same type of construct, as represente

[2022-02-19 23:45] calebcartwright commented on #4914
Thanks for the other report and cross posting, though worth noting it's not actually related. rustfmt isn't touching let-else's yet, and in a macro context that leave-alone behavior is hitting a separate, unrelated bug that's been around for quite a long a while.

[2022-02-20 02:37] nickbp commented on #4074
Had this problem with enabling the format-on-save feature in emacs/rustic-mode. Ended up just configuring rustic-mode to [always specify `--edition=2021`](https://github.com/brotzeit/rustic/issues/389), since going back to every project and workstation to write a dedicated `rustfmt.toml` isn't really feasible.

Thinking about the problem, I don't understand why `Cargo.toml` can't be checked for th

[2022-02-20 15:12] RalfJung commented on #4492
The original example at the top of this issue is within the width both in the actual and expected formatting. I am not sure which rules are violated by what I called the expected formatting, but in my opinion that just goes to shows the rules still need to be tweaked. It is pretty hard to come up with general rules that always look good, so if we discover unintended consequences of those rules I d

[2022-02-20 16:20] calebcartwright commented on #4492
As per this rule:

Your expected output is missing that mandatory block indentation, and would instead have to be this:

[code]

With the extra, mandatory, indentation levels resulting in the width excess.

I don't think fear is a factor.

I completely agree with you that it's not feasible to come up with generalized rules that always look good, which is why I don't think that's ever a realistic g

[2022-02-20 17:05] calebcartwright commented on #4074
Thanks to everyone for sharing your perspective! However, I'm going to close this issue because it's gotten too lengthy and hyperfocused on a single, non-viable solution to a problem such that it's no longer a great fit for discussion of the problem itself.

The root problem is that editor/ide plugins don't have a manner in which to format a single file in a cargo-aware manner. This is exacerbated

[2022-02-20 17:05] #4074 closed

[2022-02-20 18:21] hf29h8sh321 commented on #3863
This only works with regular strings. Long raw strings still cause the problem.

[2022-02-20 22:31] nickbp commented on #4074
Your point about keeping `rustfmt` as a low-level tool parallel to `rustc` sounds reasonable to me. It does feel like this ultimately stems from there being no current solution to the common use case of "I want to press a button that auto-formats this file that I'm editing" as one might find as a first-class feature in other formatting tools like `black` or `gofmt`. Ultimately I'm happy as long as

[2022-02-20 22:48] ytmimi commented on #4074
@nickbp thanks for sharing your ideas on this. For your reference @calebcartwright and I are working to support single file formatting in ``cargo fmt`` (#5071). As @calebcartwright mentioned:

 So to reiterate we've got most of the implementation details down, but there are still a few things that we need to think through before it's 100% ready (mostly around the interaction of certain conflicting

[2022-02-20 23:18] nickbp commented on #4074
OK that's great! Thanks for the info, and for already putting so much effort into the fix. I'll follow along in the PR.

I'll leave a comment about the above `cargo fmt` positional filename arguments idea but I wouldn't be surprised if there was a problem that I was missing with that structure...

[2022-02-21 15:55] Wandalen commented on #5223
Thanks!

[2022-02-21 18:16] 9999years commented on #3437
This is the `imports_granularity` option: https://github.com/rust-lang/rustfmt/issues/4991

[2022-02-22 16:25] calebcartwright commented on #3437
Indeed, thanks for pointing that out @9999years! Closing accordingly

[2022-02-22 16:25] #3437 closed

[2022-02-22 22:07] andrewgazelka opened #5234 "`format_code_in_doc_comments` causes panic for empty code blocks."
`format_code_in_doc_comments` causes panic for empty code blocks. For instance:

[code]

# Reproducing
- Clone https://github.com/andrewgazelka/rustfmt-err
- Use `cargo 1.61.0-nightly (ea2a21c99 2022-02-15)`
- Run `cargo fmt -- --check`

[code]

# Related
- https://github.com/rust-lang/rustfmt/issues/3986

[2022-02-25 15:18] virtualritz opened #5238 "`wrap_comments` wraps (long) headers"
Input (from the `miette` crate's docs):
[code]

After `cargo fmt` with `rustfmt.toml`:
[code]

Output:
[code]

Which renders as:
<img width="780" alt="Screen Shot 2022-02-25 at 15 57 09" src="https://user-images.githubusercontent.com/387036/155737116-c451468e-bdde-4618-a518-1f03542216a2.png">

# Fix

Do not ever break comment lines starting with `#` even when `wrap_comments` is set.

[2022-02-25 16:04] ytmimi commented on #5238
Thanks for submitting this report!

I think the proposed fix makes sense, and I should have a fix for this soon!

[2022-02-25 16:05] ytmimi commented on #5238
@rustbot claim

[2022-02-25 16:45] ytmimi commented on #5238
Looking into this a little more I think only the ``wrap_comments = true`` configuration option is causing the issue. Appreciate you listing all the options you're using though!

[2022-02-25 16:48] virtualritz commented on #5238
Yes, I assumed this but since I didn't have time to test this assumption I thought I dump the entire `rustfmt.toml` in use in `miette`.

[2022-02-25 21:13] xxchan commented on #4091
I implemented the formatting logic https://github.com/rust-lang/rustfmt/pull/5240, review welcomed!

[2022-02-25 22:46] Pascal-So opened #5241 "Idempotency issue with comments after tuple entry"
This was tested on the current stable (1.4.38-stable) as well as with directly cloning from GitHub at 89ca3f3a.

Given this input

[code]

the first invocation results in

[code]

and a second invocation yields

[code]

A third invocation doesn't change anything.

I'm not using a `rustfmt.toml` file, this is using the default config.

Interestingly, the following input is stable:

[code]

[2022-02-25 23:20] ytmimi commented on #5241
Thanks for the report!

I think this is related to #4848 (possibly a duplicate), but more specifically I think it has to do with whether or not there is a comma or not in the original source text. I explain my initial investigation in a little more detail [here](https://github.com/rust-lang/rustfmt/issues/4848#issuecomment-939387474)

[2022-02-28 14:44] imlazyeye opened #5244 "`wrap_comments` does not ensure code blocks start on a new line"
When a long line in a comment is followed by a code block, rustfmt may break the formatting on the code block.

### Configuration
[code]

### Input
[code]

### Output
[code]

### Expected
[code]

[2022-02-28 14:57] ytmimi commented on #5244
Thanks for submitting this report!

[2022-02-28 20:19] eminence opened #5245 "rustfmt failure"
Hi all,

I have a fairly small bit of code that rustfmt seems to fail on.  I don't really have any useful error messages, so I can't really say why it's failing (hence the generic title for this issue)

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1c7900d609e2ad6703d1bf67c2287af2

Any hints about what might be going wrong here?

Thanks!

[2022-03-01 02:19] eminence commented on #5245
@ytmimi I'll try that, thanks!  However, does the long string on line 11 explain why the lines 1 through 3 can't be formatted?

[2022-03-01 02:45] ytmimi commented on #5245
I'm not sure why it's not working on the playground. Have you tried running this locally? When I run rustfmt locally with your snippet and without specifying any non-default configs the first few lines are formatted correctly. I'm using `rustfmt 1.4.37-stable (c8dfcfe0 2021-09-06)`

What version of rustfmt are you using?

[2022-03-01 05:13] #5198 closed

[2022-03-01 05:16] Zamiell opened #5247 "Remove unnecessary parentheses"
`rustfmt` should change the following code:

[code]

To this:

[code]

Also see related but different issue: #3823

[2022-03-01 05:25] #5238 closed

[2022-03-01 05:32] calebcartwright commented on #5245
Thanks for the report and investigating @ytmimi but going to close as this is a duplicate of #3863

[2022-03-01 05:32] #5245 closed

[2022-03-01 05:33] calebcartwright commented on #5247
Thanks for reaching out, but I'm going to close. While the ask is technically fine in the context of `println`, it's not necessarily safe in the general macro call case so it's not something we're going to do.

[2022-03-01 05:33] #5247 closed

[2022-03-01 12:32] kamulos opened #5248 "Extra spaces are not removed"
In the following example rustfmt is not removing the extra spaces in all the lines

[code]

I don't see any reason why not.

[2022-03-01 12:43] ytmimi commented on #5248
Thanks for the report, but I think this is a duplicate of #4403

[2022-03-01 12:54] kamulos commented on #5248
Ah, thats true :+1:  I'll close this then.

[2022-03-01 12:54] #5248 closed

[2022-03-01 14:19] ytmimi commented on #5248
Thank you!

[2022-03-01 18:07] MingweiSamuel opened #5249 "Unable to format chained method call with long generic argument list"
This does not get formatted:
[code]
It also happens for fewer number of longer type arguments:
[code]

[2022-03-01 19:13] ytmimi commented on #5249
Thank you for the report!

Right now I'm not sure what the underlying issue is, but I'll be sure to share my thoughts when I've had a chance to investigate further.

[2022-03-01 23:05] imlazyeye opened #5250 "`wrap_comments` can break up code snippets"
Very related to #5244 -- not sure if this should be merged with that. Either way, a similar behavior occurs with `code snippets` in comments. Given the following...
[code]

If the comment reaches the maximum width inside the code snippet, it'll break it up like so:
[code]

I think it would be more expected for it to treat the snippet as a single lexeme, and insert the line break prior to the start

[2022-03-02 13:23] nikomatsakis commented on #4914
My two cents from having used this for some time:

I'm generally in favor of making the `else` case easy to spot. It's very handy and I'm sure it will be widely used, but it's still a divergence from most expressions, which cannot break out. Moreover, the `else` keyword on its own requires context to disambiguate (is it part of an `if` or not?) and that context can be a bit hard to spot.

In my ow

[2022-03-02 13:24] nikomatsakis commented on #4914
To expand on this: I personally find that "scan for early return of some kind" is a fairly common thing that I do when debugging. I greatly appreciate `?` for this reason (although I am forced to search for it sometimes, as it can be quite "quiet") and I feel like having `else` easily spotted will be helpful.

[2022-03-02 14:21] ytmimi commented on #5249
@rustbot claim

[2022-03-02 14:36] ytmimi commented on #5249
Alright, I did some digging last night and have the PR to fix this mostly ready (just need to add some additional tests).

When you get a chance could you update the title of the issue to be **Unable to format chained method call with long generic argument list** or something along those lines. Just want to note that this issue is hitting a code path for `chains` and not function calls specificall

[2022-03-02 18:28] scottmcm commented on #4914
One thing I'll add to this, @nikomatsakis, is that I find myself writing that pretty often, but it doesn't actually compile.  It needs to be

[code]

So I keep wondering if we should make a language change to not require that final `;` (like we usually don't require them on other block-terminated production).

Or at least `;};` looks kinda weird to me, so I get tempted to write

[code]

But I thin

[2022-03-02 19:19] calebcartwright commented on #4914
Friendly reminder that this is the implementation tracking issue, and discussion around style rules should be directed towards the fmt-rfcs/style guide repo (specifically in the open PR https://github.com/rust-dev-tools/fmt-rfcs/pull/165)

[2022-03-05 07:55] dhardy opened #5254 "Option: format named macro usage with standard module/function/... formatter"
So, #8 says "format macros" (hard in general); #3445 suggests formatting macros using `{ .. }` braces as a `Block`; #2905 proposes formatting expression-like macros...

... general solutions are hard and probably require matching the macro by path (including crate of origin) ...

... can we get half-way there with per-project configuration?

### Example: widget

KAS (master) has a `widget!` macro

[2022-03-05 10:15] tommilligan commented on #4681
Cross linking #4991: required to be closed before `imports_granularity` is stabilised

[2022-03-05 12:34] Aloso commented on #4681
@davidBar-On is this issue fixed by #4716?

[2022-03-05 15:58] tommilligan commented on #4681
@Aloso this issue is still present in master - I just opened a fix in #5253 (there is a test added which reproduces the failure).

The fix from #4716 appears to be present in the rc2 branch but not in master, I guess it got lost in a merge somewhere.

There are more details in the description of #5253

[2022-03-05 19:06] calebcartwright commented on #5190
Going to close this out as I was remembered that whether or not the formatting goes vertically _is_ determined by the length of the elements in the array and whether or not they are all "short'. That threshold for what qualifies as "short" is currently a hardcoded internal option.

However, we're going to open that up on the public config surface (refs #5228) to allow users to control this aspect

[2022-03-05 19:06] #5190 closed

[2022-03-05 19:24] calebcartwright commented on #3445
Going to close this in an effort to consolidate duplicative threads.

The fundamental progress with this is that there's overlap between arg tokens that _can_ be parsed as valid Rust syntax but actually are not, and applying the valid-Rust formatting rules to them can, and has, actually been a problem when using other call delims, with the only viable resolution being to either switch to the brace

[2022-03-05 19:24] #3445 closed

[2022-03-05 19:58] calebcartwright commented on #2938
Thanks for sharing the idea and to all for the discussion, but I'm going to close as we don't intend on implementing this. Please note that if anyone feels sufficiently strongly about this feature you are certainly still welcome to contribute a PR which we'll absolutely consider. However, I don't want to continue having this in open state 3+ years on and in doing so imply that the rustfmt team wil

[2022-03-05 19:58] #2938 closed

[2022-03-05 20:01] calebcartwright commented on #2999
While I think this is an interesting idea, I'm going to close as it's not something the rustfmt will implement and I think it's a feature that's better served via a community crate.

If anyone does decide to implement as a crate feel free to post and we'll be happy to link out to it/reference from our docs. Also, similarly to #2938, anyone sufficiently motivated may certainly still submit a PR for

[2022-03-05 20:01] #2999 closed

[2022-03-05 20:04] calebcartwright commented on #5254
Thanks for opening this. Something similar has been proposed on at least a couple other threads (though I can't seem to find any them at the moment) and I've been meaning to pull that out into a more focused issue as this/some variant of this does seem like the most viable path forward.

Will dig back into the issue tracker to pull in some of the relevant discussion, but would like to use this iss

[2022-03-05 20:14] OJFord commented on #5190
Nice, thank you!

Sorry I didn't reply to your previous post. Just quickly - the link to me was that in black the trailing comma => multiline vertical formatting. In rustfmt, it is indeed a different topic, because it'll add/remove/not-change a trailing comma without implication for the horizantal vs. vertical formatting.

[2022-03-05 21:57] tommilligan commented on #4767
I think this is displaying expected behaviour. The relevant implementation states (emphasis mine):

- If the next item is a `use` [...] extract it and any subsequent items **that have the same item kind** to be reordered [...]

So in other words, it'll apply the `StdExternalCrate` formatting, but only to `use` statements that are consecutive. Your example shows this nicely: in your original exampl

[2022-03-06 17:23] #4791 closed

[2022-03-06 17:55] calebcartwright commented on #4681
Correct on the existence of the commit in different branches, but not quite on the cause, see #4801

[2022-03-07 08:35] thibault-martinez opened #5256 "`cargo +nightly fmt` crashes on unalocated pointer free"
Hello,

[code]

[code]

[code]

Let me know if you need anything else.

[2022-03-07 10:54] stephanemagnenat commented on #3995
Any update on that? Looking at the close issue above, it seems that the question is more at the level of the style guide rather than in the implementation of rustfmt, but nonetheless as a user I find it very annoying that different arms of match get formatted differently: this breaks symmetry and leads to less readable code IMHO.

[2022-03-07 18:41] ytmimi commented on #5256
Thanks for the report!

In order for this to be actionable we need a minimal complete and verifiable example. If you have the time could you try to provide us with the code snippet you're applying rustfmt on that's producing these errors. If it's a larger project a link to a GitHub repo that minimally illustrates the problem would also be useful!

Could you also run `cargo +nightly fmt --version`

[2022-03-07 19:27] thibault-martinez commented on #5256
Hi, thanks for the answer.

[code]

There is not backtrace, only the output I sent.
I will try to provide a reproducible example tomorrow.

[2022-03-08 12:38] nagisa opened #5257 "Format self types to a canonical form when possible"
[code]

all of these receivers have a more canonical form which ~everybody uses:

[code]

This kind of thing can come up if refactoring the receiver to no longer use one of the smart pointers, or perhaps somebody considers this syntax to be more consistent (which it is, but in a typical codebase which typically utilizes the conventional form it'll stick out as a sore thumb)

[2022-03-09 03:51] #5167 closed

[2022-03-09 14:02] appetrosyan commented on #4353
@calebcartwright Sorry to necrobump, but the mythical `rustfmt` version 2.0 seems not to be released as of March 2022. Is it possible to estimate how long is it going to finally release 2.0 to the public?

[2022-03-10 15:33] dhardy opened #5259 "import comment"

[2022-03-10 15:34] dhardy commented on #5259
Sorry, mis-click

[2022-03-10 15:34] #5259 closed

[2022-03-10 15:36] dhardy commented on #3720
I think this is the same bug:
[code]

[2022-03-11 08:41] PSeitz commented on #5250
I have a similar problem when addressing types. They get split over multiple lines and are not valid links anymore

[code]

[2022-03-11 10:07] PSeitz opened #5260 "wrap_comments can break up type links"
Similar to #5250, I have a problem when addressing types. They get split over multiple lines and are not valid links anymore in rust doc.

[code]

This is converted to:
[code]

[2022-03-11 18:07] ytmimi commented on #5260
Thanks for the report!

We fixed wrapping reference style links back in #5096. As a workaround for now you might consider rewriting the link as:
[code]

I Imagine we could take a similar approach to the one introduced in that PR and add another regular expression check for the `[bar][Bar]` and `[bar](Bar)` link syntax.

[2022-03-12 05:57] PSeitz commented on #5260
Thanks, but I'd like to hide the path to the type.
I created a PR to fix this issue

[2022-03-12 16:47] #4681 closed

[2022-03-14 13:02] kraktus commented on #5181
Such a feature would indeed be nice as a formatting option!

[2022-03-15 02:34] ytmimi commented on #5137
Hey @Veykril just wanted to let you know that I worked on an implementation for this in #5266, to allow providing rustfmt with a hint about what's being passed via stdin.

[2022-03-17 16:17] eminence commented on #3863
BTW, it would be very helpful if there was a mode or cli flags that I could use to identify lines that are too long for rustfmt.  I currently have a 100 line file that builds up a `clap::App` (and so it's ultimately all one big chain).   rustfmt can't format the entire file, but it doesn't give any indication about what line(s) need to be manually shortened.

[2022-03-17 16:32] calebcartwright commented on #3863
Discussed above (e.g. https://github.com/rust-lang/rustfmt/issues/3863#issuecomment-700441739) and in a few other threads, but you can turn on `error_on_line_overflow` and `error_on_unformatted` for this.

This is a topic that pops up frequently so I'll reiterate here that it's important to distinguish between what rustfmt does vs. what editor plugins do, especially since we have no influence/insi

[2022-03-17 17:24] calebcartwright commented on #3863
No worries! It's a rather long and fairly old thread at this point so just wanted to note there were some other posts that drilled deeper into the details since I was too lazy to fully recap :laughing:

[2022-03-17 21:35] joshtriplett opened #5269 "Import sorting does not handle uppercase/lowercase consistently"
This may be related to https://github.com/rust-lang/rustfmt/issues/4648 , but I don't know if it's the same issue.

rustfmt sorts imports, and braced groups within imports, in the following order:

[code]

This isn't alphabetical, ASCIIbetical, or any other sort order that I can identify.

The [style guide](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/items.md#ordering-of-imports)

[2022-03-17 21:44] ytmimi commented on #5269
Thanks for the report!

Confirming that I'm able to reproduce this on `rustfmt 1.4.38-nightly (b4de150d 2022-03-12)`. I'll try to set aside some time later to look a little deeper into this.

[2022-03-17 21:46] joshtriplett commented on #5269
@ytmimi Thank you!

[2022-03-17 22:33] ytmimi commented on #5269
I did some digging and I think the formatting you're seeing is caused by the implementation of `Ord` for `UseSegment`. As highlighted by the comment (line 776) we're trying to preserve the order based on `snake_case < CamelCase < UPPER_SNAKE_CASE`, before taking into account the `ASCIIbetical` order.

https://github.com/rust-lang/rustfmt/blob/1bb85bdf6b6dc0e205009b9f531a6220fe2031f9/src/imports.rs

[2022-03-17 22:51] ytmimi commented on #5269
It also looks like we're not doing an explicit "CamelCase" check, and that might explain why ``aA`` comes before ``aa``. I think when comparing that case we are checking the ascii order

[2022-03-18 00:18] calebcartwright commented on #5269
Acknowledge seeing this and share the initial reaction of puzzlement. Obviously any changes here, bug fix or otherwise, can have a wide blast radius of formatting changes, so we'll need to be extremely thorough and thoughtful.

The corresponding code hasn't been touched in a long time, so I'd also suggest going back through the original style guide issue to see if perhaps there were any discussion

[2022-03-18 02:23] digama0 commented on #5269
It looks like #1785 was the PR that introduced this change.

[2022-03-18 10:52] rise0chen opened #5270 "`#[rustfmt::skip::attributes(derive)]` not work."
[code]

It will merge `#derive(StructField)` and `#[derive(Clone)]` to `#derive(StructField, Clone)]`, when i run `cargo fmt`.

I don't want to merge `#derive(StructField)` and `#[derive(Clone)]`.

[2022-03-18 11:09] joshtriplett commented on #5269
@calebcartwright I do understand that rustfmt has to be cautious about introducing changes that will cause churn. If rustfmt were sorting in a plausible order that just disagreed with the style guide, I would absolutely suggest we keep that until an edition boundary or similar, to avoid churn. However, in this case, it *seems* like this is producing an unpredictable order that people can't easily

[2022-03-18 13:20] ytmimi commented on #5270
Thanks for the report!

Looks like the `#[rustfmt::skip::attributes(derive)]` isn't being honored when `merge_derives=true` is set. You might also consider setting `merge_derives=false`. Check out the config docs for [merge_derive](https://github.com/rust-lang/rustfmt/blob/master/Configurations.md#merge_derives)

[2022-03-18 16:43] calebcartwright commented on #5269
@joshtriplett - to be clear, I have not said nor am I implying that we do nothing. It deserves consideration and careful inspection, both to determine/confirm there's divergence from prescribed behavior and if so then when/how a fix/change would be rolled out.

I am stressing the need for caution and thoroughness, however, as there's been more than a few occasions where something seemed like an ob

[2022-03-19 11:40] Thomasdezeeuw opened #5272 "Rustfmt can't parse new where clause location (deprecated_where_clause_location)"
The syntax from the new feature/deprecation warning `deprecated_where_clause_location`, from https://github.com/rust-lang/rust/issues/89122, can't be parsed by rustfmt.

Error:

[code]

Related code: https://github.com/Thomasdezeeuw/heph/blob/31cd4dc9e3ed2ad3b45aaba427b4ae00660dc90f/src/bytes.rs#L381-L384

Old version (that worked):
https://github.com/Thomasdezeeuw/heph/blob/02cc9cf35134ff0a694e6b

[2022-03-19 13:31] ytmimi commented on #5272
Thanks for the report!

What version of rustfmt are you using? That might help us track down what's going on.

[2022-03-19 13:54] Thomasdezeeuw commented on #5272
I'm not sure actually, it happen in https://github.com/Thomasdezeeuw/heph/runs/5611134484, which ran today and updated using Rustup. So today's `x86_64-unknown-linux-gnu`?

[2022-03-19 14:06] ytmimi commented on #5272
After cloning the repo I can confirm that I'm able to reproduce the issue with `rustfmt 1.4.38-stable (9d1b2106 2022-02-23)`, but after installing the latest nightly version `rustfmt 1.4.38-nightly (1bfe40d1 2022-03-18)` the issue seems to go away.

That's likely the case because behind the scenes we're using the `rustc` parser, so older versions of the parser don't understand the updated syntax.

[2022-03-19 14:33] Thomasdezeeuw commented on #5272
That makes sense. So the current work around would be to switch to a nightly version of rustfmt and wait until rustc parse update makes it way to stable Rust. Good enough a solution for me.

[2022-03-19 14:33] #5272 closed

[2022-03-19 15:01] calebcartwright commented on #5272
Correct, generally speaking if you need a nightly toolchain for compilation, clippy, etc. then you'll likely need it for rustfmt too, especially for more bleeding edge features and syntax.

[2022-03-20 06:14] DianaNites opened #5273 "Const expressions break formatting"
stable

`rustc --version`: `rustc 1.59.0 (9d1b2106e 2022-02-23)`
`rustfmt --version`: `rustfmt 1.4.38-stable (9d1b210 2022-02-23)`

nightly

`rustc --version`: `rustc 1.61.0-nightly (8d60bf427 2022-03-19)`
`rustfmt --version`: `rustfmt 1.4.38-nightly (8d60bf4 2022-03-19)`

Current stable and nightly `rustfmt`s format the following code incorrectly

[code]

to

[code]

Or, with `normalize_comments

[2022-03-20 16:58] ytmimi commented on #5273
Thanks for the report!

looks like the `Span` we're using is off. A similar issue was seen with #5011, so I imagine the fix should be similar to that.

[2022-03-20 22:28] lilyball commented on #4779
@calebcartwright

Any update on this? It's been almost a year since that comment, and `version = "Two"` is still unstable so I can't use that.

[2022-03-21 02:39] #5273 closed

[2022-03-21 21:56] #5225 closed

[2022-03-21 21:56] #5270 closed

[2022-03-25 06:01] dnsco commented on #3243
[code]

[2022-03-25 13:59] ytmimi commented on #3243
@dnsco I think this comment does a good job of explaining things: https://github.com/rust-lang/rustfmt/pull/4139#issuecomment-955241071, and the tracking issue is for stabilization can be found at https://github.com/rust-lang/rustfmt/issues/3395.

To see if a given option is stable or not you can check [Configurations.md](https://github.com/rust-lang/rustfmt/blob/master/Configurations.md), and mor

[2022-03-25 19:30] ytmimi commented on #5136
@not-my-profile, I finally had some time to dig into this. I don't have answers for each of the points you brought up, but I can at least explain a few of them:

The `FmtVisitor`, which walks the ast,  keeps track of all the edits that it makes in an internal buffer. There's no code that pushes leading whitespace at the beginning of the file to this buffer so that's why we loose all leading whites

[2022-03-26 04:59] not-my-profile commented on #5136
Thanks for looking into this!

Yes, interestingly adding a newline results in the leading whitespace to be preserved:

[code]

[2022-03-27 06:43] dnsco commented on #3243
@ytmimi thank you.

[2022-03-27 22:16] ytmimi commented on #4933
@calebcartwright can we close this? I think it was fixed by the merged PR!

[2022-03-27 22:19] ytmimi commented on #4928
@calebcartwright can this be closed? I believe this was fixed by https://github.com/rust-lang/rustfmt/pull/5159.

[2022-03-27 23:57] calebcartwright commented on #4928
Indeed. Do you have access to close?

[2022-03-27 23:57] calebcartwright commented on #4933
Indeed, do you have access to close?

[2022-03-28 00:32] ytmimi commented on #4928
Yeah, I do. I just wanted to double check that it's okay that I go ahead and close it.

[2022-03-28 00:47] ytmimi commented on #4933
closing as this was fixed by #5096

[2022-03-28 00:47] #4933 closed

[2022-03-28 00:49] ytmimi commented on #4928
closing as this has been resolved by https://github.com/rust-lang/rustfmt/pull/5159.

[2022-03-28 00:49] #4928 closed

[2022-03-29 07:55] hellow554 opened #5279 "Trailing comma in enum or-pattern"
Imagine [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=71f70131a16583ba32e31da19fd77cb3):

[code]

The trailing comma after `| LongerName::Nine` is unnesscary and doesn't really fit into the pattern, although it doesn't create a syntax error.

IMHO that code shouldn't have trailing comma. What's your opinion?

[2022-03-29 11:56] ytmimi commented on #5279
Thanks for submitting the issue and for the PR!

[2022-03-29 13:58] ytmimi commented on #4791
@calebcartwright since you recently merged a fix for this can we update the label to `backport:complete`?

[2022-03-29 20:06] dtolnay opened #5281 "Rustfmt creates invalid syntax on extern block containing macro call"
[code]

Rustfmt loses the necessary `;` after *some* macro calls, which becomes invalid Rust syntax in the above input. The call `x!(x);` appears unaffected, regardless of the order of the two calls.

[code]

Self-contained repro as of current master (e0c7b7d5d30d5b47f9d6a9fd3c449fc610a330b9):

[code]

[2022-03-30 02:36] calebcartwright commented on #4791
Sure can!

[2022-03-30 03:14] calebcartwright commented on #5279
This behavior is correct so I'm going to close the PR but will leave the issue open for any follow up discussion. The formatting is dictated by the respective rules in the style guide and doesn't really have anything to do with an or pattern in this case.

Note the relevant rules for [enums](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/items.md#enums), [tuples and tuple structs](ht

[2022-03-30 03:20] #5281 closed

[2022-03-30 08:12] hellow554 commented on #5279
Hey @calebcartwright, thanks for your reply!

I see a few things here and let me try to convince you otherwise.

The whole point of a trailing comma (IMHO) is to make diffs and line swaps simpler.

w/o trailing:
[code]

w/ trailing:
[code]

And for or pattern inside of a match, we currently have this behavoir:
[code]

This is not avoidable because of `=>` which needs to be on the same line as the

[2022-03-30 19:21] CobaltCause commented on #4540
As of `rustfmt 1.4.38-stable (db9d1b2 2022-01-20)`, the formatting now appears to be respecting `max_width` and other settings. Not sure about `#![rustfmt::skip::attributes(derive)]` but I just tried that as a workaround so I think that'd be a separate issue anyway.

[2022-03-30 19:21] #4540 closed

[2022-03-30 19:31] ytmimi commented on #4540
@CobaltCause Thanks for the follow up. We recently merged a change that fixes the `#![rustfmt::skip::attributes(derive)]` issuer https://github.com/rust-lang/rustfmt/pull/5271. Just to clarify, are you saying that `#![rustfmt::skip::attributes(derive)]` helped?

If it didn't help then the fix should be available on the next release.

[2022-03-30 20:39] xxchan commented on #4091
For those who are watching this issue, the current status is that: The implementation in #5240
basically looks good. The next step is that we need to add more tests, and investigate how to integrate the logic into rustfmt.

But I'm a little bit busy these days, so I will try but cannot ensure to find some time recently to continue working on #5240. I'm OK if someone wants to join force and drive i

[2022-03-30 20:43] CobaltCause commented on #4540
Oh sorry, I should have said:

My original problem was that `rustfmt` wasn't respecting `max_width` in derives, but that part works now, which is why I closed the issue.

---

About `#![rustfmt::skip::attributes(derive)]`: with the same configuration posted in the first comment:

[code]
[code]
[code]
But also
[code]
So maybe this version just doesn't have the code from that PR?

[2022-03-30 21:29] ytmimi commented on #4540
Ahh that all makes sense. Thanks for clarifying! It seems that the fix hasn't been released yet, but the fix is available on the master branch if you want to install [rustfmt from source](https://github.com/rust-lang/rustfmt#installing-from-source).

[2022-03-30 21:59] CobaltCause commented on #4540
Ah okay cool. Also, no problem!

[2022-03-30 23:03] calebcartwright commented on #5279
You're conflating a number of things here that may seem subtle but which are fundamentally different constructs from an AST perspective. You're also still too focused on the pattern piece as opposed to the containing tuple which is where the relevant rules come into play.

Consider the scenario where the tuple for the `A` variant of your `Wrap` enum were modified to require another element:

[code

[2022-03-31 06:31] Aiden2207 opened #5283 "Rustfmt incorrectly adds whitespace inside multiline string literals within macro calls that have curly braces"
Code:
[code]
expected output:
[code]
actual output:
[code]
Rustfmt added an extra indentation to the literal, including inside the string itself. This only occurs when the macro invocation is delimited by curly brackets, it works fine when square or parentheses are used.

[2022-03-31 11:54] KarelPeeters opened #5284 "Lambda with long argument list should be formatted without indent_style="Visual""
I have a couple of lambdas with parameters with complex types, which take up a lot of space. This means rustfmt splits up the parameters over multiple lines, but it does so as if `indent_style="Visual"`. A simple reproducing example, on `1.4.38-nightly (2022-03-19 8d60bf4)` (the current rust playground formatter):

[code]

This is inconsistent with the rest of rustfmt formatting, and doesn't play

[2022-03-31 13:56] ytmimi commented on #5283
Thanks for the report! Confirming that I can reproduce this on `rustfmt 1.4.38-nightly (63acf900 2022-03-27)`

[2022-03-31 14:07] ytmimi commented on #5284
Thanks for the report.

I just want to point out that the rules that dictate how rustfmt is meant to work are laid out in the [style guide](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/guide.md). The relevant section on [closures](https://github.com/rust-dev-tools/fmt-rfcs/blob/9d50e2a08e8d4c085086333a2a95121c5754fdee/guide/expressions.md#closures), does seem to indicate that the f

[2022-03-31 15:50] ytmimi commented on #5284
confirming that on  `rustfmt 1.4.38-nightly (63acf900 2022-03-27)` given this input:

[code]

produces this output:

[code]

The `rustfmt.toml` used is the same as the one listed in the rustfmt repo:
[code]

[2022-04-02 00:00] #5215 closed

[2022-04-02 16:20] calebcartwright commented on #5284
Thank you for the report but let's go ahead and close this as a duplicate

[2022-04-02 16:20] #5284 closed

[2022-04-02 16:22] calebcartwright commented on #5279
Feel free to add additional comments if you'd like to continue the discussion, but going to close as I don't see any action to be taken (and if we do end up exploring a config option I think that'd be best served in a PR or separate issue more narrowly scoped to the config piece)

[2022-04-02 16:22] #5279 closed

[2022-04-03 23:25] AndrewKvalheim opened #5297 "Deleted comments in type aliases"
Some inline comments in type alias declarations are removed during formatting.

Steps to reproduce:

[code]

Expected output:

[code]

Actual output:

[code]

[2022-04-04 00:00] AndrewKvalheim commented on #4708
Is this the same as #3984?

[2022-04-04 13:28] ytmimi commented on #4708
@AndrewKvalheim it seems like they are the same. Thanks for pointing that out 😁

[2022-04-04 17:34] ytmimi commented on #5297
Thanks for the report!

It's likely that rustfmt isn't expecting to find a comment there, and isn't looking out for it when reformatting the code.

[2022-04-04 22:08] ytmimi commented on #5283
I'm pretty sure the error can be tracked down to `trim_left_preserve_layout` in this match arm:

https://github.com/rust-lang/rustfmt/blob/7d6ca7c35c275ab7a6a50d290babe874cb8e3fc7/src/macros.rs#L326-L334

[2022-04-04 22:28] ytmimi commented on #5297
The issue can be tracked down to the `Rewrite` impl for `ast::Ty`. Specifically we're looking at the array case:

https://github.com/rust-lang/rustfmt/blob/7d6ca7c35c275ab7a6a50d290babe874cb8e3fc7/src/types.rs#L805-L812

From what I can tell There's no straightforward way to fix this since we lose all Span information once we call `rewrite_pair`. However if #5296 gets merged we should have a much

[2022-04-06 07:50] georgettica opened #5300 "cargo installation shows `rustfmt` is deprecated"
after installing with cargo, the rustfmt shows it's deprecated
[code]

I want to use the rustfmt-nightly but it errors out
[code]

is that something that is planned to be fixed?

I am not using `rustup` as I installed cargo using `brew` (macos non M1 user)

please let me know how I can provide more input / close in favor of another card

[2022-04-06 13:38] ytmimi commented on #5300
Hey @georgettica seems like you were able to solve the issue on your own, which is great! Just want to double check the command you used in case this comes up again did you actually run `cargo fmt -- --force`? or did you run

[code]

[2022-04-06 15:09] georgettica commented on #5300
No, I wasn't able to install the nightly, but I was able to make devs be able use `cargo fmt`
This is on stable rustfmt

[2022-04-06 15:15] ytmimi commented on #5300
Since I'm using `rustup` to install various components like `rustfmt` i'm not as familiar with using `cargo install`. Appologies if I'm misunderstanding something. If you've got a moment could you describe the steps you took to fix the issue you were running into?

[2022-04-06 18:06] georgettica commented on #5300
so with cargo you:
[code]

I think it's also related to me not installing a cargo in a `nightly` fashion

[2022-04-07 00:28] calebcartwright commented on #5300
Thank you for reaching out but I am going to close as this is very much intentional.

We do not distribute rustfmt through crates.io anymore and haven't for quite some time. The `rustfmt` crate on crates.io is [quite explicitly deprecated](https://crates.io/crates/rustfmt). The `rustfmt-nightly` [crate](https://crates.io/crates/rustfmt-nightly) has been functionally deprecated for well over a year

[2022-04-07 00:28] #5300 closed

[2022-04-07 06:15] georgettica commented on #5300
Ok, I'll see if I can ask the macos community to add rustup to the installation so I can use it.

Thank you for the lengthy response!

[2022-04-07 22:25] calebcartwright commented on #5300
Sure thing! However, I'm not really sure what you think you need the mac community to do.

Rustup is already readily available and usable on your platform, just follow the aforementioned installation process. Are you trying to avoid downloading rustup as provided by the Rust/Rustup team?

[2022-04-08 03:57] georgettica commented on #5300
I am trying to install using a versioned and stable installation using brew (maybe that's why it prefers a `stable` release)

[2022-04-08 06:52] OfekShochat opened #5302 "conditionals in options"
hello! how about conditionals in options? for example:
[code]
this would complicate things quite a bit but its really robust.
probably wont be accepted but just as a note so that maybe a better structure would be made.
thanks!

[2022-04-08 09:10] shahn opened #5303 "rustfmt crashes inside ./x.py test"
I am trying to run the rustc tests, but rustfmt is crashing like given below. I am on macOS Monterey, XCode 13.3, on an M1 Macbook Pro.

[2022-04-08 13:15] ytmimi commented on #5302
Thanks for the suggestion! Could you elaborate on why you think this change would be robust? I'm also wondering if you could point to other projects in the rust ecosystem (or in general) that have this sort of a conditional configuration system. A few more details on your use case would also be help me better understand why you think this would be beneficial.

This would definitely complicate thin

[2022-04-08 14:18] OfekShochat commented on #5302
well it allows for a lot more configuration and less options that need to be done on your side (well, after its implemented).

yep

[2022-04-08 15:59] OfekShochat commented on #5302
My use case is like the above, only use One import granularity when import count > 5, Im not aware of any projects doing this unfortunately...

[2022-04-09 02:22] calebcartwright commented on #5303
I realize things can be somewhat muddy given the subtrees/modules, but when you encounter an issue working in the rust-lang/rust repository it's typically best to report the issue in that same repository.

We're not doing any work with raw pointers in rustfmt, so I'd assume this is actually surfacing up from the compiler internals of which rustfmt is a consumer.

I'm going to reach out to the infr

[2022-04-09 02:29] calebcartwright commented on #5302
Thanks for sharing your suggestion, but as you alluded to in the description this isn't something we're willing to consider so I'm going to close.

There's two core, large issues with the notion that prevent it from being viable:

- Trying to define a TOML and CLI compliant config-based DSL, and associated parser is way too much work and way too outside the scope of rustfmt; not to mention more co

[2022-04-09 02:29] #5302 closed

[2022-04-09 04:04] calebcartwright commented on #5303
Based on chat in Zulip I'm going to close as a functional dupe of https://github.com/rust-lang/rust/issues/92173.

Seems you should be able to work around this by enabling jemalloc in your local config.toml file

[2022-04-09 04:04] #5303 closed

[2022-04-09 04:17] ytmimi commented on #4420
Going to close this as it was fixed in #5091

[2022-04-09 04:17] #4420 closed

[2022-04-09 04:28] ytmimi commented on #3937
Going to close this as #5171 fixes the indentation for empty struct comments and #5091 fixes the `format_code_in_doc_comments=true` issue.

[2022-04-09 04:28] #3937 closed

[2022-04-09 04:31] OfekShochat commented on #5302
Ok thanks!

[2022-04-09 06:07] shahn commented on #5303
Thank you, and apologies if this was misfiled. I was under the (probably wrong) assumption that the way the crash happens in stage0 rustfmt that it was a precompiled rustfmt that crashes. None of the suggestions in https://github.com/rust-lang/rust/issues/92173 worked for me and it didn't describe rustfmt, therefore I opened an issue here.

[2022-04-09 07:39] Aunmag opened #5304 "Next release?"
There were no rustfmt updates since [Oct 23, 2021](https://github.com/rust-lang/rustfmt/releases/tag/v1.4.38). And I'm kind of worried is everything ok? How does it go?

P.S.: I'm sorry if this issue is not the right form for such a question.

[2022-04-10 13:44] pauschuu commented on #1322
What if I have something like this:
[code]

And I don't want to use `#[rustfmt::skip]` on every line?

Is there a way to also specify a multi-line skip like `#[rustfmt::skip_start]...<more lines>...#[rustfmt::skip_end]`?
Or would there be another solution that I am just missing here?

[2022-04-11 10:31] inikulin commented on #5303
I'm seeing the same issue with my codebase after upgrading the toolchain to 1.60 (even though rustfmt version hasn't changed). The issue disappears if I downgrade to 1.59. That makes me wonder if it's a rustc issue in disguise.

[2022-04-11 21:03] ytmimi commented on #4672
Just making a note that #4292 is the relevant backport PR, but #4213 is also related to comments and where clauses, and it might be nice to backport these together.

[2022-04-11 21:11] ytmimi commented on #4656
@calebcartwright as you mentioned you included this in the 1.4.33 release so I'm assuming this can be closed now

[2022-04-11 21:18] ytmimi commented on #4672
The issue also seems partially related to #4649, however #4649 also describes that comments are dropped between where clauses and function bodies.

[2022-04-11 22:46] #4767 closed

[2022-04-11 22:55] calebcartwright commented on #5304
It's fine to ask questions here but I'm going to close this. You've made an inference which is not entirely unreasonable, but which is also entirely incorrect. There's been countless (practically speaking) updates to rustfmt since October of last year.

rustfmt is primarily and officially distributed through rustup. That's all driven by the contents of source code, first in this repo where we do a

[2022-04-11 22:55] #5304 closed

[2022-04-11 23:22] calebcartwright commented on #4656
I still think a test case would be worthwhile, but sure; test case can be added independently of the open/closed status of this issue.

[2022-04-11 23:22] #4656 closed

[2022-04-12 00:45] ytmimi commented on #4656
@calebcartwright I think we've already got issue 4656 tests in the code base. Was there another test you had in mind? I can work to get a PR ready, I'm just not sure which test you had in mind.

[2022-04-12 01:17] ytmimi commented on #4573
I'm unable to reproduce this on `rustfmt 1.4.38-nightly (2d9bc460 2022-04-07)`. Also It's not totally clear to me which PR resolved this. @calebcartwright any recollection of a PR that adjusted how missing comment spans were joined? without digging to deeply into it I'd assume that's where the fix was. I'll open a PR with tests cases for this.

[2022-04-12 02:37] calebcartwright commented on #4573
I don't recall anything offhand, though it is getting a bit late in the day. Could you make sure you're testing locally with the same configuration settings that are used in the rust-lang/rust repo?

[2022-04-12 02:38] calebcartwright commented on #4656
Nope that works! Just bad memory on my part then :sweat_smile:

[2022-04-13 14:34] Stargateur opened #5308 "Add optionto put a space after ! (not operator)"
I would like to be able to have space after not operator:

[code]

Currently rustfmt remove the space and there is no option (AFAIK) to control this specific behavior:

[code]

I want to try out this style to see if the not operator more readable like this.

[2022-04-13 15:09] ytmimi commented on #5308
Thanks for your suggestion.

However, rustfmt is implemented to follow the [Rust Style Guide](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/guide.md). The guide is pretty clear that we shouldn't add a space between any unary operator and the operand and even uses the `!` operator as an example. [Here's](https://github.com/rust-dev-tools/fmt-rfcs/blob/9d50e2a08e8d4c085086333a2a95121c

[2022-04-13 15:14] Stargateur commented on #5308
I never say the default should be this, I asked for an option like the one listed in https://rust-lang.github.io/rustfmt so the rust style guideline is irrelevant.

[2022-04-13 15:29] ytmimi commented on #5308
I strongly disagree with that last assertion. I brought up the style guide just in case you weren't aware of it. You're correct that there are some formatting options, but those are typically for things that are more contentious. Your ask directly contradicts what's listed in the style guide.

The rustfmt team would certainly consider and review a PR for this, but it's unlikely that we'll work on

[2022-04-13 18:17] ytmimi commented on #5308
If you're interested in implementing this then I'd start by checking out the [configuration section of the Contributing Guide](https://github.com/rust-lang/rustfmt/blob/master/Contributing.md#configuration) and I'm assuming the relevant code that needs to be tweaked can be found here  https://github.com/rust-lang/rustfmt/blob/4f3f87fb9a629db8bf0c6e04604320cd028f79e8/src/expr.rs#L1844-L1852

[2022-04-14 02:15] calebcartwright commented on #5308
@Stargateur thank you for sharing your idea along with the motivation and backing context.

To respond directly: I won't say "absolutely not", but I wouldn't be keen on adding such an option. To connect some dots that may not have been clear earlier and elaborate on why that's the case:

@ytmimi was correct earlier: The Rust Style Guide is always relevant in all contexts, unequivocally. rustfmt ex

[2022-04-14 09:48] Alexendoo opened #5309 "Blank line left between outer attribute and input"
Would be nice to help catch a mistake I just made 😄, as with the blank line it's easily confused for an inner attribute

Input:

[code]

Output:

[code]

Desired output:

[code]

[2022-04-14 11:32] Stargateur commented on #5308
I'm French and bad at writing expression on top of that, I may use the wrong word. I just open an issue about adding a feature. I don't understand is there better way to propose feature to rustfmt ? I didn't expect receive such pressure.

It's unclear I though it was the contrary, even the readme state "Rustfmt is designed to be very configurable.".

I don't think it's reasonable, I don't have one

[2022-04-14 13:46] ytmimi commented on #5309
Thanks for the report!

Confirming that I can reproduce this on `rustfmt 1.4.38-nightly (2d9bc460 2022-04-07)`

Another interesting snippet is this one:
[code]

Which gets formatted to:

[code]

So it looks like rustfmt will remove some additional newlines, but not all of them.

[2022-04-14 16:37] PurpleMyst opened #5310 "Lines containing overly long strings are not formatted correctly"
As per the title, lines containing overly long strings are "left alone" and not formatted correctly.

Observing [this rust playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8907e590eb406b2b5fa6c14612875708) and pressing the `rustfmt` button, line 3 is correctly collapsed while line 4 keeps the weird spacing.

I believe that this should not be the case: Even if th

[2022-04-14 16:47] calebcartwright commented on #5310
Thanks for reaching out but closing as a duplicate of #3863

[2022-04-14 16:54] calebcartwright commented on #5308
Understood, and no worries! If we've said anything that's unclear or confusing, please don't hesitate to ask for clarification, and similarly if you feel like we may have misunderstood your intent.

I'm not sure I understand what you mean. You've asked for a feature, and we've given you the answer of "no, at least not yet" and then also explained why that's the answer. It seems like you may be ope

[2022-04-14 17:30] PurpleMyst commented on #5310
Ah, sorry about that. The discussion on that issue is surprisingly comprehensive! Sad to see it's been an issue since 2019 however.

[2022-04-14 20:58] sloganking commented on #5162
For any future readers of this issue, I've decided to build a third party tool that can enable support for this by running it after traditional code formatters (such as rustfmt). It implements this issue's desired formatting behavior, with the exception of preserving ``max_width``. In order to guarantee ``max_width`` traditional code formatters would need to add structured commenting support thems

[2022-04-15 06:55] davidlattimore commented on #4991
I sent a PR to make rustfmt preserve comments during flattening when they're on the line before a leaf node, or on the same line as a leaf node. e.g.

[code]

If import_granularity=Item, then we'll get:

[code]

What I'm less sure about, is what to do when flattening and there's a comment before a non-leaf node. e.g.

[code]

One easy option is to not flatten non-leaf nodes that have comments, the

[2022-04-15 07:03] Xuanwo commented on #4991
Seems reasonable to me.

Not bad to me, though.

Converting from

[code]

to

[code]

[2022-04-15 08:06] evilenzo opened #5312 "Add `max_preserved_empty_lines` option"
By default, rustfmt force deletes any empty lines, ignoring any user choices. For example,

This:
[code]

Force becomes this:

[code]

This is quite annoying, especially when formatter is configured to run on save (especially in IDE with autosave like CLion).
What I propose is option `max_preserved_empty_lines`

## `max_preserved_empty_lines`

Max number of blank lines to preserve.

- **Default va

[2022-04-15 18:31] Sytten commented on #3008
This is a very old issue, but I started seeing this problem in tests folders (when using a `lib.rs`) when the line ending is mixed-up.
I will investigate, but it basically fails silently.

[2022-04-15 19:03] Sytten commented on #3863
Ha I have this exact problem and I was pulling my hair out trying to figure out what was going on.
Is there any plan to fix that or any clear work around that would allow long strings without spaces?

[2022-04-16 03:39] ZelCloud opened #5313 "Extend config option similar to package.json prettier field"
**Request**

Could we get a field to specify a rustfmt.toml configuration either within cargo.toml or rustfmt.toml

example:
[code]

**Rational**

I'm working on multiple backend micro-services in rust. In every single repo I'd like to have the exact same styling / formatting. Currently I'm copying over the rustfmt.toml file to each repo and if there's a configuration change I or someone else on m

[2022-04-16 17:14] calebcartwright commented on #5312
Thanks for reaching out but I'm going to close this.

Whether or not you choose to utilize an editor plugin's format-on-save behavior is really up to you and orthogonal to rustfmt. If you choose to utilize rustfmt, your subject to the formatting rules it applies based on the [Rust Style Guide]() and any configuration options you elect to modify.

Given the description above, I'd encourage you to c

[2022-04-16 17:14] #5312 closed

[2022-04-16 17:32] calebcartwright commented on #5313
Thanks for reaching out, though to be honest there's far too much going on in the issue description to really be able to have any focused discussions.

If I understand you correctly, your desired outcome is the ability to have some kind of shared or centralized configuration specification. What becomes increasingly unclear though is whether the approaches you enumerated are proposed solutions for

[2022-04-16 21:44] ZelCloud commented on #5313
I'm sorry if this seemed to broad, I'll try to narrow it down into more specifics in the following paragraphs.

Those were just general proposed suggestions for an outcome.  I'll explain the feature request in the next block.

That's fine I don't think its needed for rustfmt itself to fetch any files, For my needs just having a field like:

[code]

This actually seems fine to me, and I don't think

[2022-04-16 22:02] calebcartwright commented on #5313
Thanks for confirming, but what I said previously still holds and remains unanswered :point_down:

And that :point_up: can't just be solved with an abstract "{{project-crates}}" token.

There's a lot of differences in the way cargo and npm manage dependencies, and the crate-based proposal is a hack in the sense that's just being used as a piggyback way to get the file onto the system as part of th

[2022-04-16 23:14] ZelCloud commented on #5313
I didn't mean for the {{project-crates}} to be a token for rustfmt to use, I was using it as a placeholder for the example project and the path to where the crates are located.

example structure
[code]

[code]

No token substitution or rustfmt trying to figure out anything on its own. We explicitly put the path from root to the toml file where ever it ends up being located in.

[2022-04-17 00:01] calebcartwright commented on #5313
Please feel free to correct me, but I'm pretty sure that sources for external crates don't get copied into the project target directories. I.e. your target/deps/my-config/... isn't going to exist. Your target directory will contain compilation output, not source input.

I'd like to avoid repeating things already said above for the sake of not making this thread any longer, but this remains the cru

[2022-04-17 00:08] ZelCloud commented on #5313
I was mistaken then, feel free to close the issue.

[2022-04-17 00:45] calebcartwright commented on #5313
No worries! I'll leave it open for a bit on the off chance someone can come up with something, as it would be a nifty feature.

For anyone looking to dig into this, the bundled toml config file with the crate would typically (though certainly not always) be somewhere like `~/.cargo/registry/src/github.com-gobeltygook`/your-crate-name-majorversion-minorversion-patchversion/shared-rustfmt-config.tom

[2022-04-17 14:28] #5030 closed

[2022-04-17 22:58] sloganking opened #5315 "error[internal]: left behind trailing whitespace"
rustfmt fails to format with error message ``error[internal]: left behind trailing whitespace`` when a ``space`` character comes after assignment operator, and what's being assigned is a multi-line string on the next line.

![](https://i.imgur.com/V1wFlPS.png)

**Happens with cargo version:** ``1.60.0``

**Code this happens with:**
https://github.com/sloganking/Structured-commenting-formatter/tree

[2022-04-18 13:13] ytmimi commented on #5315
Thanks for the report.

The issue that you're running into here is that line 18 is longer than the default max width of 100. rustfmt fails to format the multiline string because of this, which leads to the assignment not being rewritten and because rustfmt doesn't rewrite the assignment it also doesn't remove the trailing whitespace from the input text.

The error message indicates that the input

[2022-04-19 12:23] 0xangelo commented on #5116
This is precisely what I was looking for. It would be an amazing feature for sure! Is there anyone working on this already? I'd be willing to help; does anyone have tips on where to get started?

[2022-04-19 13:43] ytmimi commented on #5116
Hey @0xangelo thanks for your interest in this! I don't believe anyone is working on this so you can comment `@rustbot claim` to assign yourself to this issue.

What I think you'll need to do is sort the `params` before calling `overflow::rewrite_with_angle_brackets`

https://github.com/rust-lang/rustfmt/blob/a37d3ab0e1c7c05f1a6410fb7ddf5539f0d030f8/src/items.rs#L2711-L2726

[2022-04-19 21:29] 0xangelo commented on #5116
Cool! I'll see if I can get started on it this weekend
@rustbot claim

[2022-04-19 21:52] ytmimi commented on #5116
@0xangelo one thing that's going to make this a little tricky to implement is reordering comments when you reorder the generics. This is also an issue we still have when reordering imports. I'm not sure if we'd need to retain comments for the feature to be introduced as unstable, but we'd certainly need to worry about comment reordering if we were to stabilize the option.

[2022-04-20 10:10] WaffleLapkin opened #5316 "`for<>` is erased from macro calls"
Given this input:
[code]
rustfmt produces the following output:
[code]
Which is incorrect since macros can depend on the `for<...>`. [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e264afbdb99dcbcc04ceccfe24681154)

[2022-04-20 10:20] WaffleLapkin opened #5317 "`/// ///` confuses rustfmt into a crush"
The following code crushes `rustfmt` with the format code in documentation comments option:
[code]
[code]

[2022-04-20 13:20] ytmimi commented on #5317
Thanks for the report!

I'm going to close this as I believe this is a duplicate of both #5234 and #4793, and the issue is the empty code block.

[2022-04-20 13:20] #5317 closed

[2022-04-20 13:24] ytmimi commented on #5316
Thanks for the report!

Seems like this could be related to #4631 as both deal with dropping tokens in macro calls.

[2022-04-21 22:24] ytmimi commented on #5316
Doing some testing and it seems like #5301 will fix some of the examples you outlined, but the first case `a!(for<> A);` is still an issue even after testing this snippet on that branch.

[2022-04-24 01:54] matthiaskrgr opened #5318 "slow execution on nexted closures"
[code]
this file took more than 4 hours (it's still running) to `--check` on my system.

[2022-04-24 04:44] calebcartwright commented on #5318
That seems like a fairly pathological input, but for what it's worth this has already been addressed in source (takes ~20 seconds on the machine I'm on at the moment, and it has some very old and weak specs).

There's some paths that have existed historically in rustfmt that can hit some unfortunately exponential runtimes in exceptionally nested expression cases, though that was also something tha

[2022-04-24 04:44] #5318 closed

[2022-04-24 14:09] clarfonthey opened #5319 "Formatting removes comments within braces of imports"
Minimal example: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=942d0b7867cbdf3c09ff7d639a41719c

[code]

Rustfmt will turn this into:

[code]

And completely discard the commented-out `HashMap`. Similarly, this will also remove all comments within the braces for imports, regardless of whether they include valid imports.

[2022-04-24 15:21] ytmimi commented on #5319
Thanks for the report!

This is actually a duplicate of #4708 and #3984. This issue was fixed in another branch and we're waiting for #5290 to be merged so we can backport that fix. I've gone ahead and tested your code snippet on the #5290 branch and the comments are left in place 😄

Since this is a duplicate I'm going to go ahead and close the issue. Thanks again for taking the time to bring this

[2022-04-24 15:21] #5319 closed

[2022-04-24 15:33] clarfonthey commented on #5319
Looks like I didn't search hard enough. ><

Thank you!

[2022-04-24 16:26] ytmimi opened #5320 "rustfmt removes comment between doc comment and generic params"
This was an issue discovered when implementing a fix for #5122 in PR https://github.com/rust-lang/rustfmt/pull/5124#issuecomment-1030806191. The issue is reproducible on `rustfmt 1.4.38-nightly (8572b343 2022-04-24)` and uses the `rustfmt.toml` defined in the rustfmt repo.

[code]

This input:

[code]

Gets formatted as follows:

[code]

[2022-04-24 16:26] zmill opened #5321 "Supertrait bounds sometimes exceed `max_width` after formatting"
Given the following `src/lib.rs`:

[code]

`rustfmt` produces:

[code]

The line lengths for the supertrait bounds before formatting were

- `AllTheOthers1`: 104
- `AllTheOthers2`: 105
- `AllTheOthers3`: 100
- `AllTheOthers4`: 101

As expected, `rustfmt` reformatted the `AllTheOthers2` and `AllTheOthers4` supertraits, but it left the `AllTheOthers1` supertraits as-is at 104 characters.

This seems

[2022-04-24 16:43] ytmimi commented on #5320
#5215 deals with a similar issue for struct fields, and I imagine the approach to fixing the issue for the generic parameters would be the same.

[2022-04-24 18:55] julianlalu opened #5322 "Format static [u64; 256] is incorrect"
When using cargo fmt on a file containing the following static slice
[code]
Each value wraps to a new line, this is not a readable format
[code]
Behaviour is correct for u32 slice.
[code]

[2022-04-24 19:16] calebcartwright commented on #5322
Thanks for sharing, but this is correct so I'm going to close.

Whether or not the elements get wrapped or unwrapped from a vertical layout is dependent upon the length of the elements. The exact value of that threshold was previously a private/internal configuration option, but the next release of rustfmt will include an option that can be used to control this value.

https://rust-lang.github.io/

[2022-04-24 19:16] #5322 closed

[2022-04-24 19:19] calebcartwright commented on #5321
Thanks for the report!

[2022-04-24 19:20] calebcartwright commented on #5320
Thanks for capturing this so we don't lose track!

[2022-04-24 19:49] ytmimi commented on #5320
Just a happy coincidence that I came across this as I was making changes to #5305, and peeking into various issues / PRs to see if I could reword any of the CHANGELOG entries.

[2022-04-25 07:59] julianlalu commented on #5322
This is a good news, I'm waiting for the next release :)
Thank you

[2022-04-25 22:03] repi opened #5323 "`reorder_impl_items` adds empty line between single-line macros"
We have some macros that we use inside `impl` statements that look like this:

[code]

that when formatting with `reorder_impl_items=true` gets rearranged to have a new empty line between them:

[code]

Which is a bit more verbose. Should/could this option skip macros inside impl statements or maybe specifically skip single-line macros? That would be nice!

Not sure how how common this pattern is

[2022-04-25 22:24] ytmimi commented on #5323
Thanks for the report. Confirming I can reproduce this on `rustfmt 1.4.38-nightly (8572b343 2022-04-24)`. Just a quick glance through the issue tracker, it seems #4882 has the opposite problem. Might have something to do with `const` items as apposed to macros, but I'm not totally sure.

[2022-04-25 22:51] ytmimi commented on #5323
Was able to track this down to `needs_empty_line`. This explains why `consts` don't keep their spacing and why extra spacing gets added in your case.
https://github.com/rust-lang/rustfmt/blob/a37d3ab0e1c7c05f1a6410fb7ddf5539f0d030f8/src/items.rs#L597-L605

It feels to me like the best way to solve this would be to introduce a new option to control the line spacing of items in impl block.

[2022-04-25 22:58] repi commented on #5323
Nice. So maybe option then for setting if macros (or functions) and maybe all the other types should have empty line between them? Functions do get that with this also, which I think most do prefer but could be configurable as well.

[2022-04-26 18:34] XrXr opened #5324 "outer macro skip attribute on out-of-line module ignored; can't use inner attribute"
I have a macro the invocation of which I want rustfmt to skip. Since the macro expands to top level items, I tried to use `#![rustfmt::skip::macros(items)]` at the module level to do this. That unfortunately breaks compilation because [custom inner attributes are unstable](https://github.com/rust-lang/rust/issues/54726). The next thing I tried is to put the attribute on top of the `mod my_mod;` it

[2022-04-26 19:07] calebcartwright commented on #5324
Thanks for reaching out. You've ventured into a lot of topics, most of which are not actionable, but I've tried to respond to them all anyway.

Have you considered simply using brace delimiters? by design, rustfmt is nearly entirely hands-off by default on calls that use those, and it seems like the path of least resistance for you (e.g. `items! { ... }`)

I would be fine with augmenting that text

[2022-04-27 07:33] AurevoirXavier commented on #3363
What you expect is a `sort`.
I like the current implementation, which good for code review.

[2022-04-27 07:42] AurevoirXavier commented on #3353
It looks like no more block.

[2022-04-27 14:01] ytmimi commented on #5323
I think it would be great if we could independently control the spacing for all [ast::AssocItemKind](https://doc.rust-lang.org/stable/nightly-rustc/rustc_ast/ast/enum.AssocItemKind.html#) variants. I have some ideas for what that option might look like. I'll try to set aside some time this weekend to work on it!

[2022-04-27 14:36] calebcartwright commented on #5323
I'd like to suggest some caution here. Trying to maintain/manipulate blank lines relative to items that are getting moved around isn't something I'd be terribly keen on trying to implement nor maintain.

We already have other options relative to minimum/maximum spacing that should be applicable in this context, but those have their own outstanding implementation issues and bugs. Before seriously c

[2022-04-27 14:52] XrXr commented on #5324
Thanks for the response and thanks for parsing my confusing story! Using braces works for me. I've changed the title to hopefully make it more searchable and more focused on the actionable part of the issue.

[2022-04-28 00:06] calebcartwright commented on #5324
Thanks, glad the brace delims are working for you! I made a minor adjustment to the title as well to add more clarity.

@tommilligan - noticed you've sent a few PRs of late, and while I'm not sure if you have the bandwidth or interest in working on anything else, was curious if this is something you'd be willing to try to tackle? :point_down:

[2022-04-28 00:35] calebcartwright commented on #5323
Also to be clear, I'm not saying "no"; just want to talk it out a bit before we invest in developing something

[2022-04-28 06:29] tommilligan commented on #5324
I'd be open to writing up an initial implementation of something, it might take a little while though. To clarify the requirements:

- As a `rustfmt` user, I would like to specify a list of macros that are not formatted by `rustfmt`. i.e. these macros are skipped in all code.
  - Skipping formatting means that anything within the enclosing braces/brackets/parentheses of the macro invocation is not

[2022-04-29 02:16] ytmimi commented on #5323
@calebcartwright I hear you! I think I quickly found where we'd need to make changes to try to implement custom spacing between items and at that point the gears started turning on how we might go about it. Admittedly, I started brainstorming ideas before exploring the other spacing options that we already have so I'll be sure to take a look at them before workin on any implementation of a new fea

[2022-04-30 14:15] repi commented on #4991
Did a reformatting of a fairly large Rust code base (~200k LoC, 767 source files, 60 crates) with `imports_granularity=item` to reduce git merge conflicts on import changes, and happy to report that with latest rustfmt (used https://github.com/rust-lang/rustfmt/commit/a37d3ab0e1c7c05f1a6410fb7ddf5539f0d030f8) that worked without any problems whatsoever. 🎉

Looking for to latest rustfmt here (with

[2022-05-02 07:44] LollipopFt opened #5328 "rustfmt not working"
![image](https://user-images.githubusercontent.com/62802897/166201086-eddc1cd6-5d3c-4494-8314-cdf29dbbcbff.png)
hi, rustfmt does not seem to be working for the past few days. the long string should have been brought down but was not.
version: `rustfmt 1.4.38-stable (7737e0b5 2022-04-04)`
info:
[code]
using windows.

[2022-05-02 08:38] #5328 closed

[2022-05-03 08:52] Baezon opened #5329 "Inconsistent comment wrapping"
Using the rust playground and default rustfmt settings (version 1.4.38-nightly (2022-05-02 bed05e9)) this:
[code]

gets reformatted into this:
[code]

And there is no clear reason I can see why this would be reformatted in this way. For reference, the position after the semicolon is column 81, so it's within the default `max_width`. It *is* just past the default `comment_width`, even though `wrap_

[2022-05-03 13:15] nab-os commented on #3379
Hi, is there any reason why this feature is still considered unstable ?
I can't find any opened issue mentioning it.

[2022-05-03 13:21] ytmimi commented on #5329
Thanks for the report!

I can confirm that I'm able to reproduce the issue on [the playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b04972b7f8b614059cd5c140e2e081d0).

Testing locally I wasn't able to reproduce the issue using the current master `rustfmt 1.4.38-nightly (b26c86b5 2022-04-30)`, which lead me to investigate non default configs used by the rustfmt `r

[2022-05-03 13:23] ytmimi commented on #5329
@calebcartwright should the `version=One` trailing comment placement be updated to be consistent with the `version=Two` formatting?

[2022-05-05 03:32] calebcartwright commented on #5324
Fantastic and certainly no rush. Agreed that the outline looks good, and @ytmimi has also provided some good code hints.

[2022-05-05 18:34] aviramha opened #5332 "rustfmt doesn't work when using unstable feature bindeps"
I started using the new feature [bindeps](https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#artifact-dependencies) but can't get `cargo fmt` to run afterwards, complaining that cargo metadata failed. I tried running `cargo fmt -Z bindeps` but that doesn't seem to work.

rust fmt version:
`rustfmt 1.4.38-nightly (69a5d248 2022-04-27)`

error:
[code]

Reproducing:
Add to any cargo.toml

[2022-05-05 18:41] calebcartwright commented on #5332
I appreciate you reaching out, but short abstract descriptions like in your original post aren't exactly actionable.

At a minimum, please provide a minimal reproducible example, include any errors/failures you are seeing, share what version of rustfmt you are using (`rustfmt --version` or `cargo fmt --version`), etc.

[2022-05-05 19:09] aviramha commented on #5332
@calebcartwright Sorry! Thanks for being so polite, absolutely my bad. Updated the issue!

[2022-05-06 07:28] SUPERCILEX opened #5333 "rustfmt doesn't understand if let chains"
See https://github.com/rust-lang/rust/issues/53667, they might be stabilized soon. Currently, rustfmt refuses to make any changes to an if let statement and its contents, silently letting code go unformatted.

[2022-05-06 09:02] JakeHillion opened #5334 "rewriting chains fails if one line fails to wrap"
Consider the following example (using clap, as it's one of the easiest builders to demonstrate with):

[code]

rustfmt does nothing (tested on current playground, 1.4.38-nightly (2022-05-05 30f3860)).

Whereas the following example, without the exceedingly long string:

[code]

Formats to the following (what I would expect):

[code]

It seems like rustfmt gives up on the entire statement if any pa

[2022-05-06 11:15] ytmimi commented on #5334
Thanks for the report!

This is a known issue and is a duplicate of #3416, and #3863

[2022-05-06 11:15] #5334 closed

[2022-05-06 12:27] ytmimi commented on #5333
Thanks for the report.

This is related to #5177, and the PR that adds this support (#5203) is intentionally on hold. I don't know if I can articulate it any better than https://github.com/rust-lang/rust/pull/95262#issuecomment-1077692898 and https://github.com/rust-lang/rustfmt/pull/5203#issuecomment-1035843143.

To summarize, there are still some unanswered questions around `let-chain` formattin

[2022-05-06 15:55] #5333 closed

[2022-05-06 15:57] calebcartwright commented on #5332
No worries, and thanks for the additional detail. Have a theory but would you mind doing me a favor and updating your toolchain to the latest nightly and then running the following:

[code]

[2022-05-06 16:09] aviramha commented on #5332
Updated to nightly (cargo 1.62.0-nightly (a44758ac8 2022-05-04))

[code]

[2022-05-06 18:21] calebcartwright commented on #5332
Thanks, one last request, can you run the same command but add the `--all-features` opt, and then share the contents of the Cargo.toml file?

[2022-05-06 19:04] aviramha commented on #5332
Same output..
[code]

[2022-05-06 19:58] calebcartwright commented on #5332
I expected as much but thanks for confirming! I need to check with the cargo team to figure out the best foot forward.

For a little more background, we own/maintain the `cargo fmt` subcommand, but it's essentially just a simple `rustfmt ...` command builder to make it easier for users to format their entire workspace/crate/package/etc. (analogous to `cargo build` being much more user-friendly tha

[2022-05-06 20:35] calebcartwright commented on #5332
Pretty solid suggestion from them is to utilize the cargo config file to set this so that all commands, including the one we issue, will pick it up automatically:

[code]

There's a couple of options we could take on our end to avoid needing that, but would rather not have to go down those routes without good reason. Give the above a try whenever you get a chance and let us know if it works for yo

[2022-05-06 21:12] SUPERCILEX commented on #5333
Thanks for the explanation!

[2022-05-07 06:06] aviramha commented on #5332
Awesome! That worked. tbh I tried to do it before your suggestion but somehow it didn't work - maybe I didn't set the flag right..
Thanks ;)

[2022-05-07 18:26] feds01 opened #5336 "rustfmt reports `left behind trailing whitespace`"
In the following code snippet that has been extracted from a bigger project:

[code]

`rustfmt` reports that there are left behind trailing whitespace:

[code]

Removing the empty spaces from the `match` block results in `rustfmt` to report that the sources have been successfully formatted but it looking at the diff it seems that nothing changes.

## Reproducing:
- Use above code snippet
- Use `ca

[2022-05-07 22:28] calebcartwright commented on #5332
Great, glad to hear! Going to go ahead and close accordingly

[2022-05-07 22:28] #5332 closed

[2022-05-07 22:38] calebcartwright commented on #5336
Thanks for reaching out but I'm going to close as this is a combination of duplicate reports discussed elsewhere (e.g. #8, #3863, etc.).

rustfmt can't handle your `x` macro call (as it can't be parsed and formatted as a typical AST construct), so it in turn leaves the call alone. You've written that call in a long single line which exceeds the max width limits, and that then bubbles up because it

[2022-05-07 22:38] #5336 closed

[2022-05-08 17:55] #4573 closed

[2022-05-08 17:57] calebcartwright commented on #4573
Closed as this does appear to be sorted, but please let us know if you see a recurrence @RalfJung

[2022-05-08 18:22] #5260 closed

[2022-05-10 19:04] ytmimi commented on #5188
Going to close this as #5207 addressed this issue

[2022-05-10 19:04] #5188 closed

[2022-05-11 12:28] gigaroby opened #5340 "Formatting instability with --file-lines"
At work we've been using --file-lines and we just ran into what we think is a bug. Take for example a snippet like (simplified and does not compile):

[code]

The only change we make to this snippet is to add the foobar_support_path argument and so the version control system generates a --file-lines covering that line only: `rustfmt --config-path /tmp/rustfmt.toml --unstable-features --file-lines

[2022-05-11 14:21] ytmimi commented on #5340
Thanks for the report!

Confirming that I'm able to reproduce the behavior on `rustfmt 1.4.38-nightly (17003ce6 2022-05-09)`. I only see changes when setting the range to `[2,4]`, but not when setting the range to `[3,4]` or `[4,4]`. I've tested out some different inputs and I think the reason for the behavior is that the closure starts on line 2, so in order to be able to format those lines the e

[2022-05-12 20:11] Wilfred commented on #4485
I bumped into this recently, and I found two ways to format a single file:

[code]

[2022-05-12 20:27] ytmimi commented on #4621
I spent a little bit of time looking into this. The issue can be tracked down to `types::rewrite_generic_args` because we don't handle the case where the `ast::GenericArgs::AngleBracketed` args are empty. The current behavior just falls back to returning an empty string.

https://github.com/rust-lang/rustfmt/blob/17003ce66b5737a71d0a08832995dc11df497ee2/src/types.rs#L468-L501

[2022-05-12 20:40] ytmimi commented on #4483
This can likely be closed when we backport #5289

[2022-05-13 00:24] calebcartwright commented on #4483
Perhaps, but likely depends on the outcome of outstanding discussion in #3376

We were originally carrying on with applying the existing options in additional contexts on the 2.x branch, but after some reflection I really don't think that's the right way to go. We _will_ support a brace style option on the const block expressions, but how/under which config option(s) remains an open question

[2022-05-13 00:29] calebcartwright commented on #3299
`brace_style` as currently intended is only applicable in item contexts. We'd started going down the path of extending it to apply in certain expression contexts, but after some reflection think we need to take a different path in the config option surface in order to provide sufficient control and flexibility.

Closing this accordingly, but feel free to subscribe to #3376 for updates on when/how

[2022-05-13 00:29] #3299 closed

[2022-05-13 00:32] calebcartwright commented on #3376
Guess I'd missed this, but no, it has no impact. Even stabilized options can be renamed, provided we can do so without running into name conflicts with other options, as we can do such renames in a non-breaking manner.

Obviously unstable options can be renamed or even removed as necessary.

[2022-05-13 02:53] ytmimi commented on #4483
Got it. Thanks for giving me some more context on this

[2022-05-15 04:40] LoganDark commented on #5103
The license header is part of the formatting of a file. I don't see how this is out of rust**fmt**'s scope. Using rust**fmt** to ensure that all the license headers are present and up-to-date doesn't sound like such a bad idea.

[2022-05-15 04:44] LoganDark commented on #2168
This is a blocker for me, preventing me from using rustfmt. I'm not sure if the official opinion in this has changed sometime in the last 5 years, but there is still no option for this so I'm just going to assume rustfmt intentionally does not support my code style.

[2022-05-17 22:26] calebcartwright commented on #4991
I'll also add that I do view folks sharing their experience to be helpful feedback for us, e.g. https://github.com/rust-lang/rustfmt/issues/4991#issuecomment-1046885320 and https://github.com/rust-lang/rustfmt/issues/4991#issuecomment-1113996096

That level of direct feedback absolutely helps feed into that 3rd gate of "well tested, optimally in real world usage", and is appreciated

[2022-05-18 17:03] ID4rker112 opened #5344 "os error 5"
cant do anything, theres an os error 5 all the time

[2022-05-18 17:30] calebcartwright commented on #5344
Please elaborate with relevant details, such as the version of rustfmt you are using (`rustfmt --version`), how you are running rustfmt (`cargo fmt`, `rustfmt foo.rs`, editor-on-save, etc.), the actual error message you are seeing, etc.

As initially posted this issue isn't really actionable nor anything we can even discuss with any substance

[2022-05-19 04:10] dcow commented on #3379
I just tried using this feature and it adds trailing commas to function argument lists at the call site. This seems way too broad. Is this intended?

[2022-05-19 04:38] dcow commented on #3347
This feature does not remove a leading blank comment line but it removes trailing blank lines.

[code]
becomes
[code]

[2022-05-19 04:59] dcow commented on #5018
If there are no plans to develop rustfmt 2 at the moment, then it would be nice to see some effort put into stabilizing all the unstable formatting options that exist. For reference, there are 25 stable options and 51 unstable options. The 1:2 stable:unstable ratio really makes this project feel unfinished as a user trying to configure rustfmt. If there were 60 stable options and 15 unstable, and

[2022-05-19 05:32] dcow commented on #3382
When

I am still experiencing this bug.

[2022-05-19 07:28] Timmmm commented on #5024
Can you actually change the default behaviour to be non-recursive? Wouldn't that be a breaking change?

[2022-05-19 13:10] ytmimi commented on #3382
@dcow I'd suggest that you open up a new issue to fully describe the problem that you're experiencing

[2022-05-20 02:44] calebcartwright commented on #5103
Thank you for sharing your thoughts @LoganDark. However, I don't feel like you rebutted the substance of our expressed rationale, and I'd also request that folks refrain from snark in comments to ensure a constructive dialog.

The question is not whether header/license/copyright features are useful. They are.
The question is not whether rustfmt could provide such features. It could.
The question i

[2022-05-20 02:47] calebcartwright commented on #5103
Not cargo/crates available tooling, but sharing these options anyway in case they end up being useful for anyone:

https://github.com/google/addlicense
https://github.com/cloudposse/copyright-header

[2022-05-20 02:50] LoganDark commented on #5103
I didn't intend for my comment to be snarky. I saw this in `rustfmt`'s issues (as a matter of fact, *while I was searching for the issue that you linked* and evaluating whether `rustfmt` would be a fit for my project) and didn't understand why this was out of scope or an unreasonable idea.

Your comment would have corrected my misunderstanding just as well without the accusation.

[2022-05-20 03:01] calebcartwright commented on #3379
@dcow - You didn't specify, but I'm going to assume you are using the `Always` variant of the [trailing_comma](https://rust-lang.github.io/rustfmt/?version=v1.4.38&search=#trailing_comma) option. In which case, the answer is yes, that is intended. Feel free to suggest changes to the associated documentation for that variant if you think it can be improved or found it unclear, but Always indeed mea

[2022-05-20 03:06] calebcartwright commented on #5024
I feel like there's a lot of subtext behind your question which I'll largely avoid except to say that I have no intention of stabilizing this option unless something dramatic changes.

This is of course part of the calculus and has always been part of the considerations and discussions. It's a grey area, but no not necessarily breaking. This can be done in a way that's transparent with no behavior

[2022-05-20 03:19] calebcartwright commented on #5103
No worries, though worth noting that impact tends to matter more than intent, and you could've simply asked for more information instead of phrasing things the way you did with the bolding in rust**fmt**

My point is that if rustfmt is the only tool that provides license checking features, that means that in order for users to use the license checking features they have to run rustfmt which will a

[2022-05-20 03:24] LoganDark commented on #5103
Thanks! This helps a lot.

[2022-05-20 03:27] calebcartwright commented on #5103
Sure thing! I'm hopeful someone(s) will pull together and put a crate out on crates.io that does license checking well and does it right (at least better than our current buggy implementation), both because it's going to be needed sooner or later and because I think it would be a fun project.

If/when someone does develop or discover one please do let us know as we'll be happy to point to it from

[2022-05-20 09:45] Timmmm commented on #5024
I'm not sure what you mean. I was just wondering if you really were considering making a breaking change to the behaviour, since this project seems to care quite a lot about stability (e.g. requiring nightly for `--unstable-features`). It definitely *is* a breaking change, but I'm not a zero-breaking-changes extremist so I'm all for it (maybe selfishly since it doesn't break anything of mine!).

[2022-05-20 12:50] CJKay commented on #3359
I'm also struggling to figure out what this option actually does. I expected these bounds to all be on the same line:

[code]

[2022-05-20 13:43] calebcartwright commented on #3359
Thank you both for sharing, and apologies @dhardy for missing the prior questions (suspect it got list in the github inbox noise). I'm not sure offhand if the behavior shared above is a bug or if we've simply got spectacularly underspecified docs for the option, but I vaguely remember having a similar thought/question in the past over the formatting of a type alias.

[2022-05-20 15:37] DrewTChrist commented on #1322
I was also looking for a solution to this. I have some code with a somewhat large list of constants. The best option I could find is putting the constants in a module and then adding `#[rustfmt::skip]` to the module. Not particularly ideal, but it works.

[2022-05-20 19:07] Manishearth opened #5345 "It should be possible to run rustfmt _only_ on doc comments"
There's a new `format_code_in_doc_comments` config which is quite useful and nice.

However, it formats the _entire_ codebase, including non-doc comment code. This can cause challenges since it's quite likely folks may want a separate set of configs for doc comments: chief of which would be line length restrictions. Rustdoc renders code blocks with a pretty large font and typically the code is wri

[2022-05-21 10:06] tommilligan opened #5346 "[unstable option] `skip_macro_names`"
Tracking issue for unstable option: `skip_macro_names`.

* [ ] [Option documentation.](https://rust-lang.github.io/rustfmt/#skip_macro_names)

From discussion here: https://github.com/rust-lang/rustfmt/issues/5324#issuecomment-1111797851

See [Processes.md, "Stabilising an Option"](https://github.com/rust-lang/rustfmt/blob/master/Processes.md#stabilising-an-option):

* [x]  Is the default value co

[2022-05-21 11:13] tommilligan commented on #5324
Opened an initial implementation of `skip_macro_names` here: https://github.com/rust-lang/rustfmt/pull/5347

[2022-05-22 17:40] l3utterfly opened #5348 "Formatting stops working with specific code structure"
VS Code
rustlang.rust v0.3.1051

The following code does not format (using the format command has no effect).

Removing the `println` line completely seems to make the code format again.

Is this a bug within rustfmt?

[code]

[2022-05-22 18:18] ytmimi commented on #5348
Hi @l3utterfly Thanks for reaching out. If you're on nightly you can try setting `version=Two` or `format_strings=True`. I just checked and both options should allow rustmt to format the `println!` call vertically.

The issue is that the nested `println!` call exceeds the default max line width of 100. You can try setting the max width to some sufficiently large value like 110, and rustfmt will th

[2022-05-22 18:18] #5348 closed

[2022-05-22 20:32] pozdneev opened #5349 "control_brace_style="AlwaysSameLine" is not respected when "if" and "if let" line length is near max_width"
If the `if let` of `if` line length is near `max_width`, then the [`control_brace_style`](https://rust-lang.github.io/rustfmt/?version=v1.4.38&search=#control_brace_style) option of `rustfmt` pushes the opening brace to the next line. (Notice that this option is still [unstable](https://github.com/rust-lang/rustfmt/issues/3377).)

I observe this behaviour for "rustfmt 1.4.38-nightly (9257f5aa 2022

[2022-05-23 02:39] l3utterfly commented on #5348
Thank you, this works now

[2022-05-23 03:01] ytmimi commented on #5348
I'm glad to hear that! Out of curiosity, which approach did you take to resolve your issue?

[2022-05-23 04:08] l3utterfly commented on #5348
I used both. I changed "max_width" to 200 which is about my editor screen length. But I still have some strings which are even longer than that, so had to add the "format_strings" flag as well.

[2022-05-23 04:12] l3utterfly commented on #5348
Incidentally, I need to set `version=Two` AND `format_strings=True` to get it to work

[2022-05-23 09:05] corneliusroemer commented on #5163
Isn't the style guide section referring to Rust code rather than string literals, though? The heading is *Multi-line calls*

[2022-05-23 09:12] corneliusroemer commented on #3353
Would be great if this could get merged @ayazhafiz

[2022-05-23 13:54] ytmimi commented on #5348
Got it! I'm glad that we were able to find a solution for your issue!

[2022-05-23 14:10] ytmimi commented on #5163
@corneliusroemer here's the relevant text from the `Multi-line calls` section (emphasis mine):

Since the string lit is multi-line the multi-line call rules kick in. rustfmt moves the opening line of the string lit to it's own line and block indents it. However, rustfmt can't add extra whitespace to the string lit as that would change the value of the string lit so the rest of the string is not bl

[2022-05-23 14:32] ytmimi commented on #3353
@yodaldevoid thanks for pointing that out. If you've got the bandwidth or interest to test the associated code snippets on the latest master that would be great, otherwise I can look into this a little later!

[2022-05-24 00:15] nekodjin commented on #3377
Why hasn't this been stabilized yet?

[2022-05-24 00:51] calebcartwright commented on #3377
We have a [well documented process for stabilizing options](https://github.com/rust-lang/rustfmt/blob/master/Processes.md#stabilising-an-option) and all options are presumed to need to remain unstable unless and until they can easily clear those thresholds, regardless of whether an option is 5 days old or 5 years old.

This option isn't stable because that hasn't happened yet, not to mention a bug

[2022-05-24 01:11] calebcartwright commented on #3353
We have a [well documented process for stabilizing options](https://github.com/rust-lang/rustfmt/blob/master/Processes.md#stabilising-an-option) and all options are presumed to need to remain unstable unless and until they can easily clear those thresholds, regardless of whether an option is 5 days old or 5 years old.

This option is still unstable because that hasn't happened yet. Additionally, t

[2022-05-24 01:53] nekodjin commented on #3377
Thank you.

[2022-05-24 14:35] jonathanpallant commented on #3351
I'd like to see this stabilised. When autogenerating source code, `#[doc(...)]` is a more predictable thing to emit, because it is not newline terminated. This means your codegen care emit zero newlines and care nothing about indentation. `rustfmt` can put that all back ... but currently you are still left with `#[doc(...)]` format comments and they are just less readable (to me at least) than `//

[2022-05-24 15:18] ytmimi commented on #3351
@jonathanpallant you can find more details about the [configuration stabilization process here](https://github.com/rust-lang/rustfmt/blob/master/Processes.md#stabilising-an-option). We're not quite ready to stabilize this option just yet.

@burrbull thanks for linking that issue. Here's another I was able to find in the issue tracker (#4879). There may be other issues so it would be a great help i

[2022-05-24 23:02] TheBlueMatt opened #5351 "Option to skip uneccessary match arm brackets"
If rustfmt decides to indent after the `=>` in a match (because the line ran too long) it also adds a `{}` and an extra line (for the `}`) even if the contents of the match arm fit onto a single line.

In the example at https://github.com/rust-bitcoin/rust-bitcoin/pull/959#discussion_r869753811 rustfmt generated

[code]

when it arguably could have (optionally) just stuck with

[code]

unlike ifs

[2022-05-24 23:26] calebcartwright commented on #5351
Thanks for sharing, but going to close as a duplicate of #4896

You may want to also subscribe to #4924. It may have stalled out a bit but made good progress and is the most likely candidate for implementation

[2022-05-24 23:26] #5351 closed

[2022-05-25 12:19] CJKay opened #5352 "Rustfmt inserts newlines before `where` blocks regardless of length"
I'm sure I'm not the only one to have been caught by this, but I've not been able to locate either existing or historical options to deal with this, nor any existing issues.

Anyway, the following snippet, despite not exceeding any of the line length limits in any fashion (that I'm aware of) is still chopped up into multiple lines.

Before:

[code]

After:

[code]

I would really appreciate an opt

[2022-05-25 13:16] ytmimi commented on #5352
@CJKay Thanks for reaching out!

rustfmt follows the [rust style guide](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/guide.md) and here's the section on [where clauses](https://github.com/rust-dev-tools/fmt-rfcs/blob/b208df842cbfa013fe2d3123a96ef2780a4a9950/guide/items.md#where-clauses). Based on the style guide rustfmt is working as intended. Not sure if this is an option for you,

[2022-05-25 14:05] CJKay commented on #5352
@ytmimi Ah, you're right, this duplicates #2168. I'll close this then, thanks.

[2022-05-25 14:08] calebcartwright commented on #5352
I'm actually going to reopen as I don't think this is necessarily an impossibility. There's some relevant caveats though which I'll elaborate later today after work.

[2022-05-26 06:11] TheBlueMatt opened #5353 "Condense `)\n.unwrap()` into a single line"
eg it'd likely make sense for
[code]
to just be
[code]
at least for cases where the number of `)`s (and maybe `}`s) is under some threshold.

[2022-05-26 16:03] calebcartwright commented on #5353
Thanks but going to close as a duplicate.

The tl;dr version is that we're planning on an introducing an option that folks could enable to have rustfmt honor the line breaks the developer did/did not originally add between chain elements. However, we're not going to attempt to support forced rewriting rules because of the myriad, highly subjective options folks have requested and would subsequentl

[2022-05-26 16:04] #5353 closed

[2022-05-26 18:39] calebcartwright commented on #5353
rustfmt's sole scope is to provide an AST driven pretty printer that emits code according to the rules codified in the [Rust Style Guide](https://github.com/rust-dev-tools/fmt-rfcs). I gather from your comments and phrasing on linked upstream PRs/issues that you still adamantly disagree with at least some of those rules, but that's really part of the point.

Our core mission is to support taking a

[2022-05-26 18:39] calebcartwright commented on #5353
Hard no for the reasons detailed above

[2022-05-26 19:43] calebcartwright commented on #5353
You can certainly open one proposing a breaking change, but yes I'd expect it to be shot down because I don't think there's much of anything new to be argued, just different perspectives/conclusions on the highly subjective topic. At this point i think it's highly unlikely that we'd introduce significant breaking churn across the ecosystem in order to make everyone's code more aligned to someone e

[2022-05-26 20:27] calebcartwright commented on #5353
That's largely because other than the recurrent attempts to reopen the great tabs vs. spaces debate, most people aren't strictly interested in trying to change the default. What you'll typically see are feature requests in this repo, and/or comments suggestions on other issues. I can't find the issues ATM, but we've had folks submit requests for functionally the same thing you've requested here ju

[2022-05-27 14:00] nstinus opened #5355 "Option to support clippy's semicolon_if_nothing_returned"
Hi,

Is there an option to properly format code to adhere to https://rust-lang.github.io/rust-clippy/beta/index.html#semicolon_if_nothing_returned?

Thanks !

[2022-05-28 06:48] LollipopFt commented on #3379
hi, may I know when this will be stabilised? just asking.

[2022-05-28 23:29] calebcartwright commented on #3379
https://github.com/rust-lang/rustfmt/issues/3377#issuecomment-1135281548

[2022-05-28 23:32] calebcartwright commented on #5353
Ha! It comes with the territory, as we developers are certainly a rather opinionated bunch. Though probably also true that I see a higher volume of subjective opinions being argued as if they were objective fact in this project as compared to others.

Such is life with something as personal and evocative as code styling

[2022-05-28 23:40] calebcartwright commented on #5345
This feels a bit like a particular solution to a problem that I'm not sure I fully understand even after glancing through the comments on the upstream PR.

Was the motivating scenario a desire to use a different/shorter width limit for code in doc comments, independent of the overall `max_width` and `comment_width`?

[2022-05-28 23:45] calebcartwright commented on #5355
No, not unless I'm forgetting something. However, it's important to keep in mind that rustfmt is not designed/intended to satiate clippy's rules nor vice versa, so it's not really a surprise.

rustfmt strictly operates at an earlier phase (AST pre-expansion, lowering, etc.) but we may have enough info available to support such an option.

If anyone is sufficiently interested then certainly feel fr

[2022-05-28 23:47] CrendKing commented on #4097
@topecongiro Is https://github.com/rust-lang/rustfmt/pull/4236 supposed to fix this? I can still reproduce the issue with cargo-fmt 1.4.38 nightly.

[2022-05-28 23:53] calebcartwright commented on #4097
@CrendKing I know it's not overtly obvious, but #4236 was merged into a different, experimental branch of rustfmt that's unrelated to the version of rustfmt that's actually shipped and supported. When you see issues or PRs that either have milestones pointing to a newer version of rustfmt, like the 2.0 milestone on this issue, or labels mentioning that a backport is pending, that means it hasn't b

[2022-05-29 00:05] CrendKing commented on #4097
Oh I'm sorry. I saw it was merged into "master" and has been 2 years, thus assumed it's released. Now I see it's scheduled for 2.0. Thanks.

[2022-05-29 00:06] calebcartwright commented on #4097
No worries! It's a bit of a mess and certainly confusing

[2022-05-29 08:02] ajtribick commented on #4097
@calebcartwright - would it be worth raising an issue to backport the fix to the released version? Or is the architecture too different between 2.0 and 1.4.x to make it worthwhile?

[2022-05-29 17:30] calebcartwright commented on #4097
No, I don't want to add a new issue. If someone wants to attempt to backport #4236 that'd be great, but I can't really speak to the effort involved. It could be as simple as a clean cherry pick of the merged commit(s), or, that implementation could touch/depend on portions of the codebase that had diverged significantly and may require a separate implementation against the current master branch.

[2022-05-29 20:32] lukas-code opened #5356 "Long chain of functions with generic parameter at the end gets badly formatted"
I have code that looks like this after formatting it with Rustfmt: [(playground link)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b656fcd358590bcc9a8c8480b4559277)
[code]

As you can see, the generic parameter gets put on its own line and the `()` become disconnected:
[code]

In my opinion this would be much more readable if it was formatted like this:
[code]

Interest

[2022-05-30 02:15] calebcartwright commented on #5018
I've been deliberately holding back on responding to this to ensure I'm in a good frame of mind before doing so. However, it's been well over a week and I still find it somewhat irksome and feel like I have to say that I really did not appreciate the characterization of the project as unhealthy and unfinished, particularly based on such a one-dimensional metric devoid of any context.

However, I'v

[2022-05-30 13:56] #5101 closed

[2022-05-30 13:56] #5102 closed

[2022-05-30 13:56] #5103 closed

[2022-05-30 19:05] dcow commented on #5018
@calebcartwright thank you for your thoughtful reply. Respectfully, I think you're essentially confirming my critique. First, to be clear, my intention was not to take a stab at any individual or comment on their (your) ability as a maintainer. I didn't realize this comment would be difficult for you to process. From my side, I'm just calling things as I see/experience them as a user struggling to

[2022-05-30 21:25] calebcartwright commented on #5018
@dcow - I found your last response rather puzzling. Not only did you completely overlook my prior points, but you grossly misrepresented what I said around resources/bandwidth.

Simply put, I acknowledge we could do better on some issue triaging and documentation, but strongly reject your conflations and characterizations that I believe ultimately tie back to the project's goals and priorities not

[2022-05-30 21:48] calebcartwright commented on #5323
I worry about the potential to spiral, especially if we end up supporting both reordering/regrouping. We can always go into it thinking we'll just do one for the current ask, but it's practically inevitable that sooner or later someone will come asking for a slight variant and it gets increasingly difficult to justify one but not the other.

[2022-05-30 21:53] calebcartwright commented on #3360
Affiliated bug #4794

[2022-05-30 21:58] dcow commented on #5018
I have no idea how you interpreted my comment in the way you have. Maybe I've inadvertently struck a nerve with you. My apologies if I have. In the short while my initial
comment has been posted, it's received 3 thumbs ups. So I don't think I'm coming in here non-constructively.

I can assure you I'm not simply annoyed that you won't work on config options. It's not about not getting *my* way. Tha

[2022-05-30 23:02] dcow commented on #5018
I think it might help if I gave my critique a different spin. Ignore everything I have to say about the soft stuff since I don't know what I'm talking about. Here's the hard tractable issue: I had some time I was willing to give to help this project get some unstable options stabilized based on my initial experience discovering so many unstable options. When I went and tried to figure out how I co

[2022-05-31 00:19] calebcartwright commented on #5018
@dcow there's no hard feelings and nothing has been taken personally.

I feel like you're now trying to retcon things a bit, but you have finally gotten to a couple more concrete topics so I will reiterate my prior comment and suggestions around constructive routes you could take if you do indeed want to help or share some more actionable ideas.

You opened with a short abstract ask that we work o

[2022-05-31 00:39] calebcartwright commented on #4672
If there's a separate case that won't be covered by backporting a prior fix let's be sure to note that (preferably with a separate issue for tracking)

[2022-05-31 00:43] calebcartwright commented on #4991
Big thanks again to @davidlattimore for addressing the comment issue, and I believe this has us on a good track towards stabilization. I believe there's really only two things left we need to consider before proceeding:

* do we have the ability to stabilize the option while leaving certain variants unstable (also so we can add new unstable variants in the future)
* do any of the current variants

[2022-05-31 14:28] nstinus commented on #5355
Understood. I think this could be useful as it would adhere to the recommended [style](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/statements.md#expressions-in-statement-position).
Could you share some pointers? I'd be happy to take a look if no-one more qualify can.

[2022-05-31 15:22] calebcartwright commented on #5355
I suspect the problem that you're going to run into is that rustfmt isn't going to have the information needed to be able to safely make that determination due the level it operates at as I mentioned earlier.

Not sure off hand where to best point you, but perhaps inspecting where the [`trailing_semicolon`](https://rust-lang.github.io/rustfmt/?version=v1.4.38&search=#trailing_semicolon) option is

[2022-05-31 15:26] calebcartwright commented on #5345
Thanks for confirming and clarifying. Though technically possible, I don't think it's going to be practical to try to go down the path of an entirely separate, doc comment only formatting mode (I can elaborate if need be).

What would be more straightforward is a new option that allows for controlling the width limit of code blocks separate from the other two options so that a shorter width limit

[2022-05-31 16:00] xhalo32 opened #5358 "/* comment */ inside trait generics gets duplicated"
[code]

Gets reformatted as

[code]

Whereas no changes were expected.

Playground:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=88c36ba8a83e2c01030bbbf95327be6a

Setting `version = Two` has no effect.

[code]

[2022-05-31 16:20] Manishearth commented on #5345
I think so, yes! I don't think the general feature is as necessary

[2022-05-31 16:35] calebcartwright commented on #5358
Thank you for the report! This feels like a bug with duplicative/overlapping comment recovery that's probably using the wrong span. The bug doesn't occur if there's a where clause present, so I suspect the problem is somewhere around here:

https://github.com/rust-lang/rustfmt/blob/79515f17ed4661da864347c90c76c51f9bf86069/src/items.rs#L1084-L1104

For anyone interested in taking a look, we should

[2022-05-31 17:59] calebcartwright commented on #5329
No, this change sounds like it was clearly version gated to avoid introducing a "breaking" formatting change and aligning with our formatting stability guarantee, and we shouldn't try to undo that.

I realize this is a bewildering and annoying formatting behavior, and I'd put it up there near the unnecessary spacing that gets inserted into nested tuple access by default. However, our hands are tie

[2022-05-31 17:59] #5329 closed

[2022-05-31 18:06] calebcartwright commented on #5344
Closing due to lack of information

[2022-05-31 18:06] #5344 closed

[2022-06-01 02:03] calebcartwright opened #5359 "New config option to support lower width limit on code blocks in doc comments"
The motivation for this new option is outlined in #5345, and the option proposed here is a potential solution to that scenario.

Specifically, we need to introduce a new config option named something like `doc_comment_code_block_width` (but feel free to come up with a better name) that's used to set the width threshold used when rustfmt is reformating code blocks residing within doc comments.

Thi

[2022-06-01 02:05] calebcartwright commented on #5345
Have opened #5359 to track implementation of the discussed option, will keep this separate and open as the articulation of the problem-to-be-solved. Will revisit once the option is available to confirm it will suffice, and close this if so.

[2022-06-01 12:54] CrendKing opened #5360 "Feature request: Option to have one "use" statement per file"
Currently `imports_granularity = 'One'` merges all imports into one "use" statement. In my opinion, functionally it does two separate things: 1) Combine all "use" statements; 2) apply `imports_granularity = 'Crate'` inside the braces. Obviously it has the advantage of having no duplicate "use". However, I also really like the style of `imports_granularity = 'Module'`. It's visually much clearer, a

[2022-06-01 17:44] wafrelka opened #5361 "`rustfmt` inconsistently formats blank lines in the beginning of blocks"
## Description

The current implementation exhibits inconsistent behavior for blank lines in the beginning of blocks depending on the type of the block.

The formatter removes all blank lines in the beginning of `enum`, `union`, `struct`, `impl` and `trait`.
However, blank lines in `fn`s are trimmed and inserted to match the number of blank lines to `blank_lines_lower_bound`.
In `mod` and `extern`

[2022-06-01 17:49] wafrelka commented on #5361
I noticed this while re-implementing #4303 into the current master branch.
It makes re-implementation trickier than I initially thought...

[2022-06-01 20:08] InsertCreativityHere opened #5362 "Rustfmt wrongly alphabatizes raw identifiers in `use` statements"
# Description

I'm writing a toy compiler, and recently split up the elements of my grammar into their own modules.
Unfortunately, there's overlap between the elements and some Rust keywords, so sometimes I need to use raw identifiers:
[code]
I would expect these to be sorted alphabetically, _not including the `r#`_
But, rustfmt seems to include it when sorting, and changes this to:
[code]

Note t

[2022-06-01 20:23] calebcartwright commented on #5362
Thanks for reaching out and being willing to work on it!

Fortunately (perhaps), this is one that was actually already reported (see #3791) and fixed in source control a while ago (and #3795).

However, the fix was made on a different branch that hasn't been pulled in yet. The only outstanding issue is that it technically qualifies as a formatting change which we have to gate against, and no one h

[2022-06-02 09:38] jplatte opened #5363 "Feature request: Add semicolon after assignment if it is at the end of a block"
It would be nice if curly-braced blocks that end in `a = b`, `a += b` or such could have a semicolon added after that assignment. This would make it more explicit that the operation returns nothing of interest out of the block.

[2022-06-02 12:45] sec65 commented on #4621
@ytmimi I'm new to this project and just had a look at this issue. I understand, what's happening, but I'm not so sure about the expected result. I could remove the if-condition, so the match-block is executed whether the args are empty or not.

That leads to the result that the line

`if x as i32<> < 0 {`

is not changed (what I thought was the expected result). But that fails the test case of #3

[2022-06-02 14:16] roy-work opened #5364 "rustfmt fails on an empty file; --check's diff doesn't result in properly formatted file"
Generate an empty file, and run `rustfmt --check` on it:

[code]

So, this is interesting; to me, an empty file is inherently correctly formatted (what else would you put in the file?). But the diff emitted by `rustfmt` here indicates that, instead of just an empty file, that it would like a file with two blank lines. But if you give it what it wants:

[code]
… the file is still not valid, and … t

[2022-06-02 23:03] calebcartwright commented on #5363
Think this has a lot of similarities to #5355, although perhaps a bit more narrow in scope?

[2022-06-02 23:03] calebcartwright commented on #5360
Acknowledge having seen this, but still process (and debating with myself a bit tbh :laughing:)

[2022-06-02 23:11] calebcartwright commented on #5361
Thank you for looking at this @wafrelka. Truth be told, I suspect this may require a number of backports (properly sequenced) or perhaps even a re-imagining in the 1.x branch context. My recollection is that the relevant PRs built on some significant code changes that we actually can't (or don't want) to land on the mainline, so the latter may end up being required.

Given the age of both implemen

[2022-06-03 01:56] calebcartwright commented on #5308
@ijackson - thanks for sharing your perspective. Give your shared interest in the option, I'd encourage you to also use the reactions on the OP to indicate your support. We don't necessarily drive our work based off user reactions on issues, but it's helpful metadata regardless.

You also seem to be implying that we've been unconstructive, and/or unwelcoming, and/or haven't made allowances for wor

[2022-06-03 03:41] CrendKing commented on #5360
Take your time. Let me know if you need more info.

[2022-06-03 05:18] jplatte commented on #5363
I looked for existing issues but didn't find that one. I'll look into enabling that clippy lint for my projects, but for this specific case it seems like rustfmt ought to be able to auto-format things.

[2022-06-03 07:40] sec65 commented on #4621
Thanks for your reply. I had a look into it, but unfortunately the distinction is not that easy (at least for me ;-):

The `x as i32<>` as well as `impl Foo<> for Bar<>` is rewritten via rewrite_path/rewrite_segment. A possible distinction is above, e.g.

`x as i32<>` is handled via ExprKind::Cast in format_expr_inner in expr.rs
`Foo<>` is handled via the Rewrite-implementation for TraitRef in typ

[2022-06-03 10:02] fbstj commented on #4914
rustfmt doesn't seem to do anything to [this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=628c69a2078ee3204e81dffe802a7995) let-else (line 11)

[2022-06-03 16:17] externl commented on #3379
I'm getting the same behavior as @dcow with the default "Vertical" setting when calling macros. For example I see this

[code]

is formatted to:

[code]

Something like:

[code]

formats correctly to:

[code]

Not sure if this is a bug or another settings I'm missing?

[2022-06-03 16:27] externl commented on #3379
Just found this relevant comment: https://github.com/rust-lang/rustfmt/issues/4956#issuecomment-914822481.

[2022-06-03 16:39] calebcartwright commented on #3379
You beat me to it @externl :smile:  but yes macro calls are an entirely different story, and it's intentional that rustfmt isn't stripping user-added commas in those cases for reasons detailed in some of those (transitively) linked issues

[2022-06-03 19:13] dcow commented on #5018
I'm trying to find a way to communicate with you because I'm genuinely trying to share feedback that I think can help make this project better. I realized that because you've unfortunately interpreted my commentary as unsolicited, abstract, and "drive by" in nature it's made it hard for you to receive it so I'm trying to drop that avenue since it doesn't seem to be an effective way to communicate

[2022-06-04 02:27] jhgg opened #5368 "regression: rustfmt using input from stdin emits empty output when using `#![rustfmt::skip]`"
Since #5094 - rustfmt now emits nothing to stdout if reading a file with `#![rustfmt::skip]` is provided via stdin.

For example, running `echo '#![rustfmt::skip]\n\nfn main() { }'  | rustfmt` no longer emits anything to stdout.

Rust-analyzer uses rustfmt to format files, and sends rustfmt the file contents to format via stdin.

This has caused an interesting issue, where rustfmt emits nothing, s

[2022-06-04 14:56] calebcartwright commented on #5368
Thank you for the report and bisection!

[2022-06-04 20:12] #5368 closed

[2022-06-04 20:14] calebcartwright commented on #5368
As I recall the custom tool attributes have only been available on nightly for a while now, so I don't think there's any need to pursue any kind of backport. I'm hoping to cut a new release sometime within the next couple days, and once available on nightly I'll drop a note on the RA issue to share the version that contains the fix

[2022-06-07 01:27] calebcartwright commented on #4621
It's definitely a problem that needs to be solved. We never want to have rustfmt accept an input that's valid, compilable code and produce an output which isn't. I suspect this probably isn't a terribly common occurrence (certainly not a widespread, every day encounter), and the available workarounds play into priority, but it's still something that needs to be addressed.

I've not really had a ch

[2022-06-07 01:29] calebcartwright commented on #4621
Also I acknowledge the easy route would be to simple change the way we handle empty arg lists, but that's desired behavior in most other contexts and is how rustfmt has behaved forever. I'd be highly hesitant to change that behavior just for this case

[2022-06-07 01:41] calebcartwright commented on #4621
Sorry, I realized this would actually be significantly more complicated as it really has to be considered in the broader context, particularly some right-most path ending the lhs operand in the presence of the `<` operator.

Really appreciate you looking at this one @sec65 and you're absolutely free to continue working on it, but I'm going to remove the `good first issue` label to reflect that und

[2022-06-07 10:45] conradludgate opened #5371 "Very long use line fails to format"
[Reproduction](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=92e05c8ec98f161ead2ebb20acf9b42d):
[code]

This tries to format into

[code]

Which I think triggers some misbehaviour and causes the block of imports to fail to format silently.

If given another item in the long module chain, it can format fine:

[code]

Amount of modules doesn't change anything, only the numb

[2022-06-07 11:06] Globidev commented on #5371
After experimenting a bit, there might be other parameters at play, like byte length and module nesting possibly ?
[code]
only formats the second one incorrectly:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=3018f3f16abba8c6dd43fe47f42307de)

[2022-06-07 17:00] VictorBulba commented on #5315
Hey!

[code]

Fails with the same error

[2022-06-08 03:06] ChayimFriedman2 opened #5373 "rustfmt removes `for<T>`"
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=52dc885487bfbc8dc557e62710089e76

Formatted with rustfmt, it becomes:
[code]
`for<T>` isn't valid Rust, but removing it looks wrong. However, feel free to close if you disagree.

[2022-06-09 00:45] Colecf opened #5376 "--check does not exit with status code 1 when input file is stdin"
`--check` doe not exit with status code 1 if the input file is stdin, despite what `--help` says.

Honestly, this behavior is preferable for our usecase, as we can already tell if the input is formatted correctly by the presence of the output diff, and can use the status code for more fatal errors.

[code]

[2022-06-09 15:43] brettfazio opened #5377 "rustfmt changes return type of loop and causes code to not compile"
Most basic example:

[code]
This just runs and does nothing.

If you run rustfmt it yields

[code]

This now fails to compile

[code]

[2022-06-10 09:19] tommilligan commented on #4991
I've been using both `imports_granularity` and `group_imports` at work for the last few months, and have had no issues apart from the aforementioned comments issue (now fixed). For reference our Rust codebase is ~79k LoC, ~300 files, ~50 crates.

I've searched the current open issues referencing `imports_granularity`, and I believe we can consider this box checked. I found:

- #5360 (new feature r

[2022-06-10 09:20] tommilligan commented on #4991
@calebcartwright If I understand this correctly, what you're requesting is that after stabilisation, it would be possible to:

- Pass an option such as `imports_granularity = "Crate"`, which is considered stable and will run on rustfmt stable
- Pass an option such as `imports_granularity = "NewVariant"`, which is considered unstable, and will not run on rustfmt stable

This behaviour should extend

[2022-06-10 13:51] tommilligan opened #5378 "Support unstable variants for stable options"
Add the ability to stabilize configuration options, while leaving certain variants unstable. This will also allow adding new unstable variants in the future, for extensible options (i.e. those configured by an enum).

Initially raised in https://github.com/rust-lang/rustfmt/issues/4991#issuecomment-1141562537

[2022-06-10 14:00] calebcartwright commented on #4991
@tommilligan - thank you!

#5360 would potentially be impactful, depending on if, and how, we decide to handle it. It wouldn't necessarily need to be implemented in order to be able to stabilize this option (fully or partially, for some variants), but would at least need to rule out parts of that proposal in order to proceed with stabilization.

Correct. I want to make sure that we have the abilit

[2022-06-10 14:04] tommilligan commented on #4991
I have opened a tracking issue at #5378 and a first implementation pass at #5379

[2022-06-10 22:44] calebcartwright commented on #5116
We can certainly introduce as unstable provided we don't completely _remove_ comments. I can't recall offhand what the current behavior is in the face of comments, but there's a fairly common approach elsewhere which would be fine to introduce on nightly: if we detect comments are lost then simply leave the span contents as-is. Also agreed we'd need to get the comment situation resolved before sta

[2022-06-10 22:48] calebcartwright commented on #5116
A broader behavior question for consideration, but I suspect we're going to have people that want to distinguish between re_grouping_ and re_ordering_. More specifically, that there would people that wanted to keep all lifetimes separate from all traits, with those respectively ordered amongst themselves, as well as another group that would want the full ordering with mixing and matching.

I would

[2022-06-10 22:52] calebcartwright commented on #5360
Before responding to the substance of your request, I was curious if you could elaborate on this :point_down:

Specifically, I'd like to know if you think there are genuine benefits to this or if it's more of a subjective feel/preference. Just my admittedly subjective .02, but I feel like the only impact of this is an extra level of indentation and greater risk of comments causing problems.

[2022-06-10 23:32] calebcartwright commented on #4991
Also note that #4725 would be a blocker for stabilizing the `Item` variant (it's closed, but note that it has the backport pending label which means the fix hasn't actually landed on the trunk branch yet)

[2022-06-11 00:05] calebcartwright commented on #5371
Thanks for sharing but closing as a duplicate of #4746

[2022-06-11 00:05] #5371 closed

[2022-06-11 00:12] CrendKing commented on #5360
Combining "module" with one "use" is my request. I really don't care much about "Item" + one "use", but I put there still for completeness.

As to benefit, "module" + one "use" objectively saves many redundant "use" at beginning of each line, which are replaced by indentation. However, editors are known to auto-insert indentations, but they don't auto-insert "use". Therefore, this will save a lot

[2022-06-11 00:14] calebcartwright commented on #4746
Deepest apologies @ciphergoth, this must've slipped through a crack in the notifications inbox.

I think we'd have to [version gate](https://github.com/rust-lang/rustfmt/blob/master/Contributing.md#version-gate-formatting-changes) any change, but I do think your proposal may align closely enough the the Style Guide [prescriptions for imports](https://github.com/rust-dev-tools/fmt-rfcs/blob/master/

[2022-06-11 00:26] calebcartwright commented on #5360
Please remember that individual users typically approach such things from the comparatively narrower context in which they have/would utilize a feature or write code, whereas we have to account for the comparatively significantly broader context of the entirety of circumstances for any and all developers.

e.g.

this may be true for you, but I can assure you there are plenty of scenarios where thi

[2022-06-11 00:37] calebcartwright commented on #5360
As to the substance of your request and rationalization, I _do_ agree the distinction you're drawing is a reasonable and logically defensible one. However, I view the current state as an intentional reflection of what an overwhelming number of users have expressed that they want relative to imports.

While I'm open to considering some alternative solutions to potentially support your desired forma

[2022-06-11 00:41] CrendKing commented on #5360
I understand. I can't represent everyone using rustfmt. I can only share my opinion. You guys have much more experience so feel free to reject this request if you deem inappropriate.

When I first wrote the request, I thought the two options doing two separate things. "one use" firstly converts individual statements into one block, and granularity does what it's doing atm, sans "One". So I was ima

[2022-06-11 00:43] CrendKing commented on #5360
Just read your last comment. Totally understandable. I appreciate your hard work. Feel free to do whatever you consider appropriate. At the end of the day, it's just a different code style. I can live with it.

[2022-06-11 00:53] calebcartwright commented on #5360
Sounds good. Will leave this open for a while in case you or someone else decides you'd like to pick it up and try implementing

[2022-06-11 03:36] davidlattimore commented on #4991
Thanks @calebcartwright - I created a [PR](https://github.com/rust-lang/rustfmt/pull/5380) to backport it.

[2022-06-11 12:10] hbina commented on #3008
Is there a way around this yet? I have a very long and descriptive name like `update_transaction_from_database_after_bla_bla` plus even more arguments to this function. I suspect this is what causing `cargo fmt` to just bail out. Is there any reason why this even happen?

[2022-06-12 09:41] Aboussejra opened #5381 "rustfmt bug which results in poorly formatted code"
You can find the repo to reproduce the bug here: https://github.com/Aboussejra/rustfmt_bug

Here is a minimal example I created after I found at work a case that yields a bug in rustfmt.

The given code here in src/main.rs is badly formatted by rustfmt:

[code]

After investigation the long message in .expect() makes rustfmt fail.

Try changing from:
(Here rustfmt does not work)
`.expect("this is

[2022-06-13 00:44] ytmimi commented on #5381
Thanks for reaching out!

The issue you're running into is that the string passed to `expect()` prevents rustfmt from formatting the chained method calls to satisfy the default `max_width` of `100` so rustfmt just emits back out what you originally wrote. If you format the snippet by hand you'll see that the `expect()` line is ~125 characters long when you include the indentation.

You could get y

[2022-06-13 00:45] #5381 closed

[2022-06-13 00:58] ytmimi commented on #5373
Thanks for reaching out!

This seems like it's related to #5316, and I called out a similar issue with an empty `for<>` being removed in https://github.com/rust-lang/rustfmt/pull/5301#issuecomment-1105882185.

These two might not be 100% related, so it's good to have a dedicated issue to track what's going on just in case.

Assuming the code can be parsed when written with `for<T>`, I think we sho

[2022-06-13 01:07] ytmimi commented on #5315
@VictorBulba Thanks for reaching out. Since your example happens in the context of a match arm I don't think these two are related, however #4037 seems to outline the same issue you're describing here!

[2022-06-14 00:46] ytmimi commented on #5329
Do you think you could elaborate a little more on the path forward?

[2022-06-14 02:28] ytmimi commented on #4621
@sec65 Just wanted to apologize for the misleading `good first issue`. I assumed it would be easy when I labeled it that, but alas it was definitely harder to go down the route that I initially thought we could use. I've gone ahead and implemented your suggestion to wrap the cast in parentheses! Feel free to take a look at the PR if you've got time.

I know you're on the lookout for other issues.

[2022-06-15 19:50] Garandor commented on #5103
One more possible alternative is this python tool claiming to support rust sources:
https://github.com/johann-petrak/licenseheaders

[2022-06-15 19:53] LoganDark commented on #5103
Not really an alternative in the traditional sense, since it requires Python.

[2022-06-16 01:06] #5362 closed

[2022-06-17 03:15] #5359 closed

[2022-06-19 10:04] davidBar-On commented on #1650
Seems that the following options are available to resolve this issue:
1. Add a note in the `toml` documentation about that behavior.
2. Add a configuration option for whether moving up in the directories tree should be with or without the canonicalization.  I am not sure this approach is useful and seems as an overkill.
3. Search first without canonicalization and if a `toml` file is not found sea

[2022-06-20 00:08] dtolnay opened #5391 ""left behind trailing whitespace" internal error if second consecutive line comment starts with certain characters"
Rustfmt fails to format the following file.

[code]

- The failure is sensitive to the contents of the second comment. For example `// Y` or `//Y` does not hit this bug. `//.Y` or `//~Y` or `//^Y` do.
- The failure does not appear to be sensitive to the contents of the first comment, just that there is a comment.
- The failure is not sensitive to the second comment being the last thing in a block;

[2022-06-20 02:02] ytmimi commented on #5391
Thanks for the report!

I quickly took a look at this. At least in the case that you've described above it looks like we need `version=Two` to be set (EDIT(@jieyouxu): a.k.a. `style_edition=2024`). Setting `version=One` produces different formatting. Using `rustfmt 1.5.0-nightly (3de1a095 2022-06-17)` with `version=One` this is what I'm getting for your input snippet:

[code]

At least in the case

[2022-06-20 03:36] ytmimi commented on #5391
Okay after some more digging its seems like the `//.Y` and the `//~Y` cases are being treated as `CommentStyle::Custom` since that's what `comments::comment_style` is returning.
https://github.com/rust-lang/rustfmt/blob/3de1a095e0ed52ade1b88d165d44d80455d3e6c5/src/comment.rs#L41-L50

Placing a space between the leading `//` and the `~` or `.` helps rustfmt correctly classify these comments as `Com

[2022-06-20 03:41] dtolnay commented on #5391
No. `compiletest_rs` requires no space. See https://rustc-dev-guide.rust-lang.org/tests/ui.html#error-annotations.

[2022-06-20 03:46] ytmimi commented on #5391
Got it, just wanted to see. It looks like the `CommentStyle::Custom` variant was added in #1607 to handle cases with multiple forward slashes

[2022-06-21 12:13] davidBar-On commented on #3277
Submitted PR #5394 with a proposed fix.

[2022-06-21 16:00] utkarshgupta137 commented on #4991
Exactly.

Current behaviour with `imports_granularity` = `Crate`:
[code]

Desired behaviour:
[code]

[2022-06-21 16:11] calebcartwright commented on #4991
Thank you for clarifying.

I'll wait to let the masses weigh in, but speaking purely personally, will note that sounds a bit too bespoke and has too much friction with the consistency goals imo.

Though technically possible, I'm not sure how practical it would be (especially since it would open a fairly large door), and it would certainly derail the current stabilization progress.

[2022-06-21 18:57] kadiwa4 commented on #1306
This no longer applies.

[2022-06-21 20:10] ytmimi opened #5395 "cargo-fmt version not displaying correctly"
On the latest master (2c8b3bef2bb5d708e047afc4d0dadf0a85528470) the cargo-fmt binary isn't displaying it's version information properly.

This is what I get when running cargo-fmt

[code]

However we aren't seeing the same issue with rustfmt

[code]

[2022-06-21 21:03] faern commented on #4991
I agree with @calebcartwright. Sounds too bespoke and edge casey for me also. What about other crates with a huge API surface in very many unrelated areas? Such as `async-std` for example. Should rustfmt then allow specifying a list of crates to except from the import merge rule?

[2022-06-21 21:05] utkarshgupta137 commented on #4991
I too would prefer that this option gets merged first & then we can consider this later on.

[2022-06-22 02:07] stepancheg opened #5398 "rustfmt does not collapse foo::{self}"
[code]

is collapsed to:

[code]

But this:

[code]

is kept as is.

Used `rustfmt` from master (2022 Jun 22) with `rustfmt.toml` from `rustfmt` repo.

This behavior doesn't look intentional.

[2022-06-22 03:21] ytmimi commented on #5398
@stepancheg, thanks for reaching out.

I can't find any great documentation on the topic, but the two cases you mention aren't equivalent. The best resource I can link you to are the discussions in #3568, #4681, and https://github.com/rust-lang/rust/issues/60941

A brief summary of the issue is that each import brings different things into scope so converting `use foo::{self};` to `use foo;` could

[2022-06-22 03:21] #5398 closed

[2022-06-22 03:47] stepancheg commented on #5398
@ytmimi thank you for the explanations!

[2022-06-22 06:58] davidBar-On commented on #4689
@[jyn514](https://github.com/jyn514),

I checked and this issue is **not** fixed by the PR.  I assume it is better to open a new issue then try to enhance the PR to also fix this problem.

[2022-06-22 10:55] rbtcollins commented on #8
If we just solved the case of a rust syntax embedded in a macro - e.g. the `cfg-if` crate is a good example of this - it would help developers a lot.

[2022-06-22 11:32] fbecart opened #5399 "Recent nightly rustfmt broke compatibility with stable rustfmt"
Hi, I hope this is the right channel to discuss an issue I'm having with rustfmt nightly. In my team, we format our code with `cargo +nightly fmt`, as we use some nightly-only features. Our CI doesn't have the nightly toolchain installed, but this hasn't caused us any issue (so far) since the format produced by nightly rustfmt has been backwards-compatible with stable.

However, this stopped worki

[2022-06-22 12:14] calebcartwright commented on #5399
Thank you for reaching out. Could I ask you for two things:

* Please provide a direct, minimal repro (not just a git diff or --check output)
* Please clarify which versions you are using, both stable and nightlies (you mentioned Monday, but then a nightly version that's a month+ old)

[2022-06-22 12:22] ytmimi commented on #5399
Hey @fbecart you might consider checking the [1.5.0  CHANGELOG](https://github.com/rust-lang/rustfmt/blob/master/CHANGELOG.md#150-2022-06-13) If none of those options work, you might need to use [git-bisect](https://git-scm.com/docs/git-bisect) to pinpoint the commit.

When you have a moment could you also update the description with any configuration options you might be using since you mention t

[2022-06-22 12:30] calebcartwright commented on #5399
Let's just start with the snippets :wink: We can investigate on our end but there's a good amount of complexity trying to map commits in our repo to nightly versions given the release process and I'm not sure how readily map-able that'll be for end users.

[2022-06-22 13:53] fbecart commented on #5399
Thanks for the fast answer.

I bisected the nightlies. The first nightly which has the issue is `nightly-2022-06-15` (`nightly-2022-06-14` is fine).

`stable`/`nightly-2022-06-14`:

[code]

`nightly-2022-06-15`:

[code]

Diff:

[code]

[2022-06-22 14:07] calebcartwright commented on #5399
Thanks, but we're still lacking clarity here. You mentioned experiencing this without using any unstable options, but you also mentioned that you were using options which has to be the case; rustfmt defaults would not emit any of the snippets you've shared regardless of version.

Please share your configuration file or enumerate the options and values if you are setting them from the command line

[2022-06-22 14:29] calebcartwright commented on #5364
Thanks for looking at this @carsonRadtke! The biggest problem here is the idempotence failure, as subsequent runs shouldn't be complaining about the output from prior runs.

Treating a completely empty file as needing to be changed to have one newline character is longstanding behavior, and I'm sure if we had an operable time machine we could revisit that decision, but it's not something we should

[2022-06-22 14:39] carsonRadtke commented on #5364
Understood, but if a single line is expected, then there is no idempotence failure. A file containing two lines has a single `"\n"`. A file containing two `"\n"`s  Would look like:
[code]
And rustfmt formats to
[code]
So it appears rustfmt is behaving as expected.

[2022-06-22 14:43] calebcartwright commented on #5364
Ah perhaps I misunderstood then. I thought we were running rustfmt (in the default file edit mode) and then a subsequent check was failing. If it's just a case of the check output being unclear due to the diff being exclusively whitespace characters then that's something different, and perhaps best addressed via doc updates for increased clarity

[2022-06-22 14:55] carsonRadtke commented on #5364
That doesn't appear to be the case for me.
[code]

I'd be happy to update the docs. That being said, I don't see anything in `docs/index.html` that references `--check` or the diff.  What kind of doc update did you have in mind?

[2022-06-22 15:06] fbecart commented on #5399
@calebcartwright Sorry, I forgot about this part: there is one option necessary to reproduce the issue: `--config max_width=140`

[2022-06-22 15:15] calebcartwright commented on #5399
No worries, able to reproduce now, much appreciated!

@ytmimi - this is indeed stability breaking which is bad enough on nightly but even more so if it were to hit stable. nothing definitive comes to mind for me as a root cause, though I worry it could be the introduction of memoization on expressions. If you get a chance to look today that'd be great, if not I'll try to get to it tonight, but it'

[2022-06-22 15:39] ytmimi commented on #5399
Your hunch regarding the memoization seems to be correct. I created `issue_5399.rs` with the contents from the `stable/nightly-2022-06-14` code snippet.

Checking out the commit that introduced the memoization reproduces the issue
[code]

moving one commit further back leaves the input snippet unchanged.
[code]

[2022-06-22 16:09] maltekliemann opened #5401 "Closure fails to format correctly when there are too many generics"
I'm using vanilla settings.

[code]

...formats to...

[code]

Is this expected behavior? I would have expected...

[code]

...or (I'm not a big fan of the 1 space indentation for closure arguments)...

[code]

[2022-06-22 16:24] ytmimi commented on #5399
I've been playing around with some things and it seems like not memoizing method calls fixies the issue. Was just about to open up a PR with the following change in `format_expr`:

[code]

We can certainly revert the offending commit if you think that's a better fix

[2022-06-22 22:37] tcharding opened #5404 "Cannot set granular width configuration settings to 100% if `max_width = 100`"
Thanks for your work on rustfmt!

The granular width configuration settings are documented to be percentages of `max_width` (e.g. [chain_width](https://github.com/rust-lang/rustfmt/blob/master/Configurations.md#chain_width)). However when `max_width` is set to 100 setting their values to `100` causes a warning
[code]

The error message is both surprising and incorrect since `fn_call_width = 100` i

[2022-06-22 22:45] #5399 closed

[2022-06-22 22:47] #5395 closed

[2022-06-22 22:48] calebcartwright commented on #5399
I think given the hour the earliest possible nightly this could land in would be 06-24 but I'll drop a note hear confirming with the first nightly that actually contains this

[2022-06-22 22:51] calebcartwright commented on #5364
That site is purely for configuration, but I think we can extend the help text that folks see from rustfmt itself:

https://github.com/rust-lang/rustfmt/blob/08105e80b7c48782cfd7acbf3695c7f14c839cfd/src/bin/main.rs#L99-L103

and then maybe just even in the brief blurb on `--check` on the readme in

https://github.com/rust-lang/rustfmt#verifying-code-is-formatted

It may even be worth expanding it

[2022-06-22 22:52] calebcartwright commented on #5364
Also just as a heads up @carsonRadtke note that you can claim an issue you'd like to work on by dropping a comment with text `@rustbot claim`

[2022-06-23 01:21] carsonRadtke commented on #5364
Okay, @calebcartwright, thanks for the help.

[2022-06-23 01:22] carsonRadtke commented on #5364
@rustbot claim

[2022-06-23 03:38] calebcartwright commented on #4991
The challenge is that I'm not sure I see a great a way in which we could stabilize this option and then introduce the behavior you're referring to. The only way I can think of that wouldn't necessitate breaking/changing a stabilized option (not permitted) would be to have a rather intense new variant for `imports_granularity` with a very long name that provided what you're asking for.

If that's a

[2022-06-23 10:13] tommilligan commented on #4991
I can see a path forward where the existing option is considered the `default` formatting style for all imports. A new option can then be added and stabilised which takes a mapping of crate name -> granularity level, overriding the default value.

However, I agree that this is a very complex case and I'm not sure what value it brings to the user. I'm not personally interested it, though I am very

[2022-06-23 10:18] carsonRadtke commented on #5377
@rustbot claim

[2022-06-23 14:57] calebcartwright commented on #4991
Agree with the thrust of your comment, but this is precisely the type of thing we'd want to avoid as it just leads to a more convoluted config surface that's increasingly difficult to consume and explain. This is even more true for imports where there's already a disproportionately large number of configuration options that have to be considered against each other

[2022-06-23 15:05] utkarshgupta137 commented on #4991
Would it be acceptable to add an attribute, similar to `rustfmt_skip` later on?

Now that I think about it, setting this attribute in each file instead of globally for each crate would make it much more useful.

[2022-06-23 17:28] ytmimi commented on #4476
Reopen since we had to revert https://github.com/rust-lang/rustfmt/pull/5139 in https://github.com/rust-lang/rustfmt/pull/5403

[2022-06-23 17:28] ytmimi commented on #4867
Reopen since we had to revert https://github.com/rust-lang/rustfmt/pull/5139 in https://github.com/rust-lang/rustfmt/pull/5403

[2022-06-23 19:24] davidBar-On commented on #4689
@[jyn514](https://github.com/jyn514), the issue is not resolved by this PR.  I evaluated it to make sure it is not related and I have some observations.  If you will open a new issues I will discuss there what I found.

[2022-06-23 20:52] jyn514 opened #5407 "Rustfmt removes all indentation from the `where` clause here, making it inconsistent with the function header"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f049e90069a93ab8471f51e0a4f27db5
[code]

cc @davidBar-On

_Originally posted by @jyn514 in https://github.com/rust-lang/rustfmt/issues/4689#issuecomment-1162404085_

[2022-06-23 22:27] ytmimi commented on #5407
I've tracked the issue down to lines 2421-2446 in `items::rewrite_fn_base`. rustfmt is trying to recover comments between the return type and function body, but instead of finding comments it finds `"\n____where "` (underscores used to represent spaces).
https://github.com/rust-lang/rustfmt/blob/c4416f20dcaec5d93077f72470e83e150fb923b1/src/items.rs#L2421-L2446

And when we get to line 2434 the tri

[2022-06-23 22:55] jyn514 commented on #5407
I like that a lot :) yeah I didn't even realize I had an empty `where` clause at first, it seems fine to remove.

[2022-06-24 09:19] davidBar-On commented on #5407
Three enhancements may be considered to the change suggested by [ytmimi](https://github.com/ytmimi):

#### 1st* proposed enhancement:
Fix the original indentation issue.  As the `where` was handled as a comment, replacing it with a comment results the following output:
[code]
This can probably be fixed by replacing the `'\n'` in [line 2436](https://github.com/rust-lang/rustfmt/blob/c4416f20dcaec5d

[2022-06-24 13:06] SimonSapin commented on #5083
I’d like for this option to have another value named `Visibility` that makes one group for `use example;`, one for `pub(crate) use example;` and another for `pub use example;`. (I’m less sure of the groups’ order.)

This is to separate private imports (that are only there for convenience of naming things inside a module’s code) from reexports that affect the public API of a module or crate.

[2022-06-24 14:47] ytmimi commented on #5407
@davidBar-On thanks for the thorough explanation, and for pointing out some cases that I missed! If you're interested in opening up a PR for this that would be great, otherwise I think there's plenty of good insights listed above that someone else could use to come with a fix

[2022-06-25 07:06] davidBar-On commented on #5407
I will open a PR, as I already have a draft implementation of the changes (this is how I found the other issues).

[2022-06-25 16:17] calebcartwright commented on #4991
I understand and appreciate you're just trying to brainstorm @utkarshgupta137, but have to stress this is an absolutely massive creep of scope and is completely unrelated to the stabilization of a configuration option.

I don't want this stabilization tracking issue to go off the rails on an orthogonal topic, but will say that while I understand why some users may want to have attribute-based, div

[2022-06-25 23:08] stepancheg opened #5409 "1.5.1, nightly and changelog"
[code]

[code]

[code]

The version shown is 1.5.0.

Changelog entry for version 1.5.1:

So either rustfmt prints version incorrectly, or the version was not updated in nightly-2022-06-24, as announced in changelog.

[2022-06-25 23:29] #5409 closed

[2022-06-25 23:37] calebcartwright commented on #5409
Thanks, but closing as unnecessary. The nightly release process is strictly dictated by what happens to exist in the rust-lang/rust repo at the point in time the nightly builds kick off. When we make changes in this repository respective to dates about upstream releases, they are best guesses, as we have no future insight into when PRs upstream, in a different repository may land.

There was a pre

[2022-06-26 13:50] IceTDrinker opened #5410 "Deduplicate imports"
Hello!

I searched the issues and could not find a similar issue, if there is already one on that topic I missed feel free to close this one.

I find myself solving some merge conflicts lately that happen for use statements, sometimes ending up with more than one import of the same name e.g.:

[code]

And running rustfmt on that does not deduplicate the import.

In practice the use statements caus

[2022-06-26 22:39] ytmimi commented on #5410
Thanks for reaching out.

If you're able to use a nightly version of rustfmt you can set the [imports_granularity](https://github.com/rust-lang/rustfmt/blob/master/Configurations.md#imports_granularity) option to anything other than the default of `Preserve` and the import should be deduplicated.

Let me know if that helps.

@calebcartwright when set to `Preserve` should we deduplicate?

We recent

[2022-06-26 23:04] ytmimi commented on #5410
looking into this a little bit more, I don't think we can take the exact same approach as #5380, however I think a good place to perform the deduplication would be `normalize_use_trees_with_granularity` for the `Preserve` case.

https://github.com/rust-lang/rustfmt/blob/c4416f20dcaec5d93077f72470e83e150fb923b1/src/imports.rs#L213-L223

[2022-06-27 03:13] ytmimi commented on #5410
Although I have a proof of concept for how we could go from `use std::vec::{Vec, Vec};` -> `use std::vec::Vec;` We currently have a test case in `tests/target/multiple.rs` that goes against this kind of normalization:

https://github.com/rust-lang/rustfmt/blob/c4416f20dcaec5d93077f72470e83e150fb923b1/tests/target/multiple.rs#L19-L23

Because of that I'm not sure if we should try to change this for

[2022-06-27 07:18] fbecart commented on #5399
I confirm the issue is fixed in the latest nightly. Thanks for your quick reaction :+1:

[2022-06-27 07:57] IceTDrinker commented on #5410
What is the rationale behind keeping duplicates? (as it's not valid rust code it seems?)

[2022-06-28 10:12] megahomyak opened #5412 "Formatter does not fold a long line"
[code]
^ two lines here are longer than 100 characters (even not considering the additional indentation in my code), but none of those are folded

**rustfmt version**: rustfmt 1.4.38-stable (fe5b13d6 2022-05-18)

[2022-06-28 13:44] ytmimi commented on #5412
Thanks for reaching out.

I'm unable to reproduce this. I'm using `rustfmt 1.4.38-stable (fe5b13d6 2022-05-18)` with no configuration options. The issue may be that you need to wrap you snippet in a function for it to parse properly. Here's how I've modified your snippet (just wrapping it in a main function):

[code]

After running rustfmt I get:

[code]

When you get a chance can you confirm that

[2022-06-28 15:04] megahomyak commented on #5412
Oh, it really works fine without the context. Here's the full snippet: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9a0eaa300539229fd54f8d84da914295
Line 158 is the line of interest

[2022-06-28 15:50] IceTDrinker commented on #5410
Thanks a lot for the insights 🙏

From afar apart the comment one which seems a bit unavoidable and pathological, the others can be deduplicated with the normalization/flattening part I think I saw in the code? and then recompose them with the proper import granularity

[2022-06-28 16:00] ytmimi commented on #5412
Thanks for including the full snippet. The extra context really helps! I see now that we're dealing with a deeply nested structure. Almost certain this is a duplicate of https://github.com/rust-lang/rustfmt/issues/3416, and https://github.com/rust-lang/rustfmt/issues/3863 so going to close accordingly.

If you're using a nightly rustfmt, you can try setting `version=Two` and `format_strings=true`

[2022-06-28 16:01] #5412 closed

[2022-06-28 17:56] ytmimi commented on #5404
Thanks for the report!

Just as a heads up, when filing an issue please try to include a minimum code example that can be used to reproduce the issue along with any configuration options needed to produce the issue. It was a little tricky to track down since I tried running rustfmt on a few files and I couldn't reproduce the error until I ran rustfmt against `src/utils.rs`. Doing so the error is e

[2022-06-28 17:59] mpfaff opened #5413 "ICE in special `cfg_if` handling"
If you invoke any macro named `cfg_if` with starting with `if` and not following the rules of the macro of the same name provided by the [cfg-if](https://crates.rs/crates/cfg-if) crate, rustfmt will panic.

Here is a minimal example to reproduce the issue:

[code]

Output when running `RUST_BACKTRACE=1 rustfmt +stable lib.rs`:

[code]

And when running `RUST_BACKTRACE=1 rustfmt +nightly lib.rs`:

[2022-06-28 18:19] ytmimi commented on #5413
Thanks for the report!

This is definitely something we'll want to take a look at. I also want to point out that the deadlock case is a duplicate of #4442

[2022-06-28 18:26] calebcartwright commented on #5404
fwiw I know this has been reported before, but can't find the prior issues atm

[2022-06-28 18:30] calebcartwright commented on #5413
I appreciate the report @mpfaff and for your investigation @ytmimi, but want to be fully transparent that this will be a low priority.

There's very few macro calls which we provide special case handling for, and only do so in those cases because of a known, minimal set of arg tokens to expect, such as `cfg_if`. While it would of course be better to handle this more gracefully, handling intentiona

[2022-06-28 18:47] calebcartwright commented on #5410
Thank you for sharing @IceTDrinker and @ytmimi for providing context and details.

There's been some prior discussions on this topic which I can't find at the moment so will attempt to recap.

The historical, and thus the continued, behavior of rustfmt was to only attempt to deduplicate with the user gave rustfmt the permission to merge/modify imports, originally via the `merge_imports` option whi

[2022-06-28 18:57] ytmimi commented on #5345
[doc_comment_code_block_width](https://rust-lang.github.io/rustfmt/?version=v1.5.1&search=#doc_comment_code_block_width) was [added in the v1.5.1 release](https://github.com/rust-lang/rustfmt/blob/master/CHANGELOG.md#added), and should be available on nightly now!

[2022-06-28 19:04] calebcartwright commented on #5345
Thanks for triaging this issues! However, going to reopen this actually to give the team time to test drive the solution and see whether it actually allows them to address the original problem.

Let us know if/how it's working out for you Manish

[2022-06-28 19:53] Manishearth commented on #5345
Thanks!

[2022-06-28 21:49] Manishearth commented on #5345
It works pretty nicely! Setting it to 80 seems quite ideal for us.

[2022-06-28 21:49] #5345 closed

[2022-06-28 21:59] calebcartwright opened #5415 "[unstable option]: doc_comment_code_block_width"
Tracking issue for unstable option: `doc_comment_code_block_width`.

[Option documentation.](https://rust-lang.github.io/rustfmt/#doc_comment_code_block_width)

See [Processes.md, "Stabilising an Option"](https://github.com/rust-lang/rustfmt/blob/master/Processes.md#stabilising-an-option):

- [ ] Is the default value correct?
- [ ] The design and implementation of the option are sound and clean.
-

[2022-06-28 22:09] tcharding commented on #5404
Wow @ytmimi, thorough research/response, thank you. I'll add the minimal repro next time.

[2022-06-28 23:20] anforowicz opened #5416 "wrap_comments with a *numbered* markdown list"
# Repro steps

Step1: Prepare the following `main.rs` file as an input for `rustfmt`:

[code]

Note that the long lines are 98 characters long.

Step2: Run `rustfmt --config wrap_comments=true src/main.rs`

Note the usage of `wrap_comments=true`.

# Expected behavior

Lists remain formatted as lists.  This expectation is based on:

- https://doc.rust-lang.org/rustdoc/how-to-write-documentation.htm